[2019-02-27 18:44] reneschulte opened #2 "Unity HoloLens sample freezing at "Looking for Anchors" step"
Hi,

The Unity HoloLens sample is stuck at one stage if its not build with Unity C# Projects as output.

I basically just tapped through the Basic scene demo. It all worked well and I see the anchor upload worked in the Azure Portal so Key and ID should be fine. Later it is stuck in "Looking for Anchor..."

It is sporadically and looks like some race condition / Heisenbug. When you build with C# p

[2019-03-01 03:22] shutupzk opened #3 "Unity Android is not working! how to create AuthenticationToken?"
when I CreateAnchorAsync(cloudAnchor), error occurred；

maybe  the AuthenticationToken or AccessToken is error, but I do not know how to create  AuthenticationToken or AccessToken,  and the Document do not show me hou to do that!

2019-03-01 11:17:09.038 3602-3659/com.google.ar.core.examples.unity.helloar E/Unity: InvalidOperationException: . Request CV: . Response CV: .
      at Microsoft.Azure.S

[2019-03-01 16:42] jbienzms commented on #3
**Disclaimer**: I work for Microsoft but I'm not part of the ASA team.

I was running into this issue yesterday as well. Today it worked for me without any changes. I don't know if there was an issue on the server side or if there is maybe a race condition in the native code or what went wrong, but I suggest trying again today. Hopefully someone from the team can chase this down.

[2019-03-01 17:06] jbienzms opened #4 "Unity Asset Package or Usage in my Own Project"
I would really like to see Azure Spatial Anchors available as a stand alone Unity Asset Package. Or at least I would like to see some clear instructions on how to add it to my own project.

Right now it seems the only way to locate the files I need to use ASA in my own Unity projects is by cloning this sample repository. But looking at the sample project it's a little confusing to me which files a

[2019-03-04 04:27] ChangweiZhang opened #5 "Can't get AccessToken"
After I open the SharingServiceSample project, I find the SpatialAnchorsTokenService.cs file and configure out I need fill it with my credentials info as below:
![image](https://user-images.githubusercontent.com/4610610/53710542-b5497a80-3e78-11e9-828a-c84e2918e606.png)

When I get the AAD token successfully and try get the spatial service access token, there is a error response as below:

![image

[2019-03-05 21:59] jbienzms opened #6 "Event Names in AzureSpatialAnchorsDemoWrapper"
AzureSpatialAnchorsDemoWrapper contains the following events:

- OnAnchorLocated
- OnLocateAnchorsCompleted
- OnSessionError
- OnSessionUpdated
- OnLogDebug

However, per [Event Design](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event) and [Standard .Net event patterns](https://docs.microsoft.com/en-us/dotnet/csharp/event-pattern),  "On" should only be used to name a protec

[2019-03-06 08:44] reneschulte commented on #3
I can confirm the Basic scene won't work on ARCore. The camera view is not shown and just a blue background. I confirmed my Build Setting are correct via trying the Google AR Core HelloAR sample scene which is also included in the project.

[2019-03-06 08:44] reneschulte commented on #3
Maybe it is related to that race condition in the HL sample as well:
https://github.com/Azure/azure-spatial-anchors-samples/issues/2#issue-415271442

[2019-03-06 18:10] vriveras commented on #3
@shutupzk , The authtoken should be automatically generated if the account is configured in the API. Did you follow [this](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android#configure-account-identifier-and-key) section of the documentation to configure your account?

[code]

[2019-03-06 18:33] vriveras commented on #5
@ChangweiZhang , If your are running any of the samples you will need to follow the section for configuring the **AccountId** and **AccountKey** to get the AuthToken properly.

The AuthToken is automatically gathered for you after you configure the AccountId and AccountKey in the [SessionConfiguration](https://docs.microsoft.com/en-us/objectivec/api/spatial-anchors/asasessionconfiguration) object

[2019-03-06 19:09] vriveras commented on #4
@jbienzms Thank you for the feedback. We are currently working on documenting and creating artifacts to improve the start from scratch scenario. We also want to have this in the Asset store but we have that work scheduled but its not available yet.

You can still use the unity package we release [here](https://github.com/Azure/azure-spatial-anchors-samples/releases). If you only care about the cor

[2019-03-06 19:23] vriveras commented on #6
@jbienzms Thanks for the feedback. We will incorporate this change in the next refresh of the samples.

[2019-03-06 19:24] vriveras commented on #2
@reneschulte Thank you for reaching out. We are investigating this issue and will get back to you with findings.

[2019-03-06 19:39] adityosnrost opened #7 "Cannot build on HoloLens Unity quickstart guide"
Hi,

I have problem when build the sample from HoloLens Unity quickstart. Never had this error before on build previous other HoloLens app with Visual Studio 2017. I have reimport all again in Unity and tried to build it again, but it seems that it is still error. Here is the error code:

This might be wrong configuration that I set up.

Thank you

[2019-03-06 20:52] vriveras commented on #2
@reneschulte , we found a problem on the callback we have in the sample when receiving an error from the API. This will fix the error you are getting which is a threading problem.

We are working to fix the samples on our side.

Please modify the code inside DemoScriptBase.cs in the method CloudManager_OnSessionError to the following code.

[code]
You might still run into an issue since it failed

[2019-03-07 08:30] reneschulte commented on #2
Thanks @vriveras I think that was it since this error did not pop up when I tried more yesterday and I think the service was a bit more unstable last week causing that issue.

[2019-03-07 09:18] me-Stoffel opened #8 "HoloLens exception when connecting to Azure"
Hey,

I got the basic and shared examples up and running on iOS and Android using Unity, as well as the web app published, without any problems. I can also build to HoloLens (also with Unity) and it starts up fine. However whenever I try to connect to Azure it seems not to succesfully get an access token back (also debug log "AzureSpatialAnchors - Configured AuthenticationToken: " states it as emp

[2019-03-08 08:12] adityosnrost commented on #7
Hi,

I want to update that this is just error on build. I tried to reimport all and run with debugging configuration, and it is finally run. Thanks

[2019-03-08 08:12] #7 closed

[2019-03-09 16:19] #2 closed

[2019-03-09 16:19] #6 closed

[2019-03-14 16:27] jbienzms commented on #4
Thank you for the update @vriveras. I'm very curious about **AzureSpatialAnchorsDemoWrapper.cs** not being selected in your screenshot above. And actually, this does raise an important question for me. **AzureSpatialAnchorsDemoWrapper.cs** seems significant in the following ways:

- It's used in all of the examples scenes
- It appears to be the primary MonoBehaviour class that "brings the service

[2019-03-14 16:35] jbienzms commented on #4
Oh, back to the original reason for this issue. Thank you for the screenshot above showing which components are core vs example. This does highlight my reason for opening this issue. Without finding this issue and your screnshot, developers won't be able to determine which components are Core vs. Example.

It seems there is a Unity build requirement for the .gradle file to be in the root. Other th

[2019-03-20 05:18] #3 closed

[2019-03-20 05:23] #5 closed

[2019-03-22 14:55] jbienzms opened #10 "EnoughDataToQuery not functional?"
**AzureSpatialAnchorsDemoWrapper** provides a property called **EnoughDataToCreate**. This property looks at the **SessionStatusIndicator** of **RecommendedForCreate** and checks to make sure it's above 1.0. This is a great indicator that enough data has been gathered to successfully create an anchor.

Under the covers, **SessionStatusIndicators** are filled in during **CloudSpatialAnchorSession_S

[2019-03-25 09:07] VincentGuigui commented on #4
I agree that the Wrapper should be moved outside the sample folder as it is a very good bootstrap.

The demoscriptbase contains also some useful ASA logic base which could be extracted from the actual sample logic.

[2019-03-27 10:16] JeanVACCA opened #11 "Unable to use RecommendedForCreateProgress when creating multiple anchors"
On Unity Android, I'm trying to create multiple anchors in same session but the value of RecommendedForCreateProgress does not reset after I create one;
So when I call CreateAnchorAsync, I have to wait and collect data near my created anchor but without any clue or status; I have also noticed that in this case my anchor is not create where I place it.

[2019-03-28 14:59] Okke234 opened #12 "Error when opening SharingService solution"
Hello! I'm quite new to C#, Unity, Hololens development etc. I've been trying to figure out how the company i'm interning for can use Azure spatial anchors for holograms to make the office more interesting when showing guests around. (Have them put on a Hololens or quickly deploy and app on their phones)

The [Unity Hololens quickstart](https://docs.microsoft.com/nl-nl/azure/spatial-anchors/quicks

[2019-03-28 19:22] valthec commented on #12
I had same problem and delete (or rename) global.json located in main forlder was enough to fix it. Hope it helps.

[2019-03-29 04:05] paul-bonnel-fr opened #13 "Store Cloud Anchor Locally"
Hello everyone,
I cannot figure out how to save the C# object : `CloudSpatialAnchor` locally, so it can be persistent and save into the local Unity cache...
Is there is a way to store the anchor locally instead of sending it to the cloud ? Any tought about this ?

Thank you

[2019-04-01 17:06] wassx opened #14 "EnoughtDataToCreate for saving anchor will result in null currentCloudAnchor"
Hi!
I'm successfully using the anchors with multiple hololenses but currently I'm running into issues, that the anchor is not saved and hence an exception occurrs.
I could locate that the currentCloudAnchor in https://github.com/Azure/azure-spatial-anchors-samples/blob/db4125a0900419fdee56f41d6d0e540e039b633b/Unity/Assets/AzureSpatialAnchorsPlugin/Examples/DemoScriptBase.cs#L343 is null.
When look

[2019-04-02 06:58] jelmerS2 opened #15 "Assertion failed on expression: 'm_FrameIndexGfxThread != m_FrameAddIndex'"
I get the following errors on every frame when playing a scene in the editor
Assertion failed on expression: 'm_FrameIndexGfxThread != m_FrameAddIndex'
Assertion failed on expression: 'IsMatrixValid(matrix)'

this is with the "cameraparent" prefab from the spatial anchors sample project

target: UWP (Hololens)
unity: 2018.3.10

[2019-04-02 12:14] jelmerS2 opened #16 "Exception thrown when Holotoolkit is included in the project"
When holotoolkit is added to the project, the application crashes at runtime when the spatial anchors service is started (cloudsession.Start())

Hololens output window in Visual Studio says:

The thread 0x1604 has exited with code 0 (0x0).
'ASA.exe' (Win32): Unloaded 'C:\Windows\System32\MinUser.dll'
'ASA.exe' (Win32): Unloaded 'C:\Windows\System32\shlwapi_onecore.dll'
Exception thrown at 0x7756F3

[2019-04-02 13:25] robinjongen commented on #13
No solution but keep an eye out to the unity forum. A similar question has been asked over there.

[Feedback azure spatial anchors](https://feedback.azure.com/forums/919252-azure-spatial-anchors/suggestions/36946621-storing-spatial-anchors-to-the-edge-and-not-cloud)

[2019-04-05 16:39] vriveras commented on #4
Thanks for your feedback. We are currently working on improvements for the unitypackage and starting a unity project from scratch tutorial which we will be releasing soon.

[2019-04-05 16:43] vriveras commented on #8
@me-Stoffel , If your are running any of the samples you will need to follow the section for configuring the AccountId and AccountKey to get the AuthToken properly.

The AuthToken is automatically gathered for you after you configure the AccountId and AccountKey in the SessionConfiguration object in the API. There is no need to configure a custom token service or application unless you have a spec

[2019-04-05 18:16] #4 closed

[2019-04-05 18:22] vriveras commented on #12
The sample is using a global.json and this has some rules that it [follows](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#matching-rules). You can make sure you match this version to what you have available or update your version locally for the .netcore project.

[2019-04-05 18:22] #12 closed

[2019-04-05 18:26] vriveras commented on #13
Today we do not support storing anchors locally you need to have an active connection to the service to be able to store and recall anchors.

We are currently collecting feedback for new features please log your feedback [here](https://feedback.azure.com/forums/919252-azure-spatial-anchors)

[2019-04-05 18:26] #13 closed

[2019-04-05 18:30] vriveras commented on #15
We currently do not support playing directly on the unity editor. The API requires access to the hardware on the devices to be able to process frames in the application and analyse the environment.

[2019-04-05 18:30] #15 closed

[2019-04-05 20:18] vriveras commented on #16
@jelmerS2, Are you running the sample code? How are you running the application? This error seems like a permission issue for the UWP application.

onecoreuap\enduser\nui\onecore\sapi\sapi\sr\srcloudpolicy.cpp(255)\sapi_onecore.dll!6467625A: (caller: 64676691) ReturnHr(1) tid(494) 80070005 Access is denied. Maybe microphone permission?

[2019-04-08 18:20] vriveras commented on #10
Thank you for your feedback. Yes this property is not needed anymore in the samples. The next version of the sample already address this.

[2019-04-08 18:20] #10 closed

[2019-04-10 09:48] joelmaca96 opened #17 "UpdateAnchorPropertiesAsync not funtional"
When creating new properties for an anchor or updating existing ones, the app crashes without throwing any exception or error.

[2019-04-10 16:27] vriveras commented on #17
Can you enable verbose logging on the SDK to get more details on what is going on.

You can follow this article to enable [logging](https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/logging-diagnostics#configuration-of-log-messages)

[2019-04-11 08:19] joelmaca96 commented on #17
Sorry, I have fixed the error, I was trying to update the anchor with an invalid ID.

Thank you for your help.

[2019-04-11 08:19] #17 closed

[2019-04-12 15:45] sarahboxbear opened #18 "Azure spatial anchors Sharing Service project is missing"
I am following this tutorial:

https://docs.microsoft.com/en-gb/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices

And I get this error in Visual Studio:

One or more projects in the solution were not loaded correctly.
Please see the Output Window for details.

I've downloaded the samples repository a few times to see if I'd done something to the original file, but no go.

In V

[2019-04-12 15:55] sarahboxbear commented on #18
Answer found here!

https://github.com/Azure/azure-spatial-anchors-samples/issues/12

Thank you to @valthec and @vriveras

But this is not at all obvious for a beginner. Any advice on how to overcome these bugs and errors? Or is it just knowing what to look for?

[2019-04-12 15:55] #18 closed

[2019-04-12 15:56] sarahboxbear commented on #12
Thanks @valthec and @vrviveras for the answer and @Okke234 for reporting: I had the very same issue when following the tutorial.

[2019-04-12 16:30] vriveras commented on #11
@JeanVACCA , Yes the sufficiency level will not reset per anchor save we will keep adding frames as you move and use the device tracker. You can see if you moved enough the sufficiency will go down util we collect more data but it will never go to zero this is by design. All anchors created in one session are getting linked together.

You can visualize the sufficiency using the SessionUpdated call

[2019-04-13 18:35] dylandepass commented on #4
Just want to add my support for this. The examples are great but they are very much tied to the samples. It would be great to have a controller class that allows us to easily create, find, load and remove anchors for existing projects. Typically dev's are already dealing with placement on our own and just need a way to persist and load these anchors.

Trying to rip apart the samples to just get wh

[2019-04-16 07:04] JeanVACCA commented on #11
Thanks for your answer but what's about the delay during the **CreateAnchorAsync**, How can I give feedback to my user about the data collected ?

[2019-04-17 20:34] masaldana2 opened #19 "Creation failed"
exception causing failure: std::exception

I implemented the keys and run it successfully,
but When i try to save the anchor of the cube it fails.
xcode 10.1
ipad 2017

[2019-04-23 03:55] vriveras commented on #19
@masaldana2 , Can you share the logs of the application when it fails?

[2019-04-24 08:44] roelkok opened #20 "Android build issue in Unity"
When I use the `AzureSpatialAnchors.unitypackage` the following section in `mainTemplate.gradle` gives me a build error.

[code]

If I remove it, the build will complete successfully. I also noticed that this section is absent in the source from the repo.

[2019-04-25 13:55] dtytgat commented on #8
@vriveras I'm running into the same problem and, as far as I know, I have configured the account id and key as required. I'm also getting the following message before the error of @me-Stoffel is thrown:

`Exception thrown: 'System.IO.FileLoadException' in System.Private.CoreLib.ni.dll`

I'm not sure if these are related though...

[2019-04-25 14:15] dtytgat opened #21 "HoloLens runtime issue"
I'm trying to run the AzureSpatialAnchorsBasicDemo Unity scene on the HoloLens, however I seem to be getting some runtime issues. I've added a filtered version of the VS output below, only reflecting the potential error causes or the application state changes.

I'm using Unity 2018.3.13f1 and Visual Studio 17.

Would anyone here have a clue of the problem at hand?

[code]

[2019-04-29 18:34] motionsmith opened #22 "What is the issue with IL2CPP on HoloLens?"
In your [documentation](https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Unity/Assets/AzureSpatialAnchorsPlugin/AzureSpatialAnchorsUnityPluginReadme.md#known-issues-for-hololens), it says

We need to use IL2CPP for this project (Unity has deprecated the other option and MRTK requires IL2CPP). Can you provide more detail about what is the problem that makes this library unusable?

[2019-04-30 00:36] motionsmith opened #23 "DllNotFoundException: AzureSpatialAnchors"
I am building a HoloLens/Unity project. I am running into the same issue as [this person](https://github.com/Azure/azure-spatial-anchors-samples/issues/4) because I cannot start from your sample project.

I have copied over all the assets from the AzureSpatialAnchorsPlugin folder in the sample. After pressing play, I get this error at runtime...
[code]
...which appears after I create an `AnchorLoc

[2019-04-30 03:40] vriveras commented on #23
@motionsmith , The SDK doesn't support running the project in the editor the platform needs the devices sensors to be able to run. When you add the unity package there is a post build step that configures the NuGet for the library automatically. Once you do the real build it will get downloaded and it should work.

[2019-04-30 03:44] vriveras commented on #11
@JeanVACCA , I am not sure I understand the question. What do you mean delay on CreateAnchorAsync and what feedback do you want to provide to the user?

[2019-04-30 15:21] motionsmith commented on #23
Thanks! That'll help me keep moving forward.

[2019-04-30 15:21] #23 closed

[2019-04-30 23:54] vriveras commented on #20
@roelkok , There was a problem with the publish Unity package this has been fixed now. You can re-import the package and this problem should be fixed

[2019-05-01 00:05] vriveras commented on #22
@motionsmith , sorry for the confusion that section of the readme can be remove now. It should all be working in IL2CPP. I will address the change in the documentation.

[2019-05-01 00:25] vriveras commented on #21
@dtytgat , I noticed the the Windows build you are using is 10.0.17134.111 we need RS5 build 17720 as a minimum requirement for the SDK. Can you upgrade and give it a try again?

[2019-05-02 03:40] motionsmith commented on #22
Thanks!

[2019-05-02 03:40] #22 closed

[2019-05-08 22:53] Alberto-Vega-MSFT commented on #21
@dtytgat Were you able to resolve your issue?

[2019-05-08 22:53] Alberto-Vega-MSFT commented on #20
@roelkok Was your issue resolved?

[2019-05-08 22:54] Alberto-Vega-MSFT commented on #19
@masaldana2 any updates on this?

[2019-05-08 22:57] Alberto-Vega-MSFT commented on #8
@me-Stoffel any updates? were you able to resolve your issue?

[2019-05-09 14:52] roelkok commented on #20
I just imported the most recent unity package in my project and I can confirm it now builds successfully.

[2019-05-09 14:52] #20 closed

[2019-05-15 08:29] Axel-P opened #24 "Custom application crashes when creating a CloudSpatialAnchorSession object"
Hi!

I've been playing with the android sample of the sample project and decided to build an app copying the code from the sample. However, the android device that runs the original sample keeps crashing on my custom project when trying to create a new `CloudSpatialAnchorSession` object.

The error looks like this:

2019-05-15 17:04:46.229 28901-28901/com.azurelib.azurecloudanchorstest E/AndroidRu

[2019-05-16 18:45] shawmakesmusic opened #25 "Unity ARFoundation -- Setting (CloudAnchorSession.Session =ARSession.subsystem.nativePtr) crashes on iOS"
We're working on an ARFoundation integration.

On Android- we're still working to get progress updates, but everything is successfully initialized. We construct a new CloudAnchorSession and assign the native session pointer from ARFoundation's ARSession class. So far so good! On iOS, however, setting the session to our ARSession.subsystem.nativePtr crashes with no exceptions or logs, right when it

[2019-05-16 23:43] vriveras commented on #25
@shawmakesmusic, we do not support ARFoundation in the current version of the SDK. We have it in the pipeline of features but you cannot use it today.

[2019-05-21 13:35] bertt opened #26 "Unity Android: SaveCurrentObjectAnchorToCloud exception when running sample"
We try to run the Unity3D basic demo (code build from master) on Android (Asus_A002 Android 7.0), but got an exception when saving anchors to cloud:

![Screenshot_20190521-152513](https://user-images.githubusercontent.com/538812/58100246-8cb26080-7bdd-11e9-9de5-8cbc156f1f5f.jpg)

In a previous version of the samples (about 2 months ago) same trick did work with same setup.

[2019-05-22 21:39] ghus86 opened #27 "unity ios symbol(s) not found for architecture arm64"
Hi

I have downloaded the sample from here and added the arkit assets folder
but when I make the build I get an error saying symbol(s) not found for architecture arm64

In the quick steps you mention to run the  .xcworkspace file instead of the .xcodeproj file
but that file isnt in the folder

also having issues in running pod install --repo-update (doesnt recognized the command but cocoapods is i

[2019-05-22 22:01] craigktreasure commented on #27
You'll need to get the `pod install --repo-update` command (documented [here](https://guides.cocoapods.org/terminal/commands.html#pod_install)) working as that command creates the `.xcworkspace` file. I suspect that there's something up with your installation of the CocoaPods client. See [here](https://guides.cocoapods.org/using/getting-started.html).

[2019-05-23 14:37] ghus86 commented on #27
Thanks that solved my issue

[2019-05-23 14:37] #27 closed

[2019-05-23 15:18] marklinmao opened #28 "Screen freezes when session start (Unity_Android)"
I followed the official document to create CloudSpatialAnchorSession, which is same as the steps in AzureSpatialAnchorsDemoWrapper.CreateNewCloudSession(), the screen get frozen when I start the session. I check the sample and found that for Android, it creates the session by calling java class. I just want to confirm, is that for some reason just a temporary workaround ?

-------------code from A

[2019-05-24 16:53] ThomasNigro commented on #25
Hello @vriveras. Do you have a (very rough) estimate of when the ARFoundation support will be released? More like 1 month or 6?

Thank you! :)

[2019-05-29 00:12] jimmy12day opened #29 "Issue when I Open HoloLens\DirectX\SampleHoloLens.sln in Visual Studio"
I am following the guide from [webpage](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-hololens).
However, it kept showing"One or more projects in the solution were not loaded correctly, please see the output window for details".

However, I have not seen any details in output windows. I cloned the clean project from git repository.

[2019-05-29 11:52] nallaperumal opened #30 "App property not available in shared anchor demo"
When trying to run the IOS sample program, it runs successfully. I set the app property for the anchor and fetched the anchor from azure, the property is retrieved properly.

However, when I try to fetch the nearby anchors, the anchor is fetched but the app property is empty. The property that was set is not available.

[2019-05-29 16:17] dotMorten commented on #24
I'm hitting the exact same thing with my Xamarin.Android bindings:
![image](https://user-images.githubusercontent.com/1378165/58573213-21c2e400-81f2-11e9-838a-a00b67060db9.png)
I've checked that both the JNI and NDK .so files are deployed (I probably only need the JNI one but just wanted to be sure :-) )

I've get my repo with reproducer set up here: https://github.com/dotMorten/Xamarin.AzureSpati

[2019-05-29 16:24] dotMorten opened #31 "Remove AppCenter telemetry"
I noticed that the Android Java SDK takes a dependency on AppCenter and is reporting telemetry.
Please remove this, as SDK's should never collect telemetry without app developers being able to opt in to (and not out of) to it. They could inadvertently be breaking data privacy policies, because we have no knowledge this is happening under our noses.

IMHO it's a big no-no for SDKs to collect teleme

[2019-05-29 16:55] darax commented on #26
@bertt, thanks for the report. If you attach android studio to the phone and look in logcat, I think you can get a more meaningful error message. Make sure that your account information is configured correctly and your device is connected to the internet. If everything is configured correctly, post the output from logcat in android studio and hopefully we'll get a better idea of what's going on.

[2019-05-29 18:13] darax commented on #28
hi @marklinmao
we require the initialization so that we can get the JNIEnv. Some of the native calls to ARCore require this as a parameter.

For your freeze issue, try doing 'assets->reimport all' in Unity and rebuilding.

[2019-05-29 18:24] darax commented on #30
Hi @nallaperumal,

The shared anchor demo and the nearby anchor demo are separate demos.  You should not expect to be able to find nearby anchors from the shared demo.  If you've modified the shared sample to add 'nearby' support then you do need to make sure that the anchors were either created or recalled without resetting or recreating the session.

[2019-05-29 18:46] darax commented on #29
Hi @jimmy12day, what version of Visual Studio are you using?

[2019-05-29 19:34] bertt commented on #26
Hi Patrick, ok thanks, I've traced it down to setting a wrong SA Account Id... problem fixed!
The error reporting could be improved though :-)

[2019-05-29 19:34] #26 closed

[2019-05-29 21:17] darax commented on #26
@bertt you can blame me for the awful error output.  glad you are working again!

[2019-05-30 00:39] jimmy12day commented on #29
Hi Patrick,

Thanks for the reply. I am using Visual Studio 2017.

Bin

On Wed, May 29, 2019, 11:46 AM Patrick Cook <notifications@github.com>
wrote:

[2019-05-30 00:40] jimmy12day commented on #29
version 15.9.7 Visual studio Community 2017

On Wed, May 29, 2019 at 5:39 PM Bin Wei <jimmy28year@gmail.com> wrote:

--
<https://about.me/jimmywei?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
BIN WEI
about.me/jimmywei
<https://about.me/jimmywei?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2019-05-30 01:16] Axel-P commented on #24
Actually, my initial intent was to integrate this into a Xamarin project given that Microsoft says in their FAQ about this API that Xamarin _should_ be able to use Spatial Anchors. But after landing on this issue and trying to find out what the problem was I ended up in the same spot with a clean Java project. If this issue happens to be solved for Xamarin as well that would be fantastic. I'll upl

[2019-05-30 15:36] darax commented on #29
The guide from the webpage specifies Visual Studio 2019.  The sample should work with 2017.  Can you make sure you have the Universal Windows Platform development Workload and the C++/WinRT individual component included in your visual studio installation?

[2019-05-31 22:16] alt95 opened #32 "Multiple anchor detection"
It seems like if i try and create a watcher with more than 10 identifiers in it, the AnchorLocated event never fires. Using anything below 10 will work as intended. Is this just an arbitrary cap or is there something else to it?

[2019-06-02 08:05] nallaperumal commented on #30
Thanks for the response. I will check the session and get back to you.

[2019-06-02 08:09] nallaperumal commented on #32
Hi @alt95 I also faced the same issue. It seems that azure spatial anchors is in preview stage and hence, it is a limit enforced by azure team.

[2019-06-02 08:17] nallaperumal opened #33 "'Next' button missing in create session"
Hi there, I tried to run the azure spatial anchors unity project with scene 'Local shared Demo' in Hololens v1. When I try to create an anchor, after couple of clicks the 'Next' button got vanished. However, the clicks were still working (though button not there).

Device used: Hololens v1
Unity version: 2018.3.14f
Visual Studio: 2017 (community edition)

[2019-06-02 08:22] nallaperumal opened #34 "Scanning not working in Hololens"
Hi there, I tried to run the azure spatial anchors unity project with scene 'Local shared Demo' in Hololens v1.

When I try to create an anchor, the app after couple of stages reaches the scanning stage, it indicates as scanning but the percentage is always '0%' It never progress further. I actually tried to move other places etc but no use. Surprisingly, we built the unity project for iOS, it is

[2019-06-02 19:46] alt95 commented on #32
Yea, would be nice if it was documented somewhere. I was trying to reset a session and then trying to detect more anchors in the next session. Thanks for the reply.

[2019-06-03 09:36] nallaperumal commented on #34
I update the HoloLens windows 10 and scanning works

[2019-06-03 09:36] #34 closed

[2019-06-03 12:32] nallaperumal opened #35 "App not launching (Hololens)"
Hi there,

I tried to launch the 'local shared demo' scene from the Unity via VIsual studio 2017 in HoloLens v1.
The app is not at all launching. I made various attempts and sometimes it launches (with some issues like button not visible etc) but mostly the app is blank. Even 'made with Unity' too is not appearing, the app is just blank.
Please help. I have attached the debug log of Visual studio

[2019-06-03 20:35] jimmy12day commented on #29
Dear Patrick,

Thanks for your reply. I opened the solution successfully with
Visual Studio 2019 but still not able with 2017.
Can you show me the link to download the Universal Windows Platform
development Workload and the C++/WinRT individual component?

After I try to debug, I am receiving this error message:

"
Activation of the Windows Store app
'd1c3b0c0-33f2-48b3-82f8-19844d285be0_0erf857dq

[2019-06-03 20:46] darax commented on #29
Hi Bin,
The workload and individual components can be installed with the Visual Studio Installer.

Workload:
![image](https://user-images.githubusercontent.com/15933792/58833148-46a9c380-8605-11e9-87fd-83bcf6c6d85a.png)

Individual Component:
![image](https://user-images.githubusercontent.com/15933792/58833220-6b9e3680-8605-11e9-8408-a744d80fc988.png)

I'm not sure how to solve the Activation fail

[2019-06-03 22:56] jimmy12day commented on #29
Thank you so much. I can use Visual Studio 2017 to open the soluntion now.

On Mon, Jun 3, 2019 at 1:46 PM Patrick Cook <notifications@github.com>
wrote:

--
<https://about.me/jimmywei?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
BIN WEI
about.me/jimmywei
<https://about.me/jimmywei?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_camp

[2019-06-03 22:56] #29 closed

[2019-06-03 23:02] jimmy12day opened #36 "Activation of the Windows Store app failed with error 'Access is denied'."
I load the SampleHololens.sln solution in Visual Studio 2017 and it was built successively.
But when I start debugging, it has an error message as below which stop me from deploy the sample app to Hololens1, I followed the exact tutorial from[ GetStartFromHololens](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-hololens):
Activation of the Windows Store app 'd1c3b0c

[2019-06-03 23:51] darax commented on #33
this is intentional. Aside from the first part of the sharing sample where we needed buttons to know the user's intent, we don't use buttons in the HoloLens samples.

[2019-06-03 23:56] darax commented on #35
WebException: Error: NameResolutionFailure
and
HttpRequestException: 500 (Internal Server Error)
 makes me think that perhaps there is a typo in the sharing service URL.

Did you include /api/anchors/ in the URL?

[2019-06-04 00:00] darax commented on #36
Can you follow the tutorial here: https://docs.microsoft.com/en-us/windows/mixed-reality/creating-a-holographic-directx-project

[2019-06-04 01:29] nallaperumal commented on #33
Thanks for the quick response

[2019-06-04 01:29] #33 closed

[2019-06-04 01:34] nallaperumal commented on #35
We used the same URL in iOS and it worked fine.
I am using Windows 10 Home edition, should I change it to professional?

[2019-06-04 16:18] darax commented on #35
By home edition you mean your PC that's building to the HoloLens?  I don't think that matters.  The network configuration of the HoloLens could matter. Is the HoloLens connecting to the same wi-fi as your iOS device?

[2019-06-04 20:32] ChrisHorrigan commented on #28
This is happening to me too.  Seems like no matter what I put in my anchor script, if I call that Start function my phone just shows a black screen and ends the process when I tap it.  I feel like it's something in the AzureSpatialAnchorsBridge or deeper rather than in my script that calls the start function.  It formerly worked with hololens (this tutorial https://docs.microsoft.com/en-us/azure/s

[2019-06-04 22:42] alt95 opened #37 "AnchorLocatedEvent Bug"
If a watcher has an identifier that is not associated with the account, the anchorlocated event will never fire again even for other identifiers that may/may not be found

[2019-06-05 06:07] nallaperumal commented on #35
Yes, of course, the hololens is connected to the same network. Also, the HttpRequestException: 500 (Internal Server Error) also appears in iOS app debug log also but the app runs.

[2019-06-09 15:20] Dugyu commented on #36
You can try debugging on the same built app for a 2nd time even if it shows "Access is denied" and the problem will be fixed.

[2019-06-10 04:44] Axel-P commented on #24
I ended up solving this issue. It turns out this is not a configuration issue. Rather, I just needed to initialize Azure Anchors by adding this line: `CloudServices.initialize(this);`.

While this solves my issues for the Java project, I still can't run it on a Xamarin project :/

[2019-06-10 04:44] #24 closed

[2019-06-10 04:56] dotMorten commented on #24
@axel-p what issue are you having on Xamarin?

[2019-06-10 05:53] Axel-P commented on #24
@dotMorten A couple. The AARs themselves don't do much for me. When I try creating a library project for them the object browser doesn't seem to be able to read the contents of the files

If I use JARs, usually, I can at least see the functions that I'm supposed to use and I manage to compile although I've been getting multiple errors of different classes not being found. I'll try to get a clean p

[2019-06-10 09:15] Axel-P commented on #24
@dotMorten Turns out, I couldn't get too far. It either complains of not finding the ndk.so for azure or (when I add a ndk file) crashes without any information. I might just use Unity instead

Anyways, [here's the link](https://github.com/Axel-P/AzureSpatialAnchorsTest)

[2019-06-10 23:33] nallaperumal commented on #35
I finally resolved the issue by using a different windows 10 professional edition laptop. Again reinstalling all the components mentioned in https://docs.microsoft.com/en-in/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app#prerequisites
The windows 10 SDK should be properly set to 10.0.17763.0 during the build phase. Probably that could have solved the issue.

[2019-06-10 23:33] #35 closed

[2019-06-18 00:59] Alberto-Vega-MSFT opened #38 "Sharing in Unity locks up at camera step on iPad"
Moving issue from docs since this is a sample application issue: https://github.com/MicrosoftDocs/azure-docs/issues/33058

Environment: MacBook Pro Mojave 10.14.5; Unity 2019.1.5f1; Visual Studio 2019 for Mac; .NET 2.2.107; Xcode 10.2.1; Build goes fine in unity. cocoa pods installed successfully in App directory. Opened xcworkspace in App directory from terminal. App deploys successfully to iPad

[2019-06-18 07:50] jelmerS2 opened #39 "UnityARKitPlugin is deprecated"
See https://bitbucket.org/Unity-Technologies/unity-arkit-plugin/src/default/
It's time to make the switch to ARFoundation.

[2019-06-21 18:31] Alberto-Vega-MSFT commented on #38
@ggorby Would you please try to do assets->reimport all  from unity, and then rebuild?

[2019-06-24 07:48] jelmerS2 opened #40 "[iOS] Anchors load in wrong location when app/ARKitsession is restarted"
I've implemented Azure Anchors based on the examples and concepts in the docs:

[code]

To me it looks like found anchors are spawned relative to the world origin.
So let's say I save an anchor
I restart the app while holding my phone in the same physical location as when I started it the first time, then the anchor spawns in roughly the same place

However, when I start the app in a different phy

[2019-06-26 02:25] jznling opened #41 "Questions about the Anchor models"
My friend and I are each working on Android and iOS version of Spatial anchors. We get confused when trying to change the anchor model.

We find the code generate sphere or box and know how to change it to torus or other simple 3d objects. But we don't know how the object is positioned. I have done some WebGL and OpenGL 3D modeling, but not AR. When we do the text anchor, the text image is often o

[2019-06-27 06:59] yosun opened #42 "update unity example to ARFoundations"
//TODO

[2019-06-27 07:36] shawmakesmusic commented on #42
If you're trying to do cloud anchors today, word is that Google Cloud Anchors are working with ARFoundation already with minimal modifications, avail on the Unity forum. Hopefully it's some pressure for Microsoft to get it together ASAP, since ARFoundation is the only non-deprecated way to access modern AR now.

[2019-06-29 21:56] ggorby commented on #38
Hi Alberto,
I reimported all with same results...lock up at camera access step.
Gary

Sent from my iPad

On Jun 21, 2019, at 1:31 PM, Alberto Vega <notifications@github.com<mailto:notifications@github.com>> wrote:

@ggorby<https://github.com/ggorby> Would you please try to do assets->reimport all from unity, and then rebuild?

—
You are receiving this because you were mentioned.
Reply to this emai

[2019-06-29 22:14] ggorby commented on #38
Additional info after reimport:
Repeated build time issues ‘ARWorldMap’ is only available on iOS 12.0 or newer
Single runtime issue: GPU Frame Capture
Shader performance data maybe unavailable due to deployment target older than device version
My iPad is running iOS 12.3.1

Sent from my iPad

On Jun 21, 2019, at 1:31 PM, Alberto Vega <notifications@github.com<mailto:notifications@github.com>> wrot

[2019-07-01 16:43] FabienDesgranges opened #43 "CloudSpatialException - Trying to run the demo"
I am trying to run the demo as explained here: [https://docs.microsoft.com/en-gb/azure/spatial-anchors/quickstarts/get-started-unity-hololens](https://docs.microsoft.com/en-gb/azure/spatial-anchors/quickstarts/get-started-unity-hololens)

Basically, I just put my Azure IDs and run the demo as explained. I then create a local Anchor that seems to work fine. The issue comes after trying to send the

[2019-07-01 20:35] darax commented on #38
@ggorby, this isn't an issue I've seen before. I want to figure this out.  Can you confirm that the sample ARKit scene (without ASA) works properly?  Also, can you try Unity 2018? I'll get 2019.1.5f1 installed on my Mac and see if I can reproduce the issue on my end.

[2019-07-01 21:01] ggorby commented on #38
Hi Patrick,
I don’t understand what you mean by “...confirm that the sample ARKit scene (without ASA) works properly?” Can you clarify the scene to which you are referring? I will try with an earlier version of Unity. Which release of 2018 worked for you? I did read today in documentation about Mixed Reality Toolkit that .NET was deprecated in Unity 2018 and removed from 2019. Not totally sure if

[2019-07-01 21:31] darax commented on #38
I meant a scene like UnityARKitPlugin\Examples\UnityARKitScene\UnityARKitScene.unity.

2018.3.6f1 is a version that is known to work.

[2019-07-02 06:24] yosun commented on #42
Don't Google Cloud Anchors still have the 24 hour resolve time limitation? Azure Spatial Anchors is a fundamentally different solution due to real long term persistency and the ability to work with cross-platform pointcloud sets.

[2019-07-02 10:29] shawmakesmusic commented on #42
Yeah, there's a reason I'm tracking this git, and also I'm literally the person who told you to use AR Foundation three weeks ago and you called me an idiot and said Vuforia was the only choice for production sooooooo

[2019-07-02 10:34] shawmakesmusic commented on #42
All fun aside, Spatial Anchors are basically cripple until the underlying ARKit and Core versions are on parity with the ones in ARFoundation. I've got all the right pointers in place but the buck stops at the DLL.

Sent from my iPhone

[2019-07-02 10:39] shawmakesmusic commented on #42
Oh yeah, I was actually trying to be helpful-- ASA and GCA are virtually identical under the hood, in terms of the application of ORB SLAM2 in the cloud and capturing an interval of frames with the relative transformation matrix from ARKit/Core to resolve to. Switching one for another is about 6 hours of work if you have a decent abstraction layer. Other than the weird restrictions around use and

[2019-07-03 04:30] shawmakesmusic commented on #25
So, doing the monthly check in. Since this was posted, Unity officially deprecated the old ARKit/Core plugins and brought ARFoundation up to the latest versions of each under the hood.

As such, and with all the great new ARKit 3 features in the beta, we have finally hit a threshold where we can build cross platform and the only thing holding us back is that ASA doesn't support Unity's preferred A

[2019-07-04 08:06] andreidevloper commented on #38
@Alberto-Vega-MSFT I have exactly the same issue too.
@darax I tried to run UnityARKitScene in Unity 2018.3.6f1 and still the recurrent message is got in Xcode
[code]

[2019-07-05 20:11] darax commented on #38
I got my Mac setup to match the original post, and the sample is working built form 2019.1.5f1. If the UnityARKitScene isn't working, then that's a signal that Arkit is also not working.  What iPad do you have?

[2019-07-05 20:21] darax commented on #43
that's the first point in the demo where the access tokens are used.  Is it possible that the values for Spatial Anchors Account Id and Spatial Anchors Account Key and id are switched around?

[2019-07-05 21:10] ggorby commented on #38
IPad (6th generation) Model MR7F2LL/A; iOS 12.3.1
32 GB; 18.33 GB Available

Sent from my iPhone

On Jul 5, 2019, at 3:11 PM, Patrick Cook <notifications@github.com<mailto:notifications@github.com>> wrote:

I got my Mac setup to match the original post, and the sample is working built form 2019.1.5f1. If the UnityARKitScene isn't working, then that's a signal that Arkit is also not working. What i

[2019-07-05 22:24] darax commented on #41
Here is the Unity document regarding how transforms are handled: https://docs.unity3d.com/Manual/Transforms.html

The origin of the scene in AR depends, but is typically wherever the device happened to be when it started tracking.

Documentation for importing assets is here:
https://docs.unity3d.com/Manual/ImportingAssets.html

Usually you can just drag them into your assets folder and Unity pulls

[2019-07-05 23:04] darax commented on #38
Just realized that I haven't installed vs 2019 on my mac.  I'll give that a go and double check the .NET version.

[2019-07-05 23:39] darax commented on #38
After installing VS 2019 and .NET 2.2.107 the sample still works on my end.
Since the built in ARkit Plugin sample isn't working, lets double check to see if the ARFoundation sample works.  Can you try out
https://github.com/Unity-Technologies/arfoundation-samples/tree/2.1
and see if the Assets/Scenes/SimpleAR.unity works on your iPad?
Note that we don't have Azure Spatial Anchors support for AR F

[2019-07-06 20:40] Badboyabout opened #44 "iOS does not build on macOS Catalan Xcode 11"
I’m pretty certain it’s not using SwiftUI, and migration to swift5 doesn’t happen.

But the sample’s build seems Brocken !

[2019-07-08 02:29] shawmakesmusic opened #45 "Useless Without ARFoundation"
Frankly, very few if any people are going to adopt this for serious applications without ARFoundation support. I'd be happy to roll my own with native pointers but cannot because ASA does not support the latest ARKit/Core versions that ARFoundation supports.
Every day this repo sits without an update for the latest ARKit/Core plugins is a day that you might as well have literally not created this

[2019-07-08 08:43] FabienDesgranges commented on #43
I've checked and they are not. I've deployed the exactly same unity app on an Android device, and it worked ! I was able to create and save a spatial anchor to the cloud. Still not able to do it using the hololens, so the problem is still here..

[2019-07-08 16:58] vriveras commented on #45
We are currently working on ARFoundation It will be part of the SDK supported platforms.

[2019-07-08 17:01] vriveras commented on #42
We are currently working on ARFoundation It will be part of the SDK supported platforms.

[2019-07-08 17:01] vriveras commented on #25
@shawmakesmusic,  We are currently working on ARFoundation It will be part of the SDK supported platforms.

[2019-07-08 17:06] darax commented on #43
what OS build is on your HoloLens?  Is there any debug output from before the exception?

[2019-07-08 21:13] yosun commented on #42
Hi Vicente - thanks for the update, what’s your timeline or ETA for when
this will be avail?
--
Yosun Chang, Founder and CTO

I'm apparently the only solo woman AR creator interviewed on the SIGGRAPH
blog:
https://blog.siggraph
.org/2019/01/with-mobile-ar-you-can-graffiti-on-the-mona-lisa.html/

Phone: (415) 779 6786
WWW: AReality3D.com
Twitter: @yosun

[2019-07-09 16:34] ashikns opened #46 "Authentication with AAD v2.0"
The docs specify instructions for usage with ADAL. Is there any way to authenticate with AAD v2.0 using MSAL? I tried specifying https://sts.mixedreality.azure.com//.default as a scope to msal but it doesn't work.

[2019-07-10 08:55] FabienDesgranges commented on #43
On the Hololens, I have the Windows 10 version 1809 for x86-based Holographic Devices.
Here is the whole log file

`Loading native plugins
  Loading AudioPluginMsHRTF.dll
Module information:
 Built with Compiler Ver '191326128'
 Built from '2018.3/release' branch
 Version is '2018.3.12f1 ...'
 Release build
 Application type 'D3D'
 OS 'Windows 10 (10.0.17763)'
PlayerConnection initialized from C:/

[2019-07-10 18:11] darax commented on #43
thanks for the full log.  I am able to see the authentication request in our telemetry. That succeeded. The request to create an anchor I don't see in our telemetry.  This indicates that the request never actually made it to our servers.  The error code 800c0008 maps to INET_E_DOWNLOAD_FAILURE. A couple of ideas:
1. Try a different Wi-Fi network.  Clearly the one you are on *is* working, or the au

[2019-07-11 07:07] aurangzaibumer777 opened #47 "Relocate anchors by finding any of the anchors placed in area"
I did use the sample app and tried the second demo, i created two anchors in my area and save them on cloud. then it asked me to find the **last anchor** which was saved and hence found the other two with respect to the last one. **Is it possible to find any of the anchors, but not the last one. It is mandatory??** like if i place 10 anchors in my office and try to find any of the anchors, will it

[2019-07-11 10:42] FabienDesgranges commented on #43
Ok I've just found out the problem ! I was logged on my Hololens with a restricted account that prevented me from saving anchors to the cloud. Thanks for your help !

[2019-07-11 10:42] #43 closed

[2019-07-11 15:24] Alberto-Vega-MSFT commented on #38
Hi @ggorby do you have any updates?

[2019-07-14 19:41] aurangzaibumer777 commented on #47
Moreover, the documentation is so poor that you cannot even start writing a new project on your own, it should be updated

[2019-07-15 21:13] julianparismorgan commented on #32
Hey @alt95, right now we have a max limit of 10 anchors per watcher. Thanks for the suggestion on adding this to the docs, will look into it!

[2019-07-16 07:50] aurangzaibumer777 opened #48 "Use Spatial Anchors with ARCore Nodes"
I want to use spatial anchors to save the my nodes of arcore, like i use the arcore for all the scanning and points and use azure's cloud for saving them in order to get them back later since arcore cloud only allows 24h to maintain the session. is this even possible? because i have used the Azure android samples and haven't got the best results so far so i am willing to use azure cloud just for t

[2019-07-16 15:51] aurangzaibumer777 commented on #47
been 5 days and no one bats an eye

[2019-07-17 09:53] robbiwu opened #49 "VisualInformation Locate Strategy Errors"
First I'd like to say that I am really enjoying working with this platform so thanks much.
(Android, Java, Google Pixel 3XL)

There seems to be a significant positioning error in the platform where "VisuaIinformatiom" is implemented as a Locate Strategy. The anchor is located and rendered 5 or 6 meters away from the target. (VisualInformation works perfectly the first time)

Basically, I want to b

[2019-07-21 00:36] #49 closed

[2019-07-23 21:44] shawmakesmusic commented on #45
Cool. Any update on this? We're in a Catch 22- Unity's old open source ARKit/Core plugins are deprecated and not working with the latest Unity. The ARKit and ARCore plugins provided in their packages system are not compatible with the current version of the Spatial Anchors stuff. Since everything is wrapped in managed plugins, the community has no recourse to fix any of it.

[2019-07-24 19:54] shawmakesmusic commented on #25
Checking back in. Any updates, or a rough ETA? Ya'll gonna be at SIGGRAPH?

[2019-07-26 19:52] craigktreasure commented on #45
@shawmakesmusic We just release Azure Spatial Anchors 1.3.0 and the Unity sample now uses ARFoundation.

[2019-07-26 19:53] #45 closed

[2019-07-26 19:53] craigktreasure commented on #39
Azure Spatial Anchors 1.3.0 now supports ARFoundation.

[2019-07-26 19:53] #39 closed

[2019-07-26 19:54] craigktreasure commented on #25
Azure Spatial Anchors 1.3.0 now supports ARFoundation.

[2019-07-26 19:54] #25 closed

[2019-07-26 19:55] craigktreasure commented on #42
Azure Spatial Anchors 1.3.0 now supports ARFoundation.

[2019-07-26 19:55] #42 closed

[2019-07-26 19:56] craigktreasure commented on #36
Haven't seen a response. Closing this for now. @jimmy12day, feel free to re-open if you need further help.

[2019-07-26 19:56] #36 closed

[2019-07-29 18:20] cbutzke commented on #40
I've got the exact same problem. Doesn't matter which lighting conditions or if ARKit is able to find Feature Points easily. The anchor gets located but GetAnchorPose() gives me a wrong location. Any update on this?

[2019-07-29 21:07] JaimeIvanCervantes opened #50 "JNI unable to load `hasVerticalAccuracy()` on NDK example"
It looks like the `1.3.0` update introduced errors related to missing `hasVerticalAccuracy` symbols. I am seeing the following error when trying to run the NDK example,  after the `1.3.0` update:

NOTE: I was able to successfully run the same example with version `1.2.1`.

NOTE-2: I was able to reproduce the error on a Samsung Galaxy S8 with Android 7 (API level 25), and a One Plus 5 with Android

[2019-07-29 21:43] JaimeIvanCervantes opened #51 "Unable to localize when using Android NDK"
I am trying to use spatial anchors on my purely C++ Android project, but have not been able to localize anchors; I can confirm that the anchors are being uploaded to Azure, and the ID is being found when I query the anchors, but for some reason I keep seeing `LocateAnchorStatus::NotLocated` and `wasRelocalized[0]` on the logs. I even used `CloudSpatialAnchorSessionDiagnostics` to save keyframes, a

[2019-07-29 23:51] JaimeIvanCervantes opened #52 "Missing return on NDK example"
There is a missing `return` on this line of the NDK example: https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Android/NDK/app/src/main/cpp/AzureSpatialAnchorsApplication.cpp#L118

[2019-07-30 19:43] JaimeIvanCervantes commented on #51
After I updated to `1.3.1`, I am not even seeing `LocateAnchorStatus::NotLocated` anymore, there are still no error messages, and I still see `wasRelocalized[0]`. I still see the anchor ID being found:

[2019-08-03 00:12] vriveras commented on #48
Hi @aurangzaibumer777, You can use Spatial anchors to save anchors you create with ARCore. But you need to follow the scanning process for each of your nodes to create them. There is no way to just list the anchors you have you need to persist the IDs and use them to recall the anchors later. To see this in action please take a look at the sharing samples.

[2019-08-03 00:14] vriveras commented on #47
@aurangzaibumer777, you need to manage the ids of the anchors to initiate the lookup. You will need to pass the ids that you want to relocate for this you will need to change the sample. The sample is only having simple logic to show this process and it only works with the last anchor you placed. The sharing sample has more complicate logic and it will allow to on-demand query anchors based on an

[2019-08-03 00:15] vriveras commented on #44
We are currently working on getting the support for XCode 11 its not ready yet.

[2019-08-03 00:17] vriveras commented on #19
Closing issue no response

[2019-08-03 00:17] #19 closed

[2019-08-03 00:17] vriveras commented on #8
Closing issue no response

[2019-08-03 00:17] #8 closed

[2019-08-03 00:18] vriveras commented on #11
Closing issue no response

[2019-08-03 00:18] #11 closed

[2019-08-06 16:27] craigktreasure opened #53 "ASA can cause a crash when a device is under memory pressure"
Adding this issue to track a crash in ASA 1.3.0 that can occur when a device is under memory pressure.

[2019-08-06 16:55] craigktreasure commented on #52
Thanks! We've fixed this internally and will update the sample in our next sample update.

[2019-08-08 07:16] TiNovTec opened #54 "Azure Cosmos DB -- Requests Count too high"
( I refer to this page: Tutorial: **Share Azure Spatial Anchors across sessions and devices with an Azure Cosmos DB back end** ( https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-use-cosmos-db-to-store-anchors ))

I use the demo version from **August 6th**.

I installed the app on Android, launched it the very first time and placed three anchors successfully and also found

[2019-08-08 08:34] TiNovTec opened #55 "Misleading Method Names ( InitializeXYZ )"
I use the demo version from **August 6th**.

I think you should **rename** the method names of the methods in the demo script _AzureSpatialAnchorsSharedAnchorDemoScript.cs_
- InitializeLocateFlowDemo
- InitializeLocateFlowDemoAsync
- InitializeCreateFlowDemo
- InitializeCreateFlowDemoAsync

These methods are called multiple times from the same ( generic ) button and should be called e.g. ProcessLo

[2019-08-08 21:00] craigktreasure commented on #53
This was fixed in 1.3.1.

[2019-08-08 21:00] craigktreasure commented on #52
We've fixed this in the samples update for 1.3.1.

[2019-08-08 21:00] #52 closed

[2019-08-08 21:00] #53 closed

[2019-08-13 10:31] mgomar opened #56 "Xamarin IOS fail at launch, missing Main storyboard"
https://github.com/Azure/azure-spatial-anchors-samples/blob/adcbe8fbb15d8bdb346cd835531d57ef255bc5c3/Xamarin/SampleXamarin.iOS/Info.plist#L24

https://github.com/Azure/azure-spatial-anchors-samples/blob/adcbe8fbb15d8bdb346cd835531d57ef255bc5c3/Xamarin/SampleXamarin.iOS/Info.plist#L25

Looks like there is a (missing but not required storyboard file) at this two lines,  Please remove them and the ap

[2019-08-13 13:01] TiNovTec commented on #54
And after a long weekend ( Thursday - Monday ) I have 3k requests and an invoice of nearly $10 !
Wooow.. what's going on there [?]
[Image with details](https://imgur.com/a/rp88ujY)

[2019-08-15 17:39] marklinmao opened #57 "Sometimes the whole coordinate system gets rotated"
Hi,

Step 1: Create an anchor on the ground
Step 2: locate it, then move around, walk away and back, sometimes the located anchor is ROTATED, comparing to what it was placed. I found that actually not only the anchor but the whole coordinate system is rotated.

This problem makes Azure spatial anchor not reliable.
Please refer to the link that I posted in StackOverflow, there are two pictures desc

[2019-08-17 23:00] doubl3p opened #58 "Update a SpatialAnchor not possible"
I develop an unity application an I am working with azure spatial anchors. I found no possibility to update a already existing cloudAnchor. I tried this:

[code]
The first call of the method is working. A spartialAnchor in the azure cloud was created. In the second call when I want to update the anchor I first git the error:

08-18 01:07:09.845 31868 31927 E Unity   :   at Microsoft.Azure.SpatialA

[2019-08-17 23:09] doubl3p commented on #58
This line I had to remove:

//cloudAnchor.Expiration = DateTimeOffset.Now.AddDays(7);

Otherwise I get:

08-18 01:07:09.845 31868 31927 E Unity   :   at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus (System.IntPtr handle, Microsoft.Azure.SpatialAnchors.status value) [0x00109] in C:\...\Assets\AzureSpatialAnchors.SDK\Plugins\Common\AzureSpatialAnchorsBridge.cs:5381

[2019-08-17 23:21] doubl3p commented on #58
If try to use this line also for a update

`await CloudManager.CreateAnchorAsync(cloudAnchor);`

I get this error:

08-18 01:20:07.661  5849  5909 I Unity   :   at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus (System.IntPtr handle, Microsoft.Azure.SpatialAnchors.status value) [0x00109] in C:\Users\ppelluda\Documents\Projects\shared-experiences-tests\Assets\AzureSpatialAnchors.SD

[2019-08-17 23:23] doubl3p commented on #58
If try to use this line also for a update

`await CloudManager.CreateAnchorAsync(cloudAnchor);`

I get this error:

08-18 01:20:07.661  5849  5909 I Unity   :   at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus (System.IntPtr handle, Microsoft.Azure.SpatialAnchors.status value) [0x00109] in C:\...\Assets\AzureSpatialAnchors.SDK\Plugins\Common\AzureSpatialAnchorsBridge.cs:5381
08-1

[2019-08-19 18:20] craigktreasure commented on #56
Oh interesting. I haven't encountered the launch failure you're referring to, but we'll take a look. @Sweekriti91, any thoughts?

[2019-08-19 18:55] Sweekriti91 commented on #56
Even I haven't hit this issue. Let me take a look too. @mgomar do you see the error when deploying to an iPhone or iPad?

[2019-08-20 08:32] mgomar commented on #56
Hi @craigktreasure and @Sweekriti91, thanks for your reply!.

this is the exception, and I think they are related with the two lines in the info.plist, maybe this files are missing from this repo?.

thx!.

[2019-08-20 15:55] vriveras commented on #54
@TiNovTec , Hi can you share if you change some of the sample code? We are not able to repro this. From the images you shared it looks like someone or something is hitting your service and causing the traffic. The code in the samples only do this at the time or storing or recalling an id while the app is running.

[2019-08-20 19:39] ghus86 opened #60 "Web and ARFoundation recommended version"
Hi All
two questions:

1) I don't think its possible at the moment but to make sure I am not providing a wrong information to a client is there any to run azure spatial anchors in browser ?
will that be possible in the future ?

2 ) about ar foundation I have seen in the closed issues that is already supported
the sample is using unity 2019.1.10
but ar foundation have several versions what is the

[2019-08-20 19:44] craigktreasure commented on #60
Here's a bit of info:

1. I don't know about being possible, but it's certainly not supported. Do you have a scenario that requires this? If so, can you tell us more?
2. We documented the package versions of AR Foundation in our [1.3.0](https://github.com/Azure/azure-spatial-anchors-samples/releases/tag/v1.3.0) release notes. Essentially:
    * ARFoundation 2.2.0
    * ARCore XR Plugin 2.1.0
    *

[2019-08-20 19:54] ghus86 commented on #60
thanks for the info @craigktreasure (missed that page about ar foundation)

about the web scenario sure the client have a web solution for indoor navigation but its only a 2d map and wanted to include an AR option to guide the user

we already developed a prototype in app format but in the ideal scenario it would be nice to have an web solution that runs both systems and doesn't require the instal

[2019-08-20 19:57] craigktreasure commented on #60
Thanks for the additional info on the web scenario. We'll consider this as we discuss our plans for the future.

[2019-08-20 19:59] ghus86 commented on #60
Cool, thanks for your time and feedback.

[2019-08-20 19:59] #60 closed

[2019-08-21 13:39] vriveras commented on #58
This is not possible today. Once you have placed and stored the anchor on the cloud you cannot move it or update it. You will only be allow to recall the anchor in the same location you created it. If you need to move the anchor we suggest you create a new anchor for the updated location.

[2019-08-21 16:43] Sweekriti91 commented on #56
@mgomar I cloned the sample repo and tried a build from scratch and I am unable to repro the issue. What device type are you deploying to?

[2019-08-22 06:26] mgomar commented on #56
@Sweekriti91 the device is an apple-ipad-pro-2018-11, and running from an Mackbook pro with the latest xamarin and latest visual studio for mac.

thx!

[2019-08-22 18:11] doubl3p opened #61 "How to delete Azure Spatial Anchor after detected"
I develop an unity application and I am working with azure spatial anchors. I found no possibility to delete a detected cloudAnchor. I tried this:

        protected void OnCloudAnchorLocated(AnchorLocatedEventArgs args)
        {
            CloudSpatialAnchor nextCsa = args.Anchor;

            ...
            if (nextCsa != null)
            {
                Debug.Log("BEFORE DELETE");

[2019-08-23 01:35] DalonV opened #62 "Updating from version 1.2 to 1.3.0"
I am a little lost with this update. So far, I have been using Spatial Anchors and the ARCore add-on for Unity. But with this update, when linking it to ARFoundation, it is impossible to have the ARCore plug-in enabled since ** has ** to be disabled for ARFoundation to work.

Am I missing something? Is there any way to facilitate this transition? The documentation is outdated, it even recommends p

[2019-08-23 11:09] doubl3p commented on #58
thanks for information @vriveras. I have implemented it now like you suggested.

[2019-08-23 11:09] #58 closed

[2019-08-23 13:09] doubl3p opened #63 "Build on iOS not working with Xcode 10.3"
While the build in Xcode 10.3 i get this error:

[code]

**What am I missing?**

[2019-08-23 13:11] doubl3p commented on #44
What are the supported versions of Xcode?

[2019-08-25 07:23] adityosnrost opened #65 "Adding auto configured NuGet for Unity"
## Overview

Azure Spatial Anchors NuGet package will not be automatically installed or added if we build Unity project that also contain other Unity Package that utilized NuGet For Unity. It is because the post build script will not add the needed package list into NuGet package list to be installed when opening VS or build it. And, we need manually add Microsoft.Azure.SpatialAnchors.WinCPP into

[2019-08-29 11:59] rajshekarreddy97 opened #66 "Not able to publish project at the Sharing\SharingServiceSample"
I'm getting a 'publish failed' error in Visual Studio. I tried deploying it with git but got a 'deployment to website failed' error

[2019-09-01 15:55] #66 closed

[2019-09-05 09:52] mgomar commented on #56
@Sweekriti91 any update?

[2019-09-09 06:51] czgorge opened #68 "HoloLens Error Report"
I used the demo from:

[https://docs.microsoft.com/zh-cn/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app](url)

the AzureSpatialAnchorsScript has a error when it comes to this step:
![20190909144148](https://user-images.githubusercontent.com/55077085/64508434-0185e380-d310-11e9-80ec-09ba71b09d0e.png)

The HoloLens app just crash and quit.
The VS shows this:

![20190909143529](https

[2019-09-11 07:13] TiNovTec commented on #54
@vriveras I didn't change any code. I simply followed the tutorial and tested the app on Android.

[2019-09-17 04:46] ashikns commented on #68
Could you please provide a translated version of the second screenshot :) I'm still new to this stuff but iirc I saw an error like this too.

[2019-09-17 04:58] ashikns opened #70 "StartSessionAsync needs to be called after a delay"
I created a script that inherits from SpatialAnchorManager and then called StartSessionAsync from Start() (after base.Start() of course). A session is created successfully but it never scans any frames. If I call StartSessionAsync after a delay of 3 seconds via a coroutine it works. Using sdk version 1.3.2 on Unity 2019.1.14f1, building for Android using Unity built-in sdk.

Here's my take on it:

[2019-09-18 11:10] Merichbier commented on #70
I also remarked this bug, my Hack was to create a IsReady attribute and set it only to true when SpatialAnchorsManager was ready

[code]

This however doesn't prevent other script from starting a session when it is not ready and isn't really clean.. But haven't had any other idea to hack this issue

[2019-09-18 11:15] Merichbier commented on #32
This limit of 10 anchors exists, but you can always queue your watcher to find more anchors. If you are not sure that a watcher will end, you could do something like "context switch"

[2019-09-18 11:34] Merichbier opened #71 "Samples not working on Android 7.0"
Hi,

According to the only requirement that I found in the releases notes, Azure Spatial Anchors SDK only depends on ARCore 1.8.

I have a Zenphone on Android 7.0 which run ARCore > 1.8 and the samples fail to run because of
` Unable to find azurespatialanchorsndk`
According to my logcats.

Note that the Unity project was set to Android 8.0 and I changed it to deploy on my Zenphone.

Either there

[2019-09-19 13:01] lingchun opened #72 "Object Created Not Anchored by Spatial Anchor on iOS/android Device in Azure Spatial Anchor Unity Demo"
I’m not sure if there’s some bug when spawning a new spatial-anchored game object in iOS/android device. When creating a game object with NativeAnchor on iOS/android device. The following statements is called,

![snapshot1](https://user-images.githubusercontent.com/17996334/65245715-a928c000-db1f-11e9-9555-c55621271640.png)

Actually the real anchored object is the game object (for short, I call i

[2019-09-20 06:45] czgorge commented on #68
[cid:6353ffb3-78f3-43a9-92b9-3b9809f727a3]
 The Visual Studio can't be debugged when it is switched to English, do you think this translation is ok?

________________________________
发件人: Ashik Salim <notifications@github.com>
发送时间: 2019年9月16日 21:46
收件人: Azure/azure-spatial-anchors-samples <azure-spatial-anchors-samples@noreply.github.com>
抄送: Zhen Chen 陈震 <zhenchen@datamesh.com>; Author <author@n

[2019-09-23 13:13] Merichbier commented on #71
I could get rid of this error by updating the dependencies in the package manager to :
    "com.unity.xr.arcore": "2.1.1",
    "com.unity.xr.arfoundation": "2.1.3"

But now it seems that the session failed to be created
This code seems to fail silently (when using some debug log at the end of this code it shows that the function work on Android 9 but not in Android 7
[code]

Any idea why it fails

[2019-09-23 13:36] Merichbier commented on #71
Here is the message from the DispatchUiThread :

[code]

[2019-09-27 01:14] skypu3 opened #73 "Reality Composer and RealityKit support ?"
Hi Team,

I wonder if spatial anchor supports realityKit anchor system, that we can use aranchor to init AnchorEntity, then add model directly on it.
The difference between aranchor and anchorentity
https://stackoverflow.com/questions/57593960/whats-the-difference-between-aranchor-and-anchorentity

[2019-09-27 19:43] vriveras commented on #73
@skypu3 , No azure spatial anchors does not support RealityKit and RealityComposer at the moment.

[2019-09-27 19:43] #73 closed

[2019-09-27 19:45] vriveras commented on #70
We have a fix for this issue coming in the next release.

[2019-09-27 19:45] vriveras commented on #71
We have a fix for this issues coming in the next release.

[2019-09-27 19:48] vriveras commented on #63
Did you run the pod-install command?

[2019-09-27 19:50] #30 closed

[2019-09-27 19:51] #21 closed

[2019-09-27 19:52] #16 closed

[2019-09-27 19:53] #28 closed

[2019-09-27 19:56] #38 closed

[2019-09-30 11:12] Merichbier commented on #71
Thanks for the update. Do you have any roadmap we can see about when this next release will be available ?

[2019-10-06 21:45] sely2k opened #74 "Build not work with xamarin"
in xamarin project is referenced a package netstandard that is invalid
<img width="439" alt="Screenshot at Oct 06 23-38-18" src="https://user-images.githubusercontent.com/3965792/66276407-ff715f00-e892-11e9-9ce2-5b33c7e378d3.png">

[2019-10-07 08:44] tvrDev opened #75 "exporting spatial anchors fails"
I already tried getting help on the WMR side, since I have the same problem when trying to share spatial anchors without azure, sadly no luck there yet.

I am working with the HP Reverb, a VR immersive headset with inside out tracking developing on Unity and building for the UWP platform. Spatial Anchors are working, tested and confirmed. I can not **export** spatial anchors however.

When using t

[2019-10-15 15:15] vriveras commented on #32
Yes this cap is to control the amount of data we are looking for in given area. This number is now 35 instead of 10.

[2019-10-15 15:15] #32 closed

[2019-10-15 15:17] vriveras commented on #37
This should be fixed in the latest version of the SDK. Please let us know if you are still having issues.

[2019-10-15 15:17] #37 closed

[2019-10-15 15:17] #41 closed

[2019-10-15 15:18] vriveras commented on #44
This should be supported in the latest version of the SDK.

[2019-10-15 15:18] #44 closed

[2019-10-15 15:18] #47 closed

[2019-10-18 02:36] #75 closed

[2019-10-18 02:39] #68 closed

[2019-10-18 02:40] #63 closed

[2019-10-18 10:14] sangadji opened #77 "How to disable the flat surface detection shader?"
Hi,

Is there any way to disable the flat surface detection shader?
I mean the kind of red texture bordered with black lines that the app draws every time the app detects a flat surface.
Image : https://drive.google.com/file/d/10Y6oZgeVCBvX2MpwMrUCVbMGmh61JrFX/view?usp=sharing

[2019-10-21 18:29] Redslaya opened #78 "Poor Performance on Samsung Devices"
When building the sample via Unity to a Samsung device (S10, Note 10+) the camera framerate suffers significantly (~5fps) when placing, uploading, or finding a spatial anchor. The framerate is fine in the steps leading up to placing it. The same project runs fine on a pixel 3XL, iPhone XR, iPhone XS, and Hololens devices. Other ARCore based projects run fine on the Samsung devices.

this occurs wi

[2019-10-22 07:29] H-man opened #79 "Build on IOS not working with Xcode 11.1 (pods installed)"
I have a problem building samples with XCode 11.1. I've run pod install --repo-update and it generated the xcworkspace project.

When building the xcworkspace, I get lot of errors like:
Undefined symbol: _ssc_get_error_details
Undefined symbol: _ssc_near_anchor_criteria_set_distance_in_meters
etc..

[2019-10-22 21:59] s-r-jones commented on #79
Same here. Running:

MacOS: 10.15
Unity: 2019.3.0b6
Xcode: 11.1

[2019-10-23 07:07] bklever opened #80 "RecommendedForCreateProgress always zero"
Trying to implement Android Unity example code of placing marker within a project but am unable to ever get RecommendedForCreateProgress to move off zero when moving device around. Have tried waiting 3 seconds before invoking StartSessionAsync as suggested elsewhere but to no avail. Any suggestions? Using SDK 1.3.0

[2019-10-23 07:15] #80 closed

[2019-10-28 15:23] cheles commented on #61
https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#delete-anchors
[code]
Our[ sample code](https://github.com/Azure/azure-spatial-anchors-samples/blob/bd662ab192cd92b53296e163ddc8d30efc650f11/Unity/Assets/AzureSpatialAnchors.SDK/Scripts/SpatialAnchorManager.cs) shows something like:
[code]

There is also another solution purposed [here](https://stackoverflow

[2019-10-28 16:38] darax commented on #78
Hey @redslaya,

We are aware of this issue and have sent it to Unity to investigate.  We can reproduce this behavior without Azure Spatial Anchors.  All you have to do to reproduce this is call arCameraManager.subsystem.TryGetLatestImage to experience the stuttering behavior.

  Unity doesn't have a fix yet, but they have suggested a somewhat surprising workaround: add a couple objects to your sce

[2019-10-28 17:18] darax commented on #79
Are you both running 2019.3?

For 2019.3, we have had a couple of reports of this. You can update the podfile to look like:
platform :ios, '11.0'
use_frameworks!

target 'Unity-iPhone' do
  target 'UnityFramework' do
    # Pods for UnityFramework
    pod 'AzureSpatialAnchors', '1.3.0'
  end
end

[2019-10-28 17:23] darax commented on #77
Hi sangadji,
You can disable the effect by setting the Plane Prefab to none on the AR Plane Manager component on the ARFoundationSessionStack prefab.

![image](https://user-images.githubusercontent.com/15933792/67701273-e5e0a600-f96c-11e9-8953-c64c41627034.png)

[2019-10-28 17:48] H-man commented on #79
Yes, I'm running 2019.3 also. Should have mentioned that.. Anyways, updated podfile and it works perfectly. Thanks!

[2019-10-28 17:48] #79 closed

[2019-10-28 21:12] craigktreasure commented on #74
I'm not able to reproduce your exact issue with a build error, but I'm definitely seeing some issues that I think are more Xamarin\Xcode issues. I do see the same issue in the **References** that you're seeing, but i'm still able to build and deploy the app. I was able to remove the **netstandard** reference and still build the sample, so we'll make that change in our next update to the samples.

[2019-10-28 21:16] craigktreasure commented on #65
Thanks for the suggestion. We are considering this work and will have more to share in a future release.

[2019-10-28 21:16] #65 closed

[2019-10-28 21:19] craigktreasure commented on #62
Sorry for the late response. Have you tried our latest [quickstart](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android) for Unity on Android? We have migrated to using ARFoundation since the ARCore and ARKit plugins for Unity have been deprecated.

[2019-10-29 15:15] Redslaya commented on #78
Thank you Darax. will mark this closed.

[2019-10-29 15:15] #78 closed

[2019-10-31 15:23] efsjouw opened #81 "System.InvalidOperationException: Unexpected response code!"
Hello I have based my own code on the example code but in essence anchor creation should still work the same as far I I know, I get this error most of the time when trying to create an anchor.

`Debug.Log("Creating anchor " + managedAnchor.anchorName + "...");

managedAnchor.anchorObject.AddARAnchor(); //First we create a local anchor at the location of the object in question
        CloudSpatialA

[2019-11-01 10:59] efsjouw commented on #81
After some testing/debugging we found out that out of the three anchors we have in our application only the third one cannot be created right now, even though this is the exact same process.

[2019-11-01 18:50] darax commented on #81
Hi efsjouw,

Would it be possible to try moving your SDK forward to 1.3.2?

[2019-11-04 08:45] efsjouw commented on #81
Alright that appears to work however now I get the message that the expiration time of the anchor is invalid, in the example I used (from the Microsoft tutorial page) this was set to 7 days?

[2019-11-04 17:58] darax commented on #81
Interesting.  Do you have any log output from this?  The CV entries are very useful for use triaging.
(like System.InvalidOperationException: Unexpected response code! Likely bug in the SDK!. Request CV: V/BNlOunR/qCfUW+LJvoVg. Response CV: . at )

[2019-11-05 17:27] RamonArguelles commented on #81
Hi efsjouw,

As darax pointed out, do you happen to have log output from your issues after upgrading the SDK to 1.3.2?

[2019-11-05 17:38] RamonArguelles commented on #40
The code needs to run on the UI thread to be able to retrieve the native anchor pose. OnAnchorLocated doesn't run on the UI thread. Once you receive LocateAnchorStatus.Located, schedule work on the UI thread to retrieve the native anchor pose, and spawn your game object with it.

From https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Unity/Assets/AzureSpatialAnchors.Examples/Scrip

[2019-11-05 18:19] RamonArguelles commented on #50
Hi @JaimeIvanCervantes,

Really sorry, you are 100% right. The 1.3.0 release has a regression on this area, where we bumped, without noticing, our minimum API level support to 26. We are fixing this in our next release, which is coming out soon.

[2019-11-05 18:41] RamonArguelles commented on #51
Hi @JaimeIvanCervantes,

Are you still seeing this issue? If so, a few questions:

* Have you tried running the Android NDK quickstart sample "as-is", to verify it works on your phone configuration? https://github.com/Azure/azure-spatial-anchors-samples/tree/master/Android/NDK
* How are you initializing your _platformSession native session pointer? The code you copied into your post doesn't includ

[2019-11-05 18:52] RamonArguelles commented on #54
Hi @TiNovTec,

Check the account Name that you used to deploy your CosmosDB instance? Do not post it here, though, just check it. Perhaps you used one of the sample names mentioned in the Tutorial (ccdbtable, or newtable)? The thing is, once you create a CosmosDB instance, it is public, and if anyone else in the world uses a connection string that matches your Account Name, it will hit your deploy

[2019-11-06 22:26] kforshier opened #82 "Unable to locate anchors by passing empty list to watcher criteria"
The documentation for ASAAnchorLocateCriteria.identifiers states  `Cloud anchor identifiers to locate. If empty, any anchors can be located.`

However, when I pass an empty list to this field I am unable to locate any anchors. There are less than five anchors total in the account I am using, so I should be under the max limit of 35 (as mentioned here https://github.com/Azure/azure-spatial-anchors-

[2019-11-07 12:48] bertt commented on #56
Why is this issue closed? Looks like every IPad user gets this cryptic error :-(

[2019-11-07 14:08] mgomar commented on #56
¯\_(ツ)_/¯

Same thought here.

[2019-11-07 14:34] vriveras commented on #56
This one was closed by mistake.

[2019-11-07 14:45] cribin opened #83 "Unity Android Build - Camera lagging/jittering while using azure sample"
When I tried out the Unity Sample AzureSpatialAnchorsNearbyDemo for Android I experience a jittering/lagging of the Videofeed after I place the first anchor and the demo asks me to scan more of the environment). Here is a video demonstrating the problem: https://drive.google.com/file/d/1x6USlVO9hN72hBSammzVUM1zIzNNT7Wf/view?usp=sharing

When I commented out the code at line 180 in the script Asset

[2019-11-07 16:58] craigktreasure commented on #56
Sorry for the delay on this issue. We'll try to get to the bottom of this one today.

[2019-11-08 13:48] Nanoodle commented on #82
Hey Kforshier, it isn't actually possible but the documentation hasn't been changed yet.
I'll reference this issue regarding the docs: https://github.com/MicrosoftDocs/azure-docs/issues/26617

**Alberto-Vega-MSFT commented on Mar 19**
"This text: "If empty, any anchors can be located". It's wrong. You can't pass an empty list of identifiers. So, we need to fix it."

[2019-11-08 22:05] RamonArguelles commented on #55
Great suggestion, @TiNovTec. Thanks for providing it. I've filed a bug in our backlog to take a look at this.

[2019-11-08 22:23] RamonArguelles commented on #61
Hi @doubl3p,

Do not attempt to delete the anchor from within the OnCloudAnchorLocated callback. This method is being called from an internal thread owned by the Azure Spatial Anchors Session. If you call DeleteAnchorAsync from here, and await on it, you'll hold the current thread, and the delete operation will be scheduled on a different thread. The delete operation is detecting that the anchor i

[2019-11-08 22:36] RamonArguelles commented on #82
Thanks, @kforshier. I've filed a bug in our backlog to take a look at this documentation bug.

[2019-11-08 23:21] craigktreasure commented on #56
We'll have an update for this hopefully sometime next week.

[2019-11-14 00:59] MikeChemi opened #84 "Unity, Android - DllNotFoundException: azurespatialanchorsndk"
I'm trying to integrate the Azure Spatial Anchors SDK into my own app, instead of starting from the sample. I have it working on a HoloLens, but when I deploy to Android I get this error:
AndroidPlayer(ADB@127.0.0.1:34999) DllNotFoundException: azurespatialanchorsndk
  at (wrapper managed-to-native) Microsoft.Azure.SpatialAnchors.NativeLibrary.ssc_anchor_locate_criteria_create(intptr&)
  at Micros

[2019-11-14 05:16] ashikns commented on #46
Okay so to clarify, this is something that has to come from the AAD team rather than the ASA team?

[2019-11-14 18:15] craigktreasure commented on #84
Hey @MikeChemi! Based on your folder structure it looks like you're building a Unity app. Is that correct? If so, you'll need to setup the `mainTemplate.gradle` file in `Assets/Plugins/Android/mainTemplate.gradle`. Here's the [Unity docs](https://docs.unity3d.com/Manual/android-gradle-overview.html) for that file and our usage in our [sample](https://github.com/Azure/azure-spatial-anchors-samples/

[2019-11-14 18:29] craigktreasure commented on #83
Hey @cribin, sorry to hear you're having issues. We are aware of a performance issue in Unity that you may also be hitting on your specific device. We're waiting on a fix from Unity, but a workaround you can try in the meantime is to add a couple of objects to your scene that cast shadows. We've had success on a few other devices with this workaround. I'm not 100% sure that you're hitting the same

[2019-11-14 18:48] craigktreasure commented on #72
Sorry for the delay and thanks for the detailed report. @darax to take a look.

[2019-11-14 18:49] #77 closed

[2019-11-14 19:01] craigktreasure commented on #71
Sorry about the delay. We just released version 2.0.0, which includes a fix for this. Please give 2.0.0 a try and feel free to re-open this if you have further issues.

[2019-11-14 19:01] #71 closed

[2019-11-14 19:04] craigktreasure commented on #74
This was fixed in our recent 2.0.0 release.

[2019-11-14 19:04] #74 closed

[2019-11-14 19:06] craigktreasure commented on #56
This has now been addressed in our 2.0.0 release. Feel free to re-open if you have further related issues.

[2019-11-14 19:06] #56 closed

[2019-11-14 19:09] craigktreasure commented on #50
This is addressed in our recent 2.0.0 release. Please update and to 2.0.0.

[2019-11-14 19:09] #50 closed

[2019-11-14 19:13] craigktreasure commented on #70
This should have been fixed. Please update to 2.0.0 and report back on any further related issues.

[2019-11-14 19:13] #70 closed

[2019-11-14 19:19] craigktreasure commented on #61
Thanks @RamonArguelles! Closing this for now. Feel free to reopen for further discussion if necessary.

[2019-11-14 19:19] #61 closed

[2019-11-14 19:22] craigktreasure commented on #84
Also, as part of our 2.0.0 release, our Unity package now only includes the scripts you need to add Azure Spatial Anchors to an existing project, so that should be more helpful. You might give that a try.

[2019-11-14 19:23] craigktreasure commented on #62
Closing this as we haven't had a recent response. Feel free to reopen for further discussion.

[2019-11-14 19:23] #62 closed

[2019-11-14 19:23] MikeChemi commented on #84
I have added the gradle template, but that didn't work for me. I will try the 2.0.0 release and let you know how it goes.

[2019-11-14 19:24] craigktreasure commented on #57
Thanks for the report. @darax to take a look.

[2019-11-14 19:25] craigktreasure commented on #54
Closing this issue. Feel free to re-open for further discussion.

[2019-11-14 19:25] #54 closed

[2019-11-14 19:33] craigktreasure opened #86 "Performance issues with Unity on Android"
We are aware of a performance issue in Unity that affects certain Android devices (Samsung Galaxy S10 for certain). We're waiting on a fix from Unity, but a workaround you can try in the meantime is to add a couple of objects to your scene that cast shadows. We've had success on a few devices with this workaround. It's worth a try if you feel you may be hitting the same issue.

We'll update this i

[2019-11-14 19:44] MikeChemi commented on #84
I'm getting a different error now:
<i>AndroidPlayer(ADB@127.0.0.1:34999)</i> Unable to load library '/data/app/com.Microsoft.GAMApp-cosXchAGh9IqWPCSaaY7Xg==/lib/arm/libazurespatialanchorsndk.so', native render plugin support disabled: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "ArCamera_getTrackingFailureReason" referenced by "/data/app/com.Microsoft.GAMApp-cosXchAGh9IqWPC

[2019-11-14 19:49] craigktreasure commented on #84
You'll also need to make sure you have enabled the following Unity packages if you haven't already:
* AR Foundation: 2.1.4
* ARCore XR Plugin: 2.2.0

[2019-11-14 19:59] MikeChemi commented on #84
Ah, ok. I was still on version 2.0.2 for both of those. If I try to use AR Foundation 2.1.4 with ARCore XR Plugin 2.2.0, I get build errors.

Version 2.2.0 for both packages are marked as preview packages (I'm using Unity 2019.2.1f1). I picked preview.6. This combination worked, and I'm no longer getting the DllNotFoundException. Thanks for the help!

[2019-11-14 19:59] #84 closed

[2019-11-15 00:54] RamonArguelles commented on #46
Correct, @ashikns. We'll be closing this issue now, but do feel free to re-open for further discussion.

[2019-11-15 00:54] #46 closed

[2019-11-18 11:57] reneschulte opened #87 "CoarseReloc Sample fails with NearDeviceCriteria"
I've tried the latest sample commit a4e5e3a34d88f33775b4f5bb3024e0d20162b44b and all samples work fine except the Coarse Reloc one which seems to have some issue when trying to reloc the anchor.

See the screenshots when I was in Berlin it was a little cloudy and overcast but GPS with Maps worked fine.

For this one I created an anchor on the bench and tried to reloc it for a minute moving my phon

[2019-11-18 18:40] reneschulte commented on #87
Quick update. It seems to e related to the WiFi as LocationProvider which might be conflicting with the GPS. I disabled WiFi, so it's only using GPS and then it seems to work.
locationProvider.Sensors.WifiEnabled = false;

[2019-11-19 14:59] TobiasPott opened #88 "Unity for Android: PlatformLocationProvider not providing GPS or WiFi on some Android devices"
Hi,

The PlatformLocationProvider does not provide GPS and/or WiFi information the example can use to save new anchors with. The status indicators keep displaying a yellow color although any device I've tested it on has location services enabled and permissions granted.
I've been working around this issue for the last few hours and extended the devices I've checked it on to any available Android d

[2019-11-20 09:57] bertt opened #89 "Android 7.0 support?"
I'm trying to run the 2.0 Xamarin Android samples on Asus_002, Android 7.0, but get runtime error when hitting one of the buttons on main screen (basic demo/nearby demo/sharing/coarse reloc):

Java.Lang.NoSuchMethodError
  Message=No virtual method requireActivity()Landroid/support/v4/app/FragmentActivity; in class Lcom/google/ar/sceneform/ux/BaseArFragment; or its super classes (declaration of 'c

[2019-11-20 10:24] TobiasPott commented on #87
I can confirm that there seem to be an issue when GPS and Bluetooth are both enabled on the location provider. Doing so let both appear as missing provider on my Pixel XL 2 whereas when only GeoLocation is enabled the sensor state for GeoLocation is correct (green color)

When I try to confirm the same behaviour for WiFi only I cannot get it to report a valid state for WiFi sensor.

[2019-11-20 13:21] RoyceThomasIype commented on #43
I also got this same issue when I tried to run on Android. I was able to solve the problem when I manually granted all the app permissions.
Hope this helps someone.

[2019-11-21 00:42] darax commented on #72
@lingchun you are correct.  We will integrate a fix in the next release using the change you've recommended in the UnityARFoundationAnchorComponent.  One thing to watch out for is if the ArFoundationReference point gets destroyed the GameObject being anchored will also be destroyed.

[2019-11-21 10:00] bucurb commented on #88
Hi Tobias,
would you be able to share your accountId so we can track what's going on on the service side? Also can do a run and enable the logging and share the log - that it will definitely help.

[2019-11-21 10:13] bucurb commented on #89
It's probably [this](https://github.com/google-ar/sceneform-android-sdk/issues/129#issuecomment-415151687) issue. We're working on a fix and will get back to you ASAP.

[2019-11-21 12:07] TobiasPott commented on #88
Hi @bucurb ,

sure I can, it'll take until tomorrow or early next week until I can run another test but I'll try to provide as much information as possible.
With the accountId you mean the id of the azure spatial anchor resource in our azure account?
And for the logging you refer to the on-device logging information (using logcat)?

Anything else that could help or information you may need?
Should

[2019-11-21 13:39] bucurb commented on #88
Hi Tobias,
Yes, that would be the Accound Id (basically the GUID) that you would see in the Overview page of your Spatial Anchors Account in Azure. For logging you can either use logcat or our [diagnostics APIs](https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/logging-diagnostics), either to capture a diagnostics bundle or to redirect the information from the OnLogDebug and Error ca

[2019-11-21 17:37] pabusse commented on #87
We have deployed a fix for the first issue mentioned by @reneschulte. Thank you for your detailed report!

@TobiasPott Your issue appears to be separate and we will continue to track it in #88.

[2019-11-22 06:19] reneschulte commented on #87
Thanks @pabusse
I think this solved my issue! Tried it 5 times and it was smooth. 🙌

[2019-11-22 06:19] #87 closed

[2019-11-22 07:58] TobiasPott commented on #88
@bucurb I'll do the testing today and will initially create a logcat export of the logs.
If I managed to do another run with the diagnostics API enabled should I simply follow through with submitting the manifest as described in the linked documentation page (not sure how the association will be made to the specific device or whether or not I need to worry about it at all =))?

[2019-11-22 09:53] bucurb commented on #88
I’d like to check a few more things if you have the time:
•	Uninstall the app and re-install it fresh. That should clear any permissions you might have accidentally declined and should prompt you again for everything it needs.
•	Would it be possible to extract your app package and send us your manifest?
•	Can you alternatively try the Java version of the sample? Just in case Unity somehow messes-u

[2019-11-22 11:02] bucurb commented on #88
I think we know what the problem is and are working on a fix. Will ping back once it's in.

[2019-11-25 12:44] Rufus1123 opened #90 "NativeLibrary.ssc_cloud_spatial_anchor_session_create_anchor_async fails with unknown exception"
We are trying to run the HoloLens demo of the [SmartHotel360 demo](https://github.com/microsoft/SmartHotel360-MixedReality), but when trying to save a new anchor to Azure spatial anchors, it fails.
**Update** Also fails following the Android demo

The code:
[code]
The code throws an exception at status.Failed with `fullMessage = 'Unknown exception. Request CV: . Response CV: .'`

We tried changing

[2019-11-25 13:59] DaneyT commented on #83
I encountered the same problem, just leaving my setup info here:
Unity Version: 2019.1.2f1
Platform: Android
Tablet: Samsung Galaxy S6 Tab

But works fine on Google Pixel 1 and Samsung Galaxy S9 smartphones (Unity Version: 2019.1.2f1)

[2019-11-26 09:09] bertt opened #91 "Buttons not visible on Xamarin IOS"
I'm trying to run the samples Xamarin IOS samples (on IPad Pro), but the buttons are not visible when camera is visible (only buttons 'exit demo' on top left). See attached (bit vague) screenshot.
![P_20191126_100139](https://user-images.githubusercontent.com/538812/69615126-afae4900-1034-11ea-9e49-29decae60d7b.jpg)

[2019-11-26 12:53] bertt opened #92 "Cannot create anchor on Swift/iOS"
When running the Swift/iOS 2.0 sample on IPad Pro, I cannot create anchors. Observations:
- Progress counter is passing 100% (?) to 200% (!) , message 'keep on moving'
- When stop moving the message '160% not enough motion' is displayed
- When progress counter is above 100% and message 'Tap on the screen to create an Anchor' is displayed, tapping screen gives error 'Failed' and message 'Creation f

[2019-11-26 16:58] kforshier opened #93 "MaxResultCount property not working"
Using the Android SDK 2.0.0, Pixel 2 device on Android 10

My assumption is that when creating a near device criteria, setting the maxResultCount property would limit the number of anchors that are located. However in my testing, I have the maxResultCount set to a low number, such as 5, but am still getting more than 5 anchors located. Sample code is below. Is this a bug or am I misunderstanding h

[2019-11-26 17:39] kforshier opened #94 "Android: Unspecified error found when running certain locate criteria"
Using Android SDK 2.0.0, Pixel 2 with Android 10

Sometimes when creating a watcher with specified ids to look for,  I am receiving the error log posted below, and am unable to locate any anchors. When attempting to narrow done what triggers it, it seems to happen when I pass in around 15-18 ids. Lowering the number of ids in the criteria makes the error go away and I'm able to find the anchors. U

[2019-11-26 20:44] weinanshen commented on #92
Hi @bertt, could you attach the log? Can you verify you set spatialAnchorsAccountId and spatialAnchorsAccountKey correctly (without space) in iOS/Swift/SampleSwift/ViewControllers/BaseViewController.swift? Thanks!

[2019-11-26 20:46] weinanshen commented on #91
Hi @bertt, it should be a UI bug in the sample. We will get back to you when we have a fix. Thanks!

[2019-11-26 20:58] bertt commented on #92
Hi, checked the id's, should be ok. In the logs I see error messages about 'File with depth file name not available':

[code]

[2019-11-26 22:51] #92 closed

[2019-11-26 23:27] weinanshen commented on #93
Hi @kforshier, it sounds like a bug, we'll investigate it and get back to you. Thanks!

[2019-11-27 00:52] weinanshen commented on #94
Hi @kforshier, we are investigating it and will get back to you ASAP. Thanks!

[2019-11-27 01:39] MugOfPaul opened #95 "ASA includes App Center References/Conflicts"
When trying to use MS App Center in Unity along with the ASA SDK, there are duplicated symbols. This caused a build failure on [Android that the MS App Center team was able to resolve](https://github.com/microsoft/appcenter-sdk-unity/issues/369).  For iOS it builds successfully but on run it logs numerous warnings like these:

`objc[8045]: Class MSAppCenter is implemented in both /private/var/cont

[2019-11-27 03:39] skypu3 opened #96 "get ASAWifiStatusResult.noAccessPointsFound on iOS 13"
Hi,

I enabled the wifi capability, and can get SSID from the code
`guard let ssid = info[kCNNetworkInfoKeySSID as String] as? String else {
                return nil
            }`

But I still get unavailable status from wifiSignalStatus, do you know the reason ?

[2019-11-27 10:27] bucurb commented on #96
Yes, unfortunately WiFi signal strength cannot be recovered on iOS so I'm afraid you won't be able to use WiFi as sensor data on that platform. You're right that you can retrieve the SSID you're connected to but that is not enough for us to place and recover anchors with WiFi. You might consider trying out Bluetooth beacons if you're targeting indoor scenarios with iOS.

[2019-11-27 13:51] clifflinmao opened #97 "All the images under 'android-logos' folders are broken"
In the lasted version, all the images under 'android-logos' folders are broken, which results in error in Unity (but can be ignored).

[2019-11-27 18:00] ntclark4 opened #98 "Not working on HoloLens + Unity"
I'm using version 2.0.0 of the Unity package. My HoloLens has all updates. Unity 2019.2 and Visual Studio 2019 with latest updates.

Trying to save anchors and retrieve them with Coarse Relocalization in the following script:

    using Microsoft.Azure.SpatialAnchors;
    using Microsoft.Azure.SpatialAnchors.Unity;
    using System;
    using System.Collections;
    using System.Collections.Generi

[2019-11-27 18:00] kforshier commented on #93
Just to add, I tested this on the iOS SDK and it was not working either

[2019-11-27 19:32] weinanshen commented on #97
Hi @clifflinmao, what version of Unity are you using?

Options to try:
1. Reimport the asset
2. Reclone the sample repo

Thanks!

[2019-11-27 19:52] weinanshen commented on #95
Hi @MugOfPaul, thanks for reporting this and I'm glad the Android workaround works for you. We will investigate it and get back to you.

[2019-11-28 12:21] clifflinmao commented on #97
It 's not about Unity, just try cloning or downloading the sample project, open the images under \azure-spatial-anchors-samples\Unity\Assets\android-logos, all of them are broken.

[2019-11-28 12:22] clifflinmao commented on #97
even from the size it obviously much smaller than before.

[2019-11-28 20:17] gllebede commented on #89
Hi @bertt
I'm currently investigating the issue.

Unfortunately I didn't find an Android 7 phone to reproduce and fix the issue. I've tried an Android 7 emulator but if fails to show even the first menu with a different exception and it doesn't support OpenGL ES 3.0 so I can't test the coarse relocation demo on it at all.

It looks to me that the uses-sdk android:minSdkVersion property of the samp

[2019-12-02 12:54] efsjouw commented on #81
Hello, I was working on a different project for a while as this was only R&D.

Sadly I cannot reproduce the error anymore, I will keep an eye out for it if I or anyone else encounters it again.

[2019-12-03 10:51] Rufus1123 commented on #90
We have identified one possible issue in our sample. The sample was still pointing to an old api:
`https://mrc-auth-prod.trafficmanager.net/Accounts/{spatialAnchorsAccountId}/token`
whereas this should be:
`https://sts.mixedreality.azure.com/Accounts/{spatialAnchorsAccountId}/token`
The former is very unreliable. It only responded with a token three times out of many requests.
Unfortunately, we st

[2019-12-04 01:30] yosun commented on #96
Which bluetooth beacon devices have you tried it with for Unity/iOS

[2019-12-04 01:31] yosun commented on #95
hi @MugOfPaul - is Torch using Azure Spatial Anchors?

[2019-12-04 01:40] shawmakesmusic commented on #95
🕵️‍♀️

[2019-12-04 03:52] yosun commented on #81
Hi! Just sanity checked with the latest github unity iOS repo / empty Unity project, getting the same errors on trying to save anchor

System.Threading.ExecutionContext.RunInternal
ComiplerServices
.SendOrPost
etc

[2019-12-04 07:32] bertt opened #99 "Public Development?"
Why are you developing these samples on some private repository and do public releases only? Let's develop it here in public, its more fun for everyone.

[2019-12-04 08:59] clifflinmao commented on #97
![image_error](https://user-images.githubusercontent.com/57075803/70128229-2c6ca300-1685-11ea-98e2-436433258c4d.png)

[2019-12-04 12:23] jokokojote opened #100 "LocateAnchorStatus meanings unclear"
I am wondering what the different enum values of LocateAnchorStatus actually mean and when they occur. The documentation is not really providing extensive information (https://docs.microsoft.com/en-us/cpp/api/spatial-anchors/winrt/locateanchorstatus).

I have played around with the unity example on HoloLens and placed different anchors in different places and walked around in the area. `LocateAnch

[2019-12-04 15:55] KSemenenko opened #101 "[Question] offline working"
Does it work offline?
Does it work with bad gps communication?

[2019-12-04 21:07] MugOfPaul commented on #95
👋@yosun
The Torch app itself is not yet but we do have our Publish workflow that lets you export Torch scenes/interactions/assets to a native environment (eg. SceneKit) where it can be integrated with anything like ASA.

[2019-12-04 22:08] pjar-msft commented on #98
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 22:30] pjar-msft commented on #101
Azure Spatial Anchors does not work offline.   If you would like to post this as a feedback @ [Azure Spatial Anchors Feedback](https://feedback.azure.com/forums/919252-azure-spatial-anchors), this will allow the community to upvote and for the product team to include into their plans.

GPS can be [supplemented with WiFi and Bluetooth sensor data](https://docs.microsoft.com/en-us/azure/spatial-anch

[2019-12-05 15:27] efsjouw commented on #101
Could you somehow work around this by using the WorldAnchorManager located class in the SDK/Experimental? You could set this to persistent and then save a world anchor on the position of the found asa anchor, so you will at least have to locate it once before going offline.

[2019-12-05 18:33] pjar-msft commented on #100
Thanks for the feedback. We are looking into how this documentation might be improved.

In the meantime, here's a rough explanation:
Unless your changes have diverged unrecognizably from the sample, we wouldn't expect the sample to give anything but Located.

- Located = "We found the anchor." The CloudSpatialAnchor will have a local anchor attached that you can use.
- AlreadyTracked = "We already

[2019-12-05 19:22] bucurb commented on #96
It should just work with iBeacons and Eddystone UIDs regardless of manufacturer. Have you tried a specific manufacturer and were not able to get it working?

[2019-12-05 21:22] kforshier opened #102 "Ability to know when an anchor is created/deleted outside of app"
Is there anyway to know when an anchor has been created/updated/deleted outside of the app that is doing it? For example, if device A creates an anchor, how do I let device B know about it? Do I need to roll my own solution or is there something provided? I've tried searching around the monitoring capabilities in azure, but it doesn't seem like spatial anchor accounts are included in those, or hav

[2019-12-09 06:14] GooDtoLivE commented on #97
The same issue occurred in my unity project developed by MRTK2.0, Did you fix that?

[2019-12-11 11:35] lordlycastle opened #103 "Unexpected error (code 18) on session start"
I get the following meaningful message: `Error code: 18. Error message: Unexpected error gathering feedback data` when I start a session. It is logged in Error event. All I do is start the session and then that starts pouring.

Here's the script I use to control the anchor manager: https://gist.github.com/lordlycastle/4c440e9df9ad480c1ed2b6688269a6b6

All I do is call `QuickStartSession`. Happens

[2019-12-11 15:16] TobiasPott opened #104 "Unity for iOS: Missing/Wrong Bluetooth Purpose String"
Hi there,

I'm currently developing an application using the version 2.0 of the ASA SDK for Unity and faced a minor issue when I tried to upload it to the AppStoreConnect website to distribute it using Testflight.

During processing of my uploaded application package Apple found an issue regarding the bluetooth purpose string which was embedded into the app.
The notification I recieved was the fol

[2019-12-11 23:29] chrisfromwork opened #105 "Releases should have migration instructions for breaking changes"
Releases thus far seem to have done a good job of calling out what breaking changes have occurred; however, its unclear how to fix things to consume these breaking changes. It would be appreciated if future releases could call out what needs to be done to consume breaking changes.

[2019-12-12 11:42] rafek opened #106 "Java initialization freezes / runs indefinitely for Android (8.1)"
I'm on Android 8.1 and I successfully run Android sample on my phone. Started implementing my solution using ASA 2.0 and on both HL1 and iOS platforms everything worked as expected but for Android the app fails silently on:

[code]

and `CreateSessionAsync` never ends (neither fails nor succeeds). I've created a simple app that is pretty straightforward but presents the issue: https://github.com/r

[2019-12-13 00:14] darax commented on #86
Unity has fixed this in ARFoundation 3.0.0-preview.6 and above.

[2019-12-13 00:59] craigktreasure commented on #97
Sorry about this everyone. We're now using Git LFS for a few more file types in our sample repo.

Follow these instructions to get fixed up:
  - Install [Git LFS](https://git-lfs.github.com/)
  - Run `git lfs install`.
  - If you previously cloned the samples repository before installing and configure Git LFS, you'll also need to run the following from the repository:
    - `git lfs pull`

[2019-12-13 01:04] craigktreasure commented on #105
Good know. Thanks for the suggestion! We'll try to be better about that in the future.

[2019-12-13 01:04] #105 closed

[2019-12-13 01:08] craigktreasure commented on #97
Closing this now. Feel free to re-open for further related discussion.

[2019-12-13 01:08] #97 closed

[2019-12-13 01:19] weinanshen commented on #93
Hi @kforshier, this is a bug in SDK and we're working on a fix for it. In the meanwhile, as a workaround, you will be getting back all the results and can do custom filtering on your end until we fix this.

[2019-12-13 07:38] anton-khoryukov-zf opened #108 "AR session is null - not handled properly"
**Android Java SDK**
The method `setSession` of the class `CloudSpatialAnchorSession` does not throw an exception / error when the given parameter `Session` is null (AR session not ready).

In the Android Java SDK example this can happen in the function `initializeSession()` (`this.cloudSession.setSession(sceneView.getSession());`) and lead to the following behavior:
- `SessionUpdatedEvent `of the

[2019-12-13 13:45] bucurb commented on #88
This should be fixed from 2.1.1. Could you give it another go please?

[2019-12-13 18:51] chrisfromwork opened #109 "SpatialAnchorManager should expose properties in order to be configurable at runtime"
We have some stale logic related to ASA in another Microsoft MR project that we are currently looking to update: https://github.com/microsoft/MixedReality-SpectatorView/blob/master/src/SpectatorView.Unity/Assets/SpatialAlignment.ASA/Scripts/SpatialAlignment/SpatialAnchorsCoordinateService.cs

It's a bit unclear whether we should write custom calls to create/manage CloudSpatialAnchorSessions or if

[2019-12-14 18:28] TobiasPott commented on #88
Hi @bucurb
I'll give it a try on Monday or Tuesday when I'm back in office.
I'm glad a fix for this has come that quick. Thank you in advance.

[2019-12-16 20:54] dotMorten commented on #31
The latest xamarin package also forces you to pull in analytics. This is a showstopper for me, as I have no control over what private IP is being sent to who and where, and I wouldn't know what to put in my privacy policy, or know how to disable it all. Again telemetry only belong in apps, not SDKs.

![image](https://user-images.githubusercontent.com/1378165/70942229-0dfe9400-2003-11ea-93e6-204824

[2019-12-16 22:56] dotMorten opened #110 "Xamarin.Android: LocateAnchorStatus is not an enum"
There appears to be an issue with the binding for Android, as it's not correctly being shown as an enum as it is in iOS, but is instead a set of static values:

iOS definition:
![image](https://user-images.githubusercontent.com/1378165/70949862-caf8ec80-2013-11ea-8f75-adc61d4f74fc.png)

Android definition:
![image](https://user-images.githubusercontent.com/1378165/70949877-d4825480-2013-11ea-953f-

[2019-12-17 08:45] somepablo opened #111 "Compatibility with ARFoundation 3.0"
Hi,

Some of our apps use both Spatial Anchors and other AR features. However, because Spatial Anchors requires ARFoundation 2, we are somehow limited to new ARFoundation features and fixes.

Are you planning to upgrade Azure Anchors SDK to support ARFoundation 3.0? Is there any workaround to use ARFoundation 3 with the current Anchors SDK?

Thanks

[2019-12-17 11:06] TobiasPott commented on #88
Hi @bucurb ,
I finally found the time to update the SDK to 2.1.1 and run our application on the previously limited Motorola devices.
It now works as expected and on both devices (Motorola Moto G5S Plus and Moto G7 Play) can use GPS and Wifi sensor data.

As previously mentioned I'm not able to test the bluetooth feature due to the lack of access to beacons. But the reported problem that the stated

[2019-12-17 11:06] #88 closed

[2019-12-17 15:25] bertt commented on #89
Hi @gllebede , I've tested it with latest release 2.1.1, now 3 demo's work only the last one (coarse reloc) crashes with message:

[code]
In order to run the demo I've only changed the Minimum Android version to 24 (and of course changed AccountDetails.cs)

[2019-12-19 12:24] sublimeRich opened #112 "LocateAnchorsCompleted event handler on SpatialAnchorManager is invoked before anchor location is complete."
When trying to locate more than one anchor by providing multiple identifiers to `AnchorLocateCriteria`, the `SpatialAnchorManager` will fire the `AnchorLocated` and the `LocateAnchorsCompleted` events in an incorrect order, eg

AnchorLocate <anchor 1>
AnchorLocate <anchor 2>
LocateAnchorComplete
AnchorLocate <anchor 3>

The `LocateAnchorComplete` event appears to always be fired after the first an

[2019-12-20 12:36] FSchmidNT opened #113 "CloudToNative() does not work with localized anchors"
When I locate an anchor created in another session and try to save the identifier of my Cloud Spatial Anchor in the CloudNativeAnchor component of my anchor, it does not work. Apparently the reference is not created because I have an " Object reference not set..." error. However, if I want to add the Cloud Spatial Anchor to a newly created anchor in the session, it works fine.

For my app I use th

[2019-12-23 21:38] Alberto-Vega-MSFT commented on #99
Adding @julianparismorgan @vriveras @craigktreasure

[2019-12-23 21:39] Alberto-Vega-MSFT commented on #108
@craigktreasure @RamonArguelles  Would you please help?

[2019-12-26 15:47] tomCarnevale commented on #43
This was my issue, storage permissions had been denied but was never properly requested. Recommend that permissions are requested before attempting to save to cloud

[2020-01-07 20:33] ntclark4 commented on #98
@pjar-msft any update on this? I'm testing the same code above with the new 2.1.1 unity package. I get the same error when I test without Course Relocalization. I get almost the same error when I test with Course Relocalization, except it starts with **InvalidOperationException: WiFi access has been declined** before the **at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus** part.

[2020-01-07 22:49] julianparismorgan commented on #98
Hey @ntclark4, a few questions:

- Could you set LogLevel to all and share the log?
- When you say "I get the same exception ... when I run the Relocalization demo", does that mean you're getting this same error when you run the Coarse Relocalization demo (from this repo)?
- Could you try registering for the cloudSession.AnchorLocated callback before you call         cloudSession.CreateWatcher()?

[2020-01-07 23:17] julianparismorgan commented on #100
Hey @jokokojote, you can also find similar descriptions as code comments on this docs page: https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#locate-a-cloud-spatial-anchor

If it's okay with you, we'll go ahead and close this issue!

[2020-01-09 01:01] SpencerIO opened #116 "Migrate to Unity 2019.3"
When I migrate the Unity project to 2019.3 I am getting CS0506 override issues in the com.unity.xr.arsubsystems@2.2.0-preview.3
![Screen Shot 2020-01-08 at 4 56 43 PM](https://user-images.githubusercontent.com/5199953/72028607-01eba800-3238-11ea-831e-c97f7603ad25.png)

I am specifically looking to use the new feature in 2019.3 to use Unity as a library

[2020-01-09 01:05] SpencerIO commented on #79
I am having issues getting to the point in 2019.3 when I would be able to publish to xcode. How did you overcome the Migration issues in Unity?

@H-man @darax @s-r-jones

I have opened a separate issue
https://github.com/Azure/azure-spatial-anchors-samples/issues/116

[2020-01-09 07:15] skypu3 commented on #116
I had same issue too. How can we fix it ?

[2020-01-09 22:03] ntclark4 commented on #98
@julianparismorgan thank you for the suggestions. I implemented a pattern closer to the doc you posted and figured out one of the issues. I got things working without Course Relocalization. The first issue was because I was calling an async method (SetAnchor) from a button script which can't handle that.

Here's the code that I'm testing now:

    void Start()
    {
        cloudSession = new Clou

[2020-01-09 23:02] julianparismorgan commented on #98
It looks like a permissions issue. Could you check your ProjectSettings.asset to make sure that  InternetClient = True? Here's the file from the Unity sample for reference: https://github.com/Azure/azure-spatial-anchors-samples/blob/a4e5e3a34d88f33775b4f5bb3024e0d20162b44b/Unity/ProjectSettings/ProjectSettings.asset

[2020-01-10 14:43] ntclark4 commented on #98
It's set to True. I've made sure to check the proper capabilities when building.

[2020-01-11 11:31] gamedev2492 commented on #23
@vriveras I have run the demo scene on the Android device and I have updated SDK and NDK and still I have got the error. Do we have any solution for this?

[2020-01-13 18:22] julianparismorgan commented on #112
Hi @sublimeRich, thanks for letting us know. We're looking into this!

[2020-01-13 18:30] julianparismorgan commented on #110
Hi @dotMorten, thanks for letting us know! We're looking into this. RE. your note on odd inconsistencies, we really appreciate you taking the time to report these inconsistencies and help us fix them, so please continue to do so :)

[2020-01-13 18:33] julianparismorgan commented on #102
You'll need to write your own service to handle this. As an example, you can check out this tutorial on how to use CosmosDB with Azure Spatial Anchors. You'll then need to add some more logic to call to other clients with a notification that a new anchor has been created.

https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices?tabs=VS%2CAndroid

[2020-01-13 18:34] #100 closed

[2020-01-13 18:43] julianparismorgan commented on #106
Hi @rafek, thanks for letting us know! We're looking into this and will update you when we know more.

[2020-01-13 23:25] julianparismorgan commented on #98
So I believe the issue may be that the wiFiControl UWP capability is missing. We inject that into the appx manifest in [Editor/InjectPermissionsBuildProcessing.cs](https://github.com/Azure/azure-spatial-anchors-samples/blob/c90cb42c5f6cb452c7cff4e97fe4284c7a17502b/Unity/Assets/AzureSpatialAnchors.Examples/Editor/InjectPermissionsBuildProcessing.cs#L79), as Unity does not know about Wi-Fi access.

[2020-01-14 15:40] ntclark4 commented on #98
@julianparismorgan thank you! That was indeed the problem. I just manually opened `Package.appxmanifest` with Visual Studio's XML editor instead of the default App Manifest Designer and added `<DeviceCapability Name="wiFiControl"/>` in `Capabilities`. That simple. I can now save and locate anchors with Course Relocalization and Wifi.

[2020-01-14 15:40] #98 closed

[2020-01-14 21:37] softwarengineer2 commented on #116
You just need to upgrade the some of the packages to the latest from package manager (On top menu Window>Package Manager).

Or you can simply use my manifest.json (Unity\Packages\manifest.json)

`{
  "dependencies": {
    "com.unity.2d.sprite": "1.0.0",
    "com.unity.2d.tilemap": "1.0.0",
    "com.unity.ads": "2.0.8",
    "com.unity.analytics": "3.3.4",
    "com.unity.collab-proxy": "1.2.16",

[2020-01-14 21:38] julianparismorgan commented on #98
Great to hear @ntclark4. We'll add a section about this to the documentation to help others in the future.

[2020-01-14 22:20] softwarengineer2 commented on #111
I tried it with ARFoundation 3.1.0. They just set their manifest.json to 2.1. You can simply upgrade it with Package Manager (Window/Package Manager) or directly updating manifest.json (Unity\Packages\manifest.json) to this

[code]

[2020-01-15 03:28] cmnvb opened #117 "Unity Android: CloudSpatialException on saving anchors"
Hi! I am using the v2.1.1 Unity demo and building to an Android device and am having issues with saving anchors to cloud. I have had success in doing so in the past but over time I am encountering more frequent failures. This issue is occurring in both the demo from the repo and in another app with slightly modified code but both using the same credentials.

Starting from approx. 2 weeks ago, it u

[2020-01-16 21:19] julianparismorgan commented on #117
Hi @cmnvb, thanks for letting us know. A few questions that will help us:

- What version of ARCore are you using?
- Do you have a different device you could test on as well?
- Could you share a log from running the sample app (with loglevel = all)?
- Could you also share a log from your own app?  It would also be useful to have a log where it didn't succeed for a time, and then eventually did suc

[2020-01-16 22:33] softwarengineer2 commented on #117
Try to give all permissions manually from App Manager (storage especially).

[2020-01-16 23:15] julianparismorgan commented on #104
Hi @TobiasPott, thanks for letting us know! We're looking into this, and will let you know when we have updates (internal issue #24655317).

[2020-01-17 00:14] julianparismorgan commented on #90
Hi @Rufus1123, is everything working if you move to the latest SDK?

[2020-01-17 00:21] julianparismorgan commented on #40
Hi @jelmerS2 / @cbutzke, checking in to see if you were able to get it working? If you update to the latest SDK, do things work?

[2020-01-17 00:28] julianparismorgan commented on #72
Hi @lingchun, this should be fixed now, so I'm going to go ahead and close it. Thanks for helping us find issues in ASA!

[2020-01-17 00:28] #72 closed

[2020-01-17 00:31] darax commented on #113
Hi @FSchmidNT, just saw this.  After reviewing the code, I think there is a bug in the ASA SDK.  You can try this patch:
In file Assets\AzureSpatialAnchors.SDK\Scripts\CloudNativeAnchor.cs
Find the function CloudToNative (around line 70):
public void CloudToNative(CloudSpatialAnchor cloudAnchor)
        {
            // Validate
            if (cloudAnchor == null) { throw new ArgumentNullExceptio

[2020-01-17 06:55] jelmerS2 commented on #40
Hi thanks, however I haven’t worked with spatial anchors lately. I’ll try the updated SDK some time!

Sent from a mobile device
________________________________
From: julianparismorgan <notifications@github.com>
Sent: Friday, January 17, 2020 1:21:15 AM
To: Azure/azure-spatial-anchors-samples <azure-spatial-anchors-samples@noreply.github.com>
Cc: VERHOOG Jelmer <jelmer.verhoog@soprasteria.com>; Me

[2020-01-17 10:31] cmnvb commented on #117
Hi @julianparismorgan thanks for getting back to me on this so quickly, the S8 has ARCore version 1.13. 191007106 installed; I’ll maintain this version of ARCore just in case. I do have another device I test with, a Google Pixel XL with ARCore version 1.14.191118106. I have had the issue occur on both devices.

Frustratingly I haven’t been able to capture logs in either app, I’ve had a difficult t

[2020-01-20 22:07] cmnvb commented on #117
For better or for worse, I've been unable to reliably recreate the bug on my end on either device, it's a little bit embarrassing but I'm hoping that's the end of that and am going to close the issue. However, I hope I'm good to re-open the issue should I find anything more concrete.

[2020-01-20 22:07] #117 closed

[2020-01-21 01:17] SpencerIO commented on #116
Great, thank you. Once you have the iOS project published remember to change your podfile as per the other issue I mentioned. You can keep your version of spacial anchors in the podfile

[2020-01-21 01:17] #116 closed

[2020-01-21 09:38] TobiasPott commented on #104
Hi @julianparismorgan
thank you very much for your response, looking forward to your updates.

[2020-01-21 12:17] ginomessmer opened #119 "Fatal crash when I call CreateAnchorAsync (Xamarin Android)"
Since there's no obvious way where I can create a bug report for product issues (this [page](https://docs.microsoft.com/en-us/azure/spatial-anchors/spatial-anchor-support) wants me to submit it on the Azure Portal, but there's neither an entry such as 'SDK issues' nor can I submit the request without a paid plan, come on Microsoft...), I'll do it here instead and hope for the best.

I'm using the

[2020-01-22 12:53] somepablo commented on #111
You are right, it works with ARFoundation 3.1. However we had to manually modify some code of Anchors SDK because the ARFoundation upgrade include some break changes wrt version 2.2.

[2020-01-22 23:40] lokedward opened #120 "iOS saving/recalling of anchors with incorrect AnchorPose"
Hi, I'm running the latest samples ASA 2.1.1 on Unity 2019.2.17 with an iPhone 8 and I am encountering a bug when saving and recalling anchors on my device.

When I create an anchor and place it, I can see the demo object on the surface but when it finishes the Saving step my anchor the cube & attached text mesh jumps to where my device is and that seems to be the saved location when I recall the

[2020-01-23 00:05] #120 closed

[2020-01-23 02:20] t5ujiri opened #121 ""Didn't find the anchor" message thrown when near anchor detection"
I'm developing iOS Unity application utilizes Azure Spatial Anchors SDK.

Currently I'm writing anchor detection/creation routine by my own (not reusing sample code), and suffering from "Didn't find the anchor" message thrown from `AnchorHelpers` when locating near anchors.
Any ideas in what situation this occurs, and how to avoid it?
Thank you.

### Environment
- Unity: 2019.2.17f
- ARFoundation:

[2020-01-23 08:19] t5ujiri commented on #121
OK I figured out that I can't use session's 'AnchorLocated' event, and using Manger's 'AnchorLocated' event instead works.

[code]

[2020-01-23 08:20] #121 closed

[2020-01-24 17:30] darax commented on #111
I tend to use the latest ARFoundation (3.x) when testing even though our official support is 2.x. The name change from ARReferencePoint*** to ARAnchor*** is going to make supporting both 2.x and 3.x at the same time a bit tricky.  My instinct is to leave ARReferencePoint*** and keep the project manifest pointed at 2.x.  This will allow Unity to update the scripts if the user chooses to move to the

[2020-01-24 18:12] darax commented on #119
hi @ginomessmer

First, I recommend making sure you've wired up the debug callbacks:
[code]
I the call backs make sure they are writing the messages to the debugger or a logfile.

Second, there are some checks missing from the code snippet above.  You may have left them out for brevity, but just in case:
1. Make sure the Anchor isn't null.
2. Make sure the ReadyToCreateProgress is >= 1.0f.

Third,

[2020-01-24 19:10] darax commented on #103
Hi @lordlycastle,

Do the default demos work?

I understand that there is a huge spew of messages, could there be a different message hidden in that list that gives a clue?  What's happening behind the scenes is ASA is trying to figure out how much computer vision coverage the device has, and getting that information is failing in a way that we aren't currently handling/haven't seen before.

Does

[2020-01-24 20:16] lordlycastle commented on #103
That’s not it. I always had an instance of manager in scene and quick start wasn’t called on awake from some other script but when I pressed a button. So it had enough time to initialize.

[2020-01-24 20:17] lordlycastle commented on #103
The logs had nothing useful that caught my eye. It was just version numbers of sdk etc.

[2020-01-24 21:32] darax commented on #103
What platform are you testing on?  I'll see if I can reproduce this with your script.

[2020-01-25 14:46] lordlycastle commented on #103
I am on HL2.

[2020-01-27 19:12] darax commented on #103
I think I see the problem now.

in AzureSpatialANchorsManager.CloudManager_SessionUpdated
args.Status is being treated as an enum, when it is a class.  I patched this issue on my end, and things seemed to start working.

[2020-01-27 19:35] lordlycastle commented on #103
How would that cause this problem? Why would it always be equal to 18 raw value?

I think that’s a reminiscence from 1.3.3 version as I tried to get this working on that after it failed on 2.0.

And since SessionStatus is a class type and not EnumType GetName function would throw an exception according to the docs. https://docs.microsoft.com/en-us/dotnet/api/system.enum.getname

I’ll give it a try

[2020-01-27 21:05] rogueyoshi commented on #111
Is full support for 3.x on the horizon? There's a lot to be gained, but I'm not interested in upgrading ARFoundation if it means breaking changes in new versions of Azure Spatial Anchors...

[2020-01-27 21:34] lordlycastle commented on #103
Also the message I’ve included in the OP is from the error event not from session updated event where that class is used as Enum.

See the log format from message in CloudManager.

 So I’m even less convinced now that was the issue.

[2020-01-27 22:41] darax commented on #103
I'm assuming that you tried to patch the callback function and are still getting an error.

I'll explain my reasoning.

When SpatialAnchorManager starts the session, the first thing it does is send a signal to the ASA SDK to update the session status. As a result, ASA calls the callback associated with session updates.  In this case AzureSpatialAnchorsManager.CloudManager_SessionUpdated gets the c

[2020-01-28 09:25] StarWardo commented on #26
@bertt I seem to have the same error. You mentioned that the SA Account Id was wrong. I filled in the account ID and key in the SpatialAnchorsConfig and in the Spatial Anchor Manager in the scene which are correct. Anything you can think if that I could have missed ?

[2020-01-28 09:38] bertt commented on #26
@StarWardo no, only triple check the correct id's are used

[2020-01-28 10:28] StarWardo commented on #26
@bertt I fixed the error by creating a new SA resource inside a different resource group.

[2020-01-30 14:28] lordlycastle commented on #103
Okay. Thanks for you time.

In future SDK if possible it would be better to not make any exception into Unknown error. Or at least print it's info/pass it to error event.

[2020-01-30 14:28] #103 closed

[2020-01-31 00:39] #51 closed

[2020-01-31 00:39] #96 closed

[2020-01-31 00:39] #90 closed

[2020-02-01 22:46] MichealReed commented on #27
@craigktreasure do you have any insight into what ASA does when generating the .xcworkspace file with `pod install --repo-update'? I need to use a parent project's workspace since I am using unity as a library. I am facing the same issue with symbols not found.

[2020-02-01 23:05] MichealReed commented on #27
@craigktreasure could you please elaborate on what the ASA pod install does to generate the `.xcworkspace`? I need to use a parent workspace to build my project and after trying several things, I'm still having difficulties getting the ASA apis to link.

[2020-02-01 23:10] vriveras commented on #27
@MichealReed , ASA doesn't do anything related to the .xcworkspace this is standard process when you use a POD in the XCode project. When you add a pod a new workspace is created that adds the pod dependencies to it. You can see the details [here](https://guides.cocoapods.org/using/using-cocoapods.html#what-is-happening-behind-the-scenes)

[2020-02-01 23:37] MichealReed commented on #27
@vriveras I may be running into a different issue then. I thought it might be related to the copy resources step from your link. I'm on 2019.3.0f5 and upgraded my podfile as mentioned here: https://github.com/Azure/azure-spatial-anchors-samples/issues/79

Getting the same "undefined symbol" errors.

[2020-02-02 02:50] MichealReed commented on #27
Solved, had a version mismatch in the podfile.

[2020-02-02 23:20] clifflinmao opened #122 "Suggestion: can you please dependencies versions clearly in download page?"
Can you please describe the dependencies versions clearly in the below page so that when use download the unit package they won'd get compile error?
- AR Foundation version?
- ARKit plugin version?
- ARCore plugin version?
- others?
https://github.com/Azure/azure-spatial-anchors-samples/releases

Or do I understand correctly that in general the ASA version (e.g.2.1.1) is intentionally named as sam

[2020-02-03 07:51] Pycorax commented on #84
I think it would be helpful to have this information specified somewhere. I understand that there is already a page on how to set up this project here: https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android

However, some of us are creating applications from scratch or integrating with an existing MRTK solution and I was struggling to figure out why I kept get

[2020-02-03 08:19] ginomessmer commented on #119
Hi @darax, thank you for your reply. I was able to try it out again today, but for some reason ReadyToCreateProgress stays at 0 for me.

Interestingly enough, I found these logs in my debug output:

[code]

More specifically, ` CreatePlatformAnchor() did not return a Platform Anchor, so the session is likely stopping.  Ignoring this frame.`. What can I do?

[2020-02-03 16:48] craigktreasure commented on #122
@clifflinmao The version number of Azure Spatial Anchors is not intentionally aligned with AR Foundation. Since that's not the case and to avoid confusion like this, I think listing the versions for the AR Foundation dependencies sounds like a good idea. I'll get those added and we'll try to keep adding those in the future.

For reference, you can take a look at our Unity sample [package manifest]

[2020-02-03 16:52] craigktreasure commented on #122
The [latest release](https://github.com/Azure/azure-spatial-anchors-samples/releases/tag/v2.1.1) has been updated with the Unity dependency version numbers.

[2020-02-03 16:52] #122 closed

[2020-02-04 01:35] craigktreasure commented on #84
We've added the info to the latest release page and will try to do so in the future per #122.

[2020-02-04 01:45] craigktreasure commented on #99
Hey @bertt. Thanks for the feedback. We like the idea and will consider it in the future. Likely not until after ASA goes GA as it is now public preview. That being said, we're happy to consider PRs from the public on this repository now. Don't let our private repository get in the way of you having fun 😉.

[2020-02-04 01:45] #99 closed

[2020-02-04 01:50] craigktreasure commented on #81
Closing this since the original issue seem to be resolved.

Hey @yosun, would you mind opening a new issue with more information (ASA version, platform, etc.) for us to give you a hand?

[2020-02-04 01:50] #81 closed

[2020-02-04 02:13] craigktreasure commented on #101
@pjar-msft is right. The product does not work offline at this time. Providing feedback or upvoting an existing request at the feedback link would be the right thing to do.

As for the question about bad GPS data, i'm not sure what you mean by "bad gps communication". You can refer to the documentation for [Coarse Relocalization](https://docs.microsoft.com/azure/spatial-anchors/concepts/coarse-rel

[2020-02-04 02:13] #101 closed

[2020-02-04 09:33] clifflinmao commented on #122
Thank you !

[2020-02-04 21:35] rogueyoshi opened #123 "Unity throwing errors on Android regarding unexpected serialization size mismatch"
Is this error safe? It's happening on an unmodified build of the demo app, though it seems to be working regardless.

02/04 16:28:39.156 7984 8072 Error Unity: Did you #ifdef UNITY_EDITOR a section of your serialized properties in any of your scripts?
02/04 16:28:39.156 7984 8072 Error Unity:
02/04 16:28:39.156 7984 8072 Error Unity: (Filename: ./Runtime/Serialize/SerializedFile.cpp Line: 2012)
02

[2020-02-05 08:58] NicolasCalvi opened #124 "Conflict between AzureSpatialAnchor SDK and MRTK2 on UWP"
They are a namespace conflict between MRTK2 and Azure Spatial Anchors SDK on UWP target.
In the ".\Assets\AzureSpatialAnchors.SDK\Scripts\SpatialAnchorManager.cs" file we have at line 320 and 321 a reference of "Windows.Perception.Spatial.SpatialPerceptionAccessStatus" object in UWP framework.
But, when we build, the compilator replace "Windows.Perception.Spatial.SpatialPerceptionAccessStatus" by

[2020-02-06 03:35] ei2kpi-ptc opened #126 "Unity 2019.3 Android Unable to find azurespatialanchorsndk"
I am trying to use ASA in a project within Unity 2019.3.
Unity 2019.3 builds two separate Android projects: One which is just a launcher and the other which gets built into a unityLibrary aar file that the launcher then launches.

I get the same issue when I try to build and run the samples (after upgrading to Unity 2019.3 and upgrading the relevant packages)

I think the issue is related to the f

[2020-02-06 06:29] ei2kpi-ptc commented on #126
Think I found a fix...

It seems like some combination of `Unity 2019.3.0f6`, the packages that are "verified" with `Unity 2019.3` and `AzureSpatialAnchors 2.1.1` means that this line should no longer be in the mainTemplate.gradle:
`{exclude group: 'com.google.ar' }`

So, the dependency injection for Azure Spatial Anchors should now look like this in the `Assets/Plugins/Android/mainTemplate.gradle

[2020-02-06 08:03] ei2kpi-ptc commented on #126
Wow ok that was a wild goose chase :(

In the end, I just had to make sure I was using the latest .unitypackage and the following AR subsystem packages:
[code]
The above worked in my project with `Unity 2019.3.0f6` and `AzureSpatialAnchors 2.1.1` without needing to modify any gradle scripts at all

[2020-02-06 08:03] #126 closed

[2020-02-06 15:30] frsprojects opened #127 "Not Enough Spatial Data problem"
After many attempts to make a version of SpectatorView functional using UNet, I was able to successfully communicate between client / server using Azure Spatial Anchor to share anchor information. Many errors have occurred, including an unknown error, which appears to resolve the deletion of the MRTK 2.2.0 library. This has already been resolved, but now at random a problem occurs in the function

[2020-02-06 19:58] dfields-msft commented on #124
I've published an update to the Microsoft.Windows.MixedReality.DotNetWinRT package which should resolve this, by adding support for the Windows APIs used by the Azure Spatial Anchors scripts:
https://www.nuget.org/packages/Microsoft.Windows.MixedReality.DotNetWinRT/0.5.1045

If you'd prefer to continue using the built-in .NET projection for these APIs instead of Microsoft.Windows.MixedReality.DotN

[2020-02-07 10:12] Daniel-Tamborra opened #128 "AnchorLocateStrategy not behaving the same way on HoloLens 1 and HoloLens 2 devices"
When creating a **CloudSpatialAnchorWatcher** we set the Strategy parameter on AnchorLocateStrategy to **"AnyStrategy"** and provide a list of Identifiers, meaning we search for multiple anchors with a single watcher.

We have multiple anchors placed and on HoloLens 1 it locates and places all of them correctly. On HoloLens 2 however it finds the nearest anchor correctly but places the rest of the

[2020-02-10 18:40] mschofie commented on #123
That doesn't appear to be an Azure Spatial Anchors issue - the UnityEngine.XR.WSA.SpatialMappingCollider is part of Unity's XR framework.

[2020-02-10 18:41] #123 closed

[2020-02-10 19:01] mschofie commented on #127
The `CloudManager.CreateAnchorAsync` call will fail with the `Not enough Neighborhood Spatial Data was available to complete the desired Create operation` error if the Azure Spatial Anchors SDK hasn't processed enough frames to have sufficient data to build a representation of the Anchor to upload to the cloud. If you take a look at the sample, [DemoScriptBase.cs](https://github.com/Azure/azure-sp

[2020-02-11 20:53] frsprojects commented on #127
Yes, the error appears even with the recommendation above 1. In this test, I just modified the `AzureSpatialAnchorsBasicDemoScript.cs` script so that through a function I can perform all the steps to save the anchorage. Remembering that, there are moments that you save successfully, in others the failure occurs.

[2020-02-12 17:44] mschofie commented on #127
When using the device to scan the space - to drive the 'RecommendedForCreateProgress' up - are you moving (i.e. translating in space) from the point where you started the session? The Azure Spatial Anchors SDK processes frames within 5 meters from current location in order to create an anchor - if you've moved then your 'RecommendedForCreateProgress' _can_ drop, because there aren't a sufficient n

[2020-02-13 06:22] #40 closed

[2020-02-13 22:36] julianparismorgan commented on #124
Thanks for the fix @dfields-msft! The fix is now out in MRTK 2.3.0, which you can download here: https://github.com/Microsoft/MixedRealityToolkit-Unity/releases

You can David's update to MRTK's DotNetWinRT dependency version in [this PR](https://github.com/microsoft/MixedRealityToolkit-Unity/pull/7267).

[2020-02-13 22:36] #124 closed

[2020-02-17 13:17] frsprojects commented on #127
Sometimes, when the process fails, when it reaches the scan stage or the environment, it passes `RecommendedForCreateProgress` as greater than 1 without the same floor, going to the upload step to Azure, causing a failure. Restarting the application (without changing any code), it asks to scan the environment and does not skip a step. Remembering that only a few changes were made to the sample pro

[2020-02-17 23:08] rogueyoshi opened #130 "SpatialAnchorManager does not properly signal when DestroySession is called."
I was wondering why the SessionDestroyed event was not signaling, but it turns out that someone forgot to add OnSessionDestroyed() to the end of DestroySession().

[2020-02-17 23:44] #130 closed

[2020-02-19 13:33] vincentfretin opened #132 "wrong error code ApplicationNotAuthenticated when auth service timeout"
With the BasicDemo from this repo on
- Android Samsung S8
- Unity 2019.2.20f1
- ASA SDK 2.1.1

The watcher can trigger the following error (catched in the CloudManager_Error method)
"Error: Application did not provide valid credentials and therefore could not authenticate" that is shown to the user in the feedbackBox. The message come from a CloudSpatialException exception with errorCode Applicati

[2020-02-19 13:55] vincentfretin opened #133 "GetAnchorPropertiesAsync behavior with a deleted anchorId"
On Android Samsung S8, ASA SDK 2.1.1 on Unity 2019.2.20f1

In the documentation here
https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity
in the "Update properties" section there is the following snippet:
[code]

What is `nullptr`? Where is it defined? Looking at the SDK code, this may be `IntPtr.Zero`? Can it be null?

In my app, I tried to use cloudSession.G

[2020-02-20 00:17] rogueyoshi commented on #113
Did you make a pull request for this yet? If not, I'll do it.

[2020-02-20 00:18] rogueyoshi commented on #113
Did you make a pull request for this yet? If not, I'll do it.

[2020-02-20 10:34] Nanoodle opened #134 "Unable to save anchors[Service unavailable EU?] - IOS"
Hello,

Starting Thursday 20th, we've been unable to save any anchors. During the process, after scanning, it will hang on "saving" after which an error will be displayed (likely due to service timeout?). Functionality returns intermittently. We are facing the same issues today.

We've:
- Rolled back without positive result
- Tried a fully functional previous build still on the device
- Tried refr

[2020-02-20 11:46] vincentfretin commented on #134
Hi, you have similar timeout issues like mine #132 I was having yesterday in France. At some hours it worked, and some other hours it didn't.

[2020-02-20 11:48] vincentfretin commented on #132
I add the same timeout issue at the same time on both Android (Samsung S8) and iOS (iPad 2018 6th gen).

[2020-02-20 12:50] nincara commented on #133
I don't know if this is connected but since yesterday I have troubles with my app too. First Authentification Problems like in #132 and now with the AppProperties. The moment I want to get the AppProperties from located anchors, I get following error in Android Logcat. I save all anchors in a list and then loop trough them and spawn them. Sometimes it works for the first anchor, sometimes for two

[2020-02-20 13:06] vincentfretin commented on #133
The problem I describe in this issue is not related to the timeout issue. Currently the service is working, and I reproduced the same issue with an identifier that never existed. It raises an ArgumentException instead of returning null.

[2020-02-20 13:34] vincentfretin commented on #133
So currently in my app, instead of having the following code:
[code]

I am using the following code:
[code]

[2020-02-21 08:38] vincentfretin commented on #133
This is still an issue with SDK 2.2.0.
I'll add a null check in my code to be sure to handle the case if the issue is fixed in the SDK in a future version.

[code]

[2020-02-21 08:43] vincentfretin commented on #132
I see SDK 2.2.0 added a new HttpTimeout error code. I will assume this error code is used instead of ApplicationNotAuthenticated for the stacktraces I shown. I close the issue. I'll reopen if I get the issue again.

[2020-02-21 08:47] vincentfretin commented on #104
SDK 2.2.0 seems to have included NSBluetoothPeripheralUsageDescription
https://github.com/Azure/azure-spatial-anchors-samples/commit/975594023dbbe5b065cde766787ba7ff3f05329d#diff-e28e973db1f1ba052e16bc91b8b5b387R169

[2020-02-21 09:21] vincentfretin commented on #109
In SDK 2.2.0 you have SpatialAnchorsAccountId and SpatialAnchorsAccountKey getter/setter properties now.
I needed to dynamically set the credentials. I do it like this, In Unity editor I disabled the script "Spatial Anchor Manager" in my AzureSpatialAnchors gameobject and in my code I do this:
[code]
It works fine like this.

[2020-02-21 10:46] vincentfretin commented on #132
With SDK 2.2.0, after trying to save new anchor, I got a CloudSpatialException with error code ServerError triggered by a json error after a service timeout I believe. So this is not using the new HttpTimeout.

[code]

[2020-02-21 12:51] FSchmidNT opened #135 "Connecting Sessions"
Hi,

we are in the process of developing a navigation that works with Spatial Anchors alone. The whole thing works surprisingly well, but unfortunately only for a few anchors and only if they were created in the same session. We would like to apply this to large areas and have the following questions:

- If one anchor is found, all other anchors created in the same session are also found directly.

[2020-02-21 19:13] #104 closed

[2020-02-21 22:31] weinanshen commented on #133
Hi @vincentfretin, thanks for letting us know!

The doc is wrong, it should be `if (anchor != null)`. We will fix the documentation [internal issue #25303037].

About ArgumentException, it seems a bug in the SDK. For a non-existed anchor Id, the call should return null. We will investigate it [internal issue #25302947].

Thanks!

[2020-02-21 22:41] weinanshen commented on #134
Hi, we are investigating it and will get back to you. Thanks!

[2020-02-23 22:45] rjygraham opened #136 "iOS: Library not loaded: @rpath/AzureSpatialAnchors.framework/AzureSpatialAnchors"
I've cloned and am attempting to run the SampleXamarin.iOS application on an iPhone. The app appears to build correctly; however, if fails on startup and I see the following logs in VS2019:

[code]

I'm not sure if it matters, but I'm using free provisioning as described here:
https://docs.microsoft.com/en-us/xamarin/ios/get-started/installation/device-provisioning/free-provisioning

[2020-02-24 08:14] skypu3 opened #137 "Unity iOS build fail issue with latest spatial anchor 2.2.0 and Unity 2019.3.2f1"
Hi All,

I used the Azure spatial anchor with version 2.2.0, and ARFoundation 3.0.1 packages.
I can successfully build app into Android without any issues, however I can't build app into iOS.
I follow the guide to install spatial anchor with pod, and compile it then showed up following issues:
Undefined symbols for architecture arm64:
  "_ssc_cloud_spatial_anchor_session_set_log_level", referenced

[2020-02-24 08:15] skypu3 commented on #137
BTW my unity version is 2019.3.2f1

[2020-02-24 08:31] JeanVACCA commented on #137
I have experienced the same issue, to fix it you have to change the podfile
to target the UnityFramework instead of the Unity-iPhone project. It
results with a successful build but after that the app crashed at startup
and i haven't manage to fix this issue, so I advise you to rollback to
Unity 2019.2.x

On Mon, Feb 24, 2020 at 9:15 AM skypu3 <notifications@github.com> wrote:

[2020-02-24 08:56] skypu3 commented on #137
Oh, because I would like to have Library feature from Unity 2019.3, so I need to stay with this version.

[2020-02-24 10:22] Nanoodle commented on #137
Hey guys,

I'd noticed the same with 2019.3.x. We put off the switch to that new version of Unity but a way I found to get around it, at the time, is to:

[In the XCode Workspace]
- Click on UnityFramework under Targets
- Bottom of the Frameworks & Libraries press the + button
- Add other- Add files
- Direct it through all the Azure folders in the Pods folder for your Build folder until you get to

[2020-02-24 10:32] Nanoodle commented on #134
Hey Vincent,
yes I saw the issue and thought it was similar. I decided to log a separate issue because yours seemed more geared to changing the feedback to the dev/user about the timeouts.

When operational was the service still particularly slow for you? As opposed to previous usage?
At the moment it is functional again on our side, wifi is quite slow but on 4G it is fine. Did you per chance have

[2020-02-24 10:40] vincentfretin commented on #134
I first tested the SDK two weeks ago, and I was already having timeout issues. The first time I tested the app I got a stacktrace. :) When the service is operational, on 4g or wifi, saving an anchor takes 2-4s I think.

[2020-02-24 23:59] rjygraham commented on #136
I renewed my Apple developer account and verified the app runs with a legit provisioning profile.

Closing this issue.

[2020-02-24 23:59] #136 closed

[2020-02-25 00:40] julianparismorgan commented on #82
Thanks @Nanoodle. This docs bug was fixed in our 2.2.0 release.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.anchorlocatecriteria.identifiers#Microsoft_Azure_SpatialAnchors_AnchorLocateCriteria_Identifiers

[2020-02-25 00:40] #82 closed

[2020-02-25 08:16] rajshekarreddy97 opened #138 "Screen contrast and brightness is increased"
Running the demo on iPhone 7 iOS 13.3 and the contrast and brightness are pumped up. How do I return it to the normal values?

[2020-02-25 08:17] rajshekarreddy97 commented on #138
and I'm using Unity 2019.2

[2020-02-25 10:06] JeanVACCA commented on #137
Hey, Thanks for the tips. Unfortunately i still get the same error but i finally managed to make it work with this config
<img width="627" alt="Capture d'écran 2020-02-25 11 02 28" src="https://user-images.githubusercontent.com/20737779/75236915-cba1c200-57be-11ea-8401-2098ca361d2f.png">

Hope this will help

[2020-02-25 14:17] skypu3 opened #139 "Is it possible use coarsereloc device near watcher to locate nearby anchors ?"
Hi All,
I am developing the spatial anchors app on Unity, is it possible to achieve following scenarios ?
1. Create anchor A, and use same CloudManager to create anchor B and C (follow the nearBy example)
2. Try to locate anchor A use near device watcher based on GPS and wifi sensors etc.
3. Finish locate anchor A then the question is coming -> which one is true or there is new option?
The near de

[2020-02-25 23:31] pandakub commented on #113
I Just want to report that I also encountered this exact same bug.

[2020-02-26 13:26] rajshekarreddy97 commented on #138
Issue fixed, gotta change the color space to gamma.

[2020-02-26 13:26] #138 closed

[2020-02-27 10:19] TobiasPott commented on #139
Hi @skypu3,
if I understand your question correct, you want to know if you can locate anchors created within the same session as A using the NearDeviceCriteria class in another session.

As far as I understood and used the SDK so far the NearDeviceCriteria will take care of locating all anchors you created in you scenario, thus said it will only detect those anchors you have created with an instan

[2020-03-02 19:17] vincentfretin opened #140 "ARReferencePoint count keeps increasing during a session"
- On an app inspired from BasicDemo where I can add several anchors
- Android Samsung S8 and iPad 2018 6th gen
- Unity 2019.2.20f1
- all ARFoundation packages 2.2.0-preview.6
- ASA SDK 2.2.0

ARReferencePoint count (referencePointManager.trackables.count) keeps increasing during a session each time a new watcher detects a previously located anchor. Is this a normal behavior?

Here is an example of

[2020-03-04 11:19] FSchmidNT commented on #113
Sorry for the late answer, in my case the fix worked great.
For your information, I just tried the new version (2.2) and noticed that the bug is still not fixed.
Thanks for the help.

[2020-03-04 16:07] sublimeRich commented on #127
Using SDK 2.2.0 on Android, I'm also hitting this issue; I get the `NotEnoughSpatialData` error, even though `RecommendForCreateProgress >= 1`.

Is it possible that `RecommendForCreateProgress` can drop below 1 after I've called `CreateAnchorAsync`?  And so I'd need to abort that call, resume scanning until `RecommendForCreateProgress >= 1` and then call `CreateAnchorAsync` again?

[2020-03-06 07:19] Mlt123 opened #141 "Unity Editor run Error"
DllNotFoundException: azurespatialanchorsndk

[2020-03-06 07:27] Mlt123 commented on #141
I can package to an Android device，but when I click the go button on the first screen ，He will fall back

[2020-03-06 07:56] JeanVACCA commented on #141
have you tried that ?
[image: image.png]

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, Mar 6, 2020 at 8:27 AM Mlt123 <notifications@github.com

[2020-03-06 08:01] Mlt123 commented on #141
i change a device ，that is ok ？   Why does n’t the device support arccore work?

[2020-03-07 04:13] skypu3 commented on #139
Thanks, I had tried near device watcher, and actually it could resolve all anchors that created with same cloud session, that's really cool as I want.

[2020-03-07 19:02] h2hjastermereel commented on #106
Same issue here.  Unity 2019.3.x , Spacial Anchors 2.2.0, Android 9, Samsung 9+ (SM-G965W).  After setting break points in SpacialAnchorManager at:

``
                        cloudServices.CallStatic("initialize", unityActivity);
``

It never returns (JavaInitialized is always = false).  This is after clicking the "Next Step" button on the screen "Create Cloud Spatial Anchor Session for query".

[2020-03-09 10:11] Mlt123 opened #143 "access denied to spatial anchor exporter ensure your os build is up to date and the spatialperception capability is set"
How should i modify

[2020-03-09 10:23] TobiasPott commented on #139
@skypu3 You're welcome. I would consider this issue closed and perhaps you are able to close it or one of the contributors can close this issue.

[2020-03-09 17:38] rononiwu commented on #141
@Mlt123 can you please confirm a few things for me
1. Changing the device solved the issue for you?
2. What specific device make and model did you start with ?
3. What specific device make and model did you switch to?

[2020-03-09 17:44] rononiwu commented on #143
@Mlt123 Can you please confirm what version of the SDK you are running?

[2020-03-10 02:26] Mlt123 commented on #143
HoloLens Windows version	17134.111.x86fre.rs4_release_svc_prod1.180605-2350
unity build  windows10SDK=>10.0.18362.0

[2020-03-10 08:38] Mlt123 commented on #141
1.yes,i change a device that is ok.
2.HUAWEI MediaPad M5 lite 10,  Android8.0 not ok
3.huawei nova 5,Android 10.0  is ok

[2020-03-10 19:27] rogueyoshi commented on #111
I have some insight for this. The AR Foundation 3.1.X preview package will automatically update all project scripts to use the correct references (but not ARF 3.0.X). You can save yourself a lot of time by upgrading to the preview package rather than the release. [This should be safe as the patch notes mostly only feature bugfixes and backwards compatibility fixes.](https://docs.unity3d.com/Packag

[2020-03-11 12:06] tomkrikorian commented on #112
Any progress @julianparismorgan ?

[2020-03-11 16:12] rononiwu commented on #143
Hey @Mlt123 Can you please confirm what version of our SDK you are running?

[2020-03-11 16:23] rononiwu commented on #143
Also @Mlt123 can you please let me know what your device is and what OS Build your device running?

[2020-03-12 15:39] sergiosolorzano opened #144 "B2C Azure Active B2C authorisation and Unity 2019.3"
Hi, is there an expected time for AAD in particular B2C for authorisation to be available on iOS Unity projects and 2019.3 version?

Thank you

[2020-03-13 19:35] rogueyoshi opened #145 "Using Coarse Relocalization + IDs on Watchers"
What's the best practice for this? Suppose I want to get nearby anchors with the sensor data, but also simultaneously get the anchors which were made in a session without sensor data. If we run two watchers, we get a concurrency error. Should we daisy chain the second instead from the LocateAnchorsCompleted event?

[2020-03-13 22:35] ashtmMSFT commented on #144
Hey Sergio, we don't currently plan to provide anything that entirely handles this flow in Unity.

However, AAD tokens can already be used today to obtain an access token for Azure Spatial Anchors. Please have a look at the supported AAD flows detailed in https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/authentication.

I don't believe there's a Unity version of the MSAL library, bu

[2020-03-16 02:42] #139 closed

[2020-03-18 17:21] sublimeRich opened #146 "CreateAnchorAsync incorrectly throws a ServerError exception when no WiFi is available"
If WiFi is disabled when `CreateAnchorAsync` is called, a `CloudSpatialException` is thrown with an error code indicating `CloudSpatialErrorCode.ServerError'.

The documentation states '_Cloud Service returned an unspecified error_', which implies an error in the Cloud Service rather than the Cloud Service being unreachable.  I'm not sure if this is a documentation error or an incorrect return err

[2020-03-19 16:23] nipundavid opened #147 "Scripts compile issue"
Hi,

All I did was open the project in Unity3D 2019.3.2, and it threw a bunch of scripts errors.

`Library\PackageCache\com.unity.xr.arsubsystems@2.2.0-preview.3\Runtime\ImageTrackingSubsystem\XRImageTrackingSubsystem.cs(57,30): error CS0506: 'XRImageTrackingSubsystem.Destroy()': cannot override inherited member 'Subsystem.Destroy()' because it is not marked virtual, abstract, or override

[Screen

[2020-03-22 06:20] FelixRoh opened #148 "CocoaPods could not find compatible versions for pod "AzureSpatialAnchors" (SDK Version 2.2.1)"
Starting a iOs build with installing pods ("pod install --repo-update") I get following message:
[code]

[2020-03-23 16:34] ThomasNigro commented on #148
Getting the same issue here.

[2020-03-24 06:59] FelixRoh commented on #144
Hey Sergio,
i think there is a way to connect all this Things.

1. Unity connection with B2C so. The easiest way it running a JS inside WebBrowser Component.
2. Connecting Spatial Anchors with B2C. You can do it via Azure Functions.

Feel free to contact me for Details.

[2020-03-26 16:40] craigktreasure commented on #148
Seems we might have an issue with our CocoaPods deployment. We're investigating and will report back. Stick with 2.2.0 for now.

[2020-03-26 17:06] craigktreasure commented on #148
Hey everyone. Really sorry about that. We've fixed the publishing issue. You can now run `pod install --repo-update` to install Azure Spatial Anchors 2.2.1.

[2020-03-26 17:06] #148 closed

[2020-03-26 19:41] craigktreasure opened #149 "Unity 2019.3"
Hey everyone,

As you may know, Azure Spatial Anchors supports many platforms and technology stacks. Unfortunately, Unity 2019.3 comes with some breaking changes that prevent us from being able to support all of those platforms (specifically HoloLens in this case) on that version of Unity. We're actively having conversations with our friends at Unity to find a solution, but in the meantime, we nee

[2020-03-26 19:45] craigktreasure commented on #137
Thanks for the discussion everyone. I love the community effort here. Please see the #149 for further information on Unity 2019.3.

[2020-03-26 19:45] #137 closed

[2020-03-26 19:48] craigktreasure commented on #79
For those that find this in the future, take a look at #149.

[2020-03-26 19:50] craigktreasure commented on #111
Hey everyone. We're closing this in favor of #149 where you'll find more information about our support for ARFoundation 3 and Unity 2019.3. Thanks!

[2020-03-26 19:50] #111 closed

[2020-03-26 19:50] craigktreasure commented on #147
Please see #149.

[2020-03-26 19:50] #147 closed

[2020-03-26 19:51] craigktreasure commented on #144
Please see #149 for more information about Unity 2019.3.

[2020-03-26 19:53] craigktreasure commented on #141
Per the issue title, we don't currently support running Azure Spatial Anchors in the Unity Editor. Sorry about the confusion.

[2020-03-26 21:46] rogueyoshi commented on #149
The higher versioned ARFoundation 3 packages (3.1.x, I believe) have update scripts on them to update the entire project without manually having to replace the reference. They automatically run upon installing the package.

[2020-03-27 03:38] #102 closed

[2020-03-27 08:46] sergiosolorzano commented on #144
Hi @AshtmMSFT @FelixRoh apologies for the late response, I didn't get a chance (we live in a strange world these days). Thanks a bunch for your guidance and comments, I have also seen and will try this latest [post](https://github.com/Azure/azure-spatial-anchors-samples/issues/149)

Cheers

[2020-03-27 13:11] codemaker2015 commented on #127
If it occurs in unity then it is due to the wrong version of arfoundation or arcore packages.
Azure Spatial Anchor requires the following versions

Unity 2019.1
AR Foundation: 2.1.4
ARCore XR Plugin: 2.2.0
ARKit XR Plugin 2.1.1

[2020-04-02 11:55] timgoeij opened #150 "Unable to locate SpatialAnchors"
Hello,

I am building an application for the HoloLens 1 with Spatial anchors that create and spatial anchors and save the identifier of the Cloud anchors to a REST API and that works fine. But if I get the identifiers from the REST API and try the SDK to locate all the anchors I got the following exception in my logfile:

`ProcessPoseQueryStreamingPoseEvent - Updating SpatialAnchor [38b3f393-cf18-

[2020-04-03 06:44] Merichbier commented on #128
I'm experiencing the same problem. Furthermore, using several watchers (one after another), Hololens 2 locate the first on correctly but then the next ones are all badly located

[2020-04-03 06:54] Merichbier commented on #145
I guess that could be a solution. What we made is a queue in which we add the locate criterias and since only one watcher can run we wait it to finish to start the next one.

[2020-04-06 23:42] dilmerv opened #151 "Running examples in iOS Getting Request Is Too Large Error"
Guys I followed all the instructions and updated my SpatialAnchorConfig in Unity but when I run on my iPhone 11 Pro I geet the error below:

[code]

Do I need to do something different during the configuration of my Spatial Anchor resource in Azure?

[2020-04-06 23:55] dilmerv commented on #151
The error went away after 15 mins, looks like creating a resource / building the examples / and checking the result within 30 mins doesn't work, I believe the resource was not setup until after 50 mins.

[2020-04-06 23:55] #151 closed

[2020-04-07 12:41] mrsniperz opened #152 "iOS/Swift sample always get a fail"
![image](https://user-images.githubusercontent.com/35944209/78670135-e44ddd80-790f-11ea-8560-127ec2422ecd.png)
I have tried all three buttons,every time when i get 100% also get a "Creation Fail".
I have checked the ID and KEY.

[2020-04-08 21:01] midopooler opened #153 "shooting 11 errors on opening."
BELOW IS THE CONSOLE LOG
2.0.2 (location: C:\Users\Pulkit\Desktop\AR SDKs\azure-spatial-anchors-samples\Unity\Library\PackageCache\com.unity.xr.legacyinputhelpers@2.0.2)
com.unity.xr.windowsmr.metro@4.0.0 (location: C:\Users\Pulkit\Desktop\AR SDKs\azure-spatial-anchors-samples\Unity\Library\PackageCache\com.unity.xr.windowsmr.metro@4.0.0)
com.unity.ext.nunit@1.0.0 (location: C:\Users\Pulkit\Deskto

[2020-04-09 09:18] tomkrikorian commented on #149
Will you support ARFoundation 4 with 2019.3 ?

[2020-04-09 09:21] t5ujiri commented on #149
Just noting, you need to update pod version of ASA or you'll get build time error

[code]

[2020-04-09 12:11] AlekseiBo opened #154 "Android sample app cannot find azurespatialanchorsndk"
Hello! I am running the sample scene on Android using Unity 2019.2.21 and get the following error

DllNotFoundException: Unable to load DLL 'azurespatialanchorsndk': The specified module could not be found.

Microsoft.Azure.SpatialAnchors.NativeLibrary.ssc_anchor_locate_criteria_create (System.IntPtr& instance) (at <00000000000000000000000000000000>:0)
Microsoft.Azure.SpatialAnchors.AnchorLocateCr

[2020-04-09 16:35] midopooler commented on #149
Didn't worked for me!

[2020-04-11 01:49] t5ujiri commented on #149
[code]
I found that you don't need to make `UnityFramework` as sub-target of `Unity-iPhone` nor specify  `use_framework!`, but have to make `Unity-iPhone` target anyway.

[2020-04-13 16:38] julianparismorgan commented on #150
Hi  @timgoeij, thanks for letting us know. A few questions:
- Is this happening every time you run your app?
- Could you share a session id from a session that this happened during?
- Are you creating an anchor and locating anchors at the same time? The error is coming from a code path relating to locating anchors, but I also see "Creating spatial anchor" in the log.
- Could you share a full log o

[2020-04-13 16:41] julianparismorgan commented on #152
HI @mrsniperz , it looks like your haven't set the uri correctly. In the string, I see that it says "...azure.com/Accounts/**Setme**/spatialanchors?...". Can you double check that you set the Account ID and Account Key?

[2020-04-13 16:43] julianparismorgan commented on #145
Hi @rogueyoshi, this isn't currently supported today, but we are thinking about supporting multiple watchers or expanding what you can do with locate criteria! @Merichbier's suggestion seems reasonable as a workaround.

[2020-04-13 16:49] julianparismorgan commented on #153
Hi @midopooler, thanks for letting us know! A things for us to better help you:
- I can't tell what the errors are from above, what are they? _Having trouble without color / explicit error messages_.
- Are these Unity Editor errors? Or runtime errors?
- What platform are your trying to run?

[2020-04-13 16:53] julianparismorgan commented on #154
Hi @AlekseiBo, thanks for letting us know. We've seen this issue come up a few times before. Could you take a look at these two past issues and see if either solve your issue?
- #126
- #84

If that doesn't work, could you:
- Make sure you've set up the prerequisites: https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-android?tabs=openproject-java#prerequisites
- Let us

[2020-04-13 17:55] darax commented on #119
hey @ginomessmer,
I just saw this reply. It looks like the ar session handed to Azure Spatial Anchors is null.  If you are still having troubles, please share the repository with me (make sure to remove any account key information) and I'll take a look.

[2020-04-14 16:27] timgoeij commented on #150
**Is this happening every time you run your app?**
Yes

**Could you share a session id from a session that this happened during?**
3ed03dd0-cda3-4613-98b6-ba43969643ad

**Are you creating an anchor and locating anchors at the same time? The error is coming from a code path relating to locating anchors, but I also see "Creating spatial anchor" in the log.**
I have similar a Debug Log when I am crea

[2020-04-14 21:14] darax commented on #143
@Mlt123, you need to update the OS on your HoloLens to RS5.  You should be able to do so through settings/update and security and check for updates. For more information go here: https://docs.microsoft.com/en-us/hololens/hololens-update-hololens

[2020-04-14 21:21] darax commented on #154
Hey @AlekseiBo I noticed you are running Unity, so the link you'll want to check out is: https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android

It is possible that a dependency that Azure Spatial Anchors relies upon is missing. One possible thing to try (aside from checking the link above) would be to update the ARFoundation and related components through the

[2020-04-14 22:56] MarcinKulwicki commented on #154
I have the same problem with Unity and Android builds.

I set up on the Scene AzureSpatialAnchorsBasicDemo/AzureSpatialAnchors the Account Id And Account Key.
I set up Account Key and Account Id in AzureSpatialAnchors.SDK/Resources/SpatialAnchorConfig
I grant in Application Settings on Phone access to memory and localization

Firstly i try on Unity 2019.1.10 and AR Fundation 2.2.0 prev 2
Now i try

[2020-04-14 23:04] darax commented on #154
@MarcinKulwicki the OP's issue is they aren't loading the library. Since you have a stack from our library, your issue looks different. Did you intend to respond to a different issue?  If not, please open a new one.  Thanks!

[2020-04-14 23:28] MarcinKulwicki opened #155 "Unity Android build CloudSpatialException"
I running sample project on MacOS, i downloaded the project using github command
Set up on the Scene AzureSpatialAnchorsBasicDemo/AzureSpatialAnchors the Account Id And Account Key.
Set up Account Key and Account Id in AzureSpatialAnchors.SDK/Resources/SpatialAnchorConfig
Grant in Application Settings on Phone access to memory and localization

Firstly i try on Unity 2019.1.10 and AR Fundation 2.2

[2020-04-15 13:38] SvenDeha commented on #155
You are not alone, we are having exactly the same issue. Unity Android build with the quickstart followed. Hoping someone could provide a solution for this.

[2020-04-15 15:05] tomkrikorian commented on #155
Also having a lot of issues on android when creating anchors.

You should add the ErrorCode to your log to have more information about why it failed :
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.cloudspatialexception.errorcode#Microsoft_Azure_SpatialAnchors_CloudSpatialException_ErrorCode

[2020-04-15 16:31] darax commented on #155
for 2019.1 try updating to the latest preview ARFoundation and ARCoreXR packages available. For 2019.3, please see https://github.com/Azure/azure-spatial-anchors-samples/issues/149.  It would be good to see the exception code for failing to create the anchor.  Are you waiting for the sessionStatus to report ReadyToCreateProgress >= 1?

[2020-04-15 16:51] darax commented on #150
One thing that can lead to this nebulous 'unexpected error' is if a call in one of the Azure Spatial Anchors callbacks throws an exception.  For instance, if
either line here throws:
WorldAnchorBackend backendAnchorForCloudAnchor = anchorsFromBackend.Find(x => x.AnchorId.Equals(Guid.Parse(args.Identifier)));
                CreateObject(backendAnchorForCloudAnchor, args.Anchor);

Then the the call

[2020-04-15 22:22] lilfrimmy19 opened #156 "keep getting a CloudSpatialException when CreatAnchorAsnyc is called"
hello, I am building an application based on the local sharing example and whenever I run the app on my iPhone, I get a CloudSpatialException every time. it is happening during the SaveCurrentObjectAnchorToCloudAsync task, specifically when CreateAnchorAsync is called. I checked to see if the cloud anchor on my native anchor is returning null or if my currentCloudAnchor is returning null but they

[2020-04-15 23:50] darax commented on #156
That's the first time we would really talk to the cloud.  Is it possible the device doesn't have internet access or you entered your account id and token incorrectly?
Assuming you have valid account infromation and an internet connection, could you set the log level to all and capture a log from the device?
![image](https://user-images.githubusercontent.com/15933792/79399811-31960480-7f39-11ea-965

[2020-04-16 00:10] darax commented on #83
dupe of https://github.com/Azure/azure-spatial-anchors-samples/issues/86

[2020-04-16 00:10] #83 closed

[2020-04-16 00:12] darax commented on #108
I believe this issue is closed and was reopened accidentally.

[2020-04-16 00:15] darax commented on #57
hi @marklinmao,
I'm going through old issues and I noticed this one.  I'm going to close this, but if you are still having this issue feel free to reopen.  What would be really helpful is a short video of the capture you are taking that creates your described result.

[2020-04-16 00:15] #57 closed

[2020-04-16 00:29] lilfrimmy19 commented on #156
I have double-checked my account id and key and everything is in order. And my log level is set to all already. I have also tried running the app on multiple networks and that does not seem to change anything.
When you say token, are you referring to the account key?
Would you suggest creating a new spatial anchor resource?

[2020-04-16 00:38] darax commented on #89
hi @bertt, it sounds like the issue is resolved. If the the coarse reloc is still crashing in the latest release, please open a new issue.  Thanks!

[2020-04-16 00:38] #89 closed

[2020-04-16 00:41] darax commented on #109
Yes, I'm pretty sure he did that actual work. :)

[2020-04-16 00:41] #109 closed

[2020-04-16 00:41] chrisfromwork commented on #109
Thanks for confirming!

[2020-04-16 00:46] darax commented on #156
since your log is set to all already, can you post it? that can help guide next steps.

[2020-04-16 01:31] evilotaku commented on #156
So we're getting the same error message when trying to run the basic demo scene

04-15 18:48:47.896 26242 26263 I Unity   : State from DemoStepSaveCloudAnchor to DemoStepSavingCloudAnchor
04-15 18:48:47.896 26242 26263 I Unity   :
04-15 18:48:47.896 26242 26263 I Unity   : (Filename: ./Runtime/Export/Debug/Debug.bindings.h Line: 48)
04-15 18:48:47.896 26242 26263 I Unity   :
04-15 18:49:05.461 262

[2020-04-16 01:42] motionsmith opened #157 "Calling CloudSpatialAnchor.GetPose() complains "Didn't find the anchor""
Hello,

When I call CloudSpatialAnchor.GetPose(), the AnchorHelper says "Didn't find the anchor" and then returns `Pose.Identity`. Because of this, the anchor appears at the world origin instead of the correct spot. See the code below.
[code]

Inside the `AnchorHelpers.GetPose(IntPtr)` extension is where the failure occurs. For some reason the `ARReferencePoint` is sometimes returning null, given

[2020-04-16 01:52] darax commented on #157
It sometimes takes a frame or two before Unity finds the anchor ASA creates and puts it in their internal list.  The samples don't actually ask for the pose until the frame (actually 2 frames) after the anchor located event triggers.

[2020-04-16 02:12] darax commented on #156
Thanks, that is very useful.  I can see on the back end that your login worked, and the attempt to create the anchor was made, and it failed with an unexpected error.  I've asked one of my colleagues who understands how data flows through the cloud better than I do to help out.

[2020-04-16 02:26] darax commented on #156
My colleague has confirmed that this is a service issue. They are actively investigating.  Thank you for reporting this!

Out of curiousity, @evilotaku and @lilfrimmy19 did you recently create these accounts? I'm watching the service folks triage this and they are assuming the accounts are new in the line of investigation they are taking.

[2020-04-16 02:29] lilfrimmy19 commented on #156
ok so here is what is generated in the log.

[code]

on my phone I have it printing the error code and it says ServerError but I guess that just means an unspecified error.
and I have had the account for about three-ish months now, but I created my resource like two days ago I believe.

[2020-04-16 02:32] darax commented on #156
Good data point in the resource being in the last couple of days and the account being a few months old.  In your log, there should have been some 'cv' codes like RespCV: Jjsyq2OLKEivQnkFt2zJfg.0.  I can use this to confirm that you and eivlotaku are hitting the same issue.

[2020-04-16 02:41] darax commented on #155
starting to look like this might be a general issue with recently created resources.  Our service team is investigating.

[2020-04-16 02:41] evilotaku commented on #156
For us, both the account the resource were created this week

On April 15, 2020, at 9:32 PM, Patrick Cook <notifications@github.com> wrote:

Good data point in the resource being in the last couple of days and the account being a few months old. In your log, there should have been some 'cv' codes like RespCV: Jjsyq2OLKEivQnkFt2zJfg.0. I can use this to confirm that you and eivlotaku are hitting th

[2020-04-16 02:50] lilfrimmy19 commented on #156
@darax is this what you are referring to?

[code]

[2020-04-16 02:52] darax commented on #156
yes, exactly.

[2020-04-16 03:21] craigktreasure commented on #108
I don't think so. It was opened from the Docs side and we asked them to open the issue over here instead. It's not resolved.

[2020-04-16 03:24] craigktreasure commented on #57
It would also help to know what platform: Android, iOS, or HoloLens. It looks like the AR platform is losing tracking and not restoring it accurately.

[2020-04-16 08:07] timgoeij commented on #150
@darax thanks for the help. The AnchorsLocated callback was indeed not at the Unity thread. I solve it with the concurrentQueue

[2020-04-16 08:07] #150 closed

[2020-04-16 16:39] darax commented on #156
@evilotaku @lilfrimmy19  It should be working now.

[2020-04-16 16:43] darax commented on #155
@tomkrikorian  @SvenDeha @MarcinKulwicki There was a service outage with resources that hadn't created their first anchor failing to create an anchor. This should be mitigated now.

[2020-04-16 17:03] motionsmith commented on #157
Thanks for your help @darax. I found the issue, it was a symptom of this bug:
https://github.com/Azure/azure-spatial-anchors-samples/issues/112

In my `LocateCompleted` handler, I removed the `AnchorLocated` listeners. But since `LocateCompleted` can be called before `AnchorLocated`, the first Find operation never called `AnchorLocated` event though anchors were located. That broke subsequent find

[2020-04-16 17:03] #157 closed

[2020-04-16 17:13] darax commented on #112
Wow... fixing this would be really tricky. Here is what is happening:
when SpatialAnchorManager gets an AnchorLocated from ASA on Droid/iOS it puts the anchor in a queue.  This is because ARFoundation keeps track of the anchors on these platforms, and it can be a frame or two in finding the anchor that ASA created for the anchor located result.  The processing of that queue is every update we ask

[2020-04-16 19:18] lilfrimmy19 commented on #156
@darax it is working, thank you so much! I did have one more question. In the SharedAnchor example, where it has you use a URL to locate existing anchors, in the OnSaveCloudAnchorSuccessfulAsync method, anchorNumber gets created and then set to -1 but it doesn't look like it gets changed, so when it gets passed to the AttachTextMesh method, it will always say that it failed to store the anchor

[c

[2020-04-16 19:30] darax commented on #156
It looks like it is missing:

            #if !UNITY_EDITOR

            anchorNumber = (await anchorExchanger.StoreAnchorKey(currentCloudAnchor.Identifier));

            #endif

[2020-04-16 20:25] lilfrimmy19 commented on #156
ok I can just throw that line in right? after creating an AnchorExchange variable

[2020-04-16 20:26] evilotaku commented on #156
The fix worked for us too! Thanks for the fast turnaround time!

[2020-04-16 20:29] darax commented on #156
that's right @lilfrimmy19.  Though, the script should already have that code. Maybe you modified it while the service was down trying to narrow down the issue.

https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Unity/Assets/AzureSpatialAnchors.Examples/Scripts/AzureSpatialAnchorsSharedAnchorDemoScript.cs

I'm going to close this issue, but if you are still having trouble with the

[2020-04-16 20:29] #156 closed

[2020-04-16 22:04] darax commented on #135
Hi @FSchmidNT
You've done your homework on how to connect anchors in Azure Spatial Anchors. :) Connecting sessions between app launches isn't a behavior that we've implemented. I can't comment on what the future might bring, connecting sessions and flexibility in configuring the watcher are both good requests for us to keep on the list of future improvements.

Thanks!

[2020-04-17 04:26] BASB-Ichikawa opened #158 ""no suitable image found" by iOS's ADAL"
I've been executing a sample project (iOS) on Mac and Xcode.
the app deploy on iPhone 8 (v 13.3).
But the app has an error below, when the app start.

Can anyone do any advice?

--------------------------------
dyld: Library not loaded: @rpath/ADAL.framework/ADAL
  Referenced from: /private/var/containers/Bundle/Application/774C8738-B08D-4210-A93A-EC0AA7F3B253/SampleSwift.app/SampleSwift
  Reason:

[2020-04-17 08:32] tomkrikorian commented on #155
Thanks @darax

[2020-04-17 08:34] tomkrikorian commented on #145
I'm using the same workaround as @Merichbier.
Multiple watchers or more identifiers would be amazing @julianparismorgan !

[2020-04-17 15:50] julianparismorgan commented on #145
If you could post it as a suggestion to our UserVoice, that would be great! https://feedback.azure.com/forums/919252-azure-spatial-anchors

[2020-04-17 16:33] spaskhalov commented on #149
Still have "Undefined symbols for architecture arm64:
"_ssc_cloud_spatial_anchor_session_set_log_level", " errors in XCode.

[2020-04-17 17:28] darax commented on #158
how have your configured signing? Do you have a paid developer account with apple, and is the device you are testing on registered?

[2020-04-17 17:33] tomkrikorian opened #159 "InvalidOperationException when trying to create an anchor"
I'm running into this exception a lot when trying to create an anchor :

`04-17 19:18:28.615 20082 20110 E Unity   : ASAScanner (Opuscope.Core.Environment.ASAAnchorScanner):OnSaveCloudAnchorFailed: Failed to save anchor : System.InvalidOperationException: . Request CV: . Response CV: .
04-17 19:18:28.615 20082 20110 E Unity   :   at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus (

[2020-04-17 17:40] #155 closed

[2020-04-17 17:42] darax commented on #159
this is a hint that something bad happened before we actually started talking to the cloud. Request CV: . Response CV:

can you post a log with more context?  Are you waiting for the readinesstocreate from SessionUpdated to be >= 1?

[2020-04-17 17:46] MarcinKulwicki commented on #155
Why you closed? Come on. I will have some time in weekend

[2020-04-17 17:58] darax commented on #155
@MarcinKulwicki 5 people (in two separate issue threads) had this same error caused by a service outage that has been fixed. 3 out of 5 have reported that the issue is resolved for them.  I took this as evidence of resolution.

[2020-04-17 22:28] darax commented on #149
@spaskhalov, what version of unity are you running?  What file did you open in xcode after syncing the pod file?

[2020-04-18 09:36] spaskhalov commented on #149
@darax Unity 2019.3.10f1. I open Unity-iPhone.xcworkspace in xcode. By the way version of xcode 11.3.1, if it matters. Content of my Podfile:

[code]

[2020-04-18 11:03] spaskhalov commented on #149
I found why our project didn't work. We use Firebase & ["External Dependency Manager for Unity(EDM4U)"](https://github.com/googlesamples/unity-jar-resolver). The podfile from azure `Assets/AzureSpatialAnchors.SDK/Plugins/iOS/Podfile` has been overwritten by EDM4U.
Thus, in the Podfile inside xcode project, the pod 'AzureSpatialAnchors' was simply not added. I manually made changes to the Podfile i

[2020-04-18 12:17] tomkrikorian commented on #159
I'm waiting for ReadyToCreate to be true and to have enough progress (>1).
I tried again today and i can't reproduce the issue. It comes and go so it makes me think it comes from the cloud service. I'll try to have more log next time it happens.

[2020-04-18 13:45] patvin80 opened #160 "Xamarin ModelRenderer - Changing Shape to Andy.obj"
I am trying to extend the Xamarin Android Application to leverage a Model Obj file and were looking for steps to achieve the same. I am looking at the Android code base and see that I could use the ModelRenderer methods for the same. But everytime I end up going to the exception block and have copied the exception

I have changed Anchor Visual.cs
`                    case NamedShape.Andy:

[2020-04-18 16:41] MarcinKulwicki commented on #155
I try with new project
1) Unity 2019.1.10
[code]
2) Unity 2019.3.0f6 and instruction https://github.com/Azure/azure-spatial-anchors-samples/issues/149

I set up in both case Spatial Anchors Account Id and Spatial Anchors Account Key in scene AzureSpatialAnchorsBasicDemo and in AzureSpatialAnchors.SDK/Resources/SpatialAnchorConfig

And still have the same error. At the beginning, after open app:
[c

[2020-04-18 20:00] tomkrikorian commented on #145
Done :)

Here is the link to the suggestion : https://feedback.azure.com/forums/919252-azure-spatial-anchors/suggestions/40207366-multiple-watchers-and-or-more-watcher-options

[2020-04-20 06:58] faizan1990 commented on #137
Where did you get the `AzureSpatialAnchors.framework` and `UnityFramework.framework` from? All I see in my Frameworks, Libraries, and Embedded Content is this:

<img width="546" alt="Screen Shot 2020-04-20 at 4 57 15 pm" src="https://user-images.githubusercontent.com/13532645/79722823-19065f80-8328-11ea-977d-c9b675127fbe.png">

Unity Version: 2019.1.14
XCode Version: 11.3

[2020-04-20 11:21] arsi0001 commented on #156
I have the same problem. After clicking on Create Azure Anchor I get the CloudSpatialException. So how to fix that? You just posted "It should be working now", but did you do to fix the issue?

[2020-04-20 14:14] arsi0001 opened #161 "Getting CloudSpatialException on HoloLens"
**The guide I'm following:**
https://docs.microsoft.com/en-us/windows/mixed-reality/mrlearning-asa-ch1

**What I already did:**

1. Capabilities are set in unity and in the solution via visual studio (→Package.appxmanifest)
2. HoloLens is updated
3. Credentials are set the right way; took the _Account ID_ and _Primary key_
4. Added `<DeviceCapability Name="wiFiControl"/>` to `Package.appxmanifest`

[2020-04-20 16:09] #145 closed

[2020-04-20 16:57] avisingh91 opened #162 "Cloud Spatial Exception : Azure Spatial Anchor"
Hi,

### Tutorial Source : [here](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android)

### Specs & Environment

Unity3d 2019.1.1.f
Andorid One Plus 6
Azure Spatial Anchor download from this repo.

### Log File .
[LogFile.txt](https://github.com/Azure/azure-spatial-anchors-samples/files/4504903/LogFile.txt)

### Error Scenario

- When im trying to save loca

[2020-04-20 18:29] MarcinKulwicki commented on #162
I have the same Issue unresolved. You can look there https://github.com/Azure/azure-spatial-anchors-samples/issues/155
Apparently someone succeeded resolve this error and my issue was closed but not mine. If you will find the solution please leave solution

[2020-04-20 21:29] motionsmith opened #163 "CreateAnchorAsync succeeds with empty anchor ID after 30s"
Hello,

I'm seeing a problem when I await `CreateAnchorAsync` on a poor network connection (consistently repros using XCode's poor network simulator). After about 30-45 seconds the task completes without an exception or an `AnchorManager.Error` event. However, the resulting `CloudSpatialAnchor.Identifer` value is an empty string `""`, so the anchor is unusable. The CancellationToken was not trigge

[2020-04-20 22:34] motionsmith commented on #163
If I retry the CreateAnchorAsync() request (provide the same CloudSpatialAnchor pointer), the request can subsequently succeed if the network connection improves.

[2020-04-21 00:37] motionsmith commented on #163
The ultimate thing this is preventing me from doing is creating anchors on a cellular (LTE) connection. My download speed are decent (1.6 Mbps) but I don't know what my upload speeds are, but I bet they are bad. If I could just create the anchor, it may be subsequently findable on a cellular connection.

[2020-04-21 00:50] faizan1990 commented on #149
Does the first line in Podfile mean anything?

`platform :ios, '11.0'`

I am pretty sure no one is running iOS 11 on their iPhones anymore. Please confirm.

Also, I made the changes advised in this thread, but they didn't work for me.

[2020-04-21 02:01] darax commented on #162
Apparently I cursed the issue by resolving Marcin's issue, the fix made last week was temporary and the issue resurfaced over the weekend.  Service team has implemented a complete fix now.
 @avisingh91 @MarcinKulwicki give it another shot.
Marcin, if you are still having trouble, go ahead and reopen your issue.

[2020-04-21 09:44] avisingh91 commented on #162
Thanks for the reply. Provided there is no update in the repo, i assume the fix is done on the back-end side. Hence, i made a build and run it one the mobile, and the error is still the same..

[2020-04-21 22:39] MarcinKulwicki commented on #162
Now is everything all right. Thanks for resolved the problem.

1) I have Unity 2019.3.0f6 and instruction https://github.com/Azure/azure-spatial-anchors-samples/issues/149
2) Regenerated Access Key (Primary Key)
3) Set up this key for all scenes and resources

And it start working :)

After this i remove Api key from not usable scenes ale leave only in resources and AzureSpatialAnchorsBasicDemo. S

[2020-04-22 08:40] avisingh91 commented on #162
Yes. It is fixed. Thanks @MarcinKulwicki  @darax  for the help.

[2020-04-22 08:41] #162 closed

[2020-04-22 22:40] RamonArguelles commented on #86
As a temporary workaround, if you don't need to run your code on HoloLens devices, you can upgrade your app to both Unity 2019.3+ and ARCore 3.0+, and this issue will go away. Instructions for doing so are posted here: https://github.com/Azure/azure-spatial-anchors-samples/issues/149

Bear in mind, though, that this configuration is still unsupported by Azure Spatial Anchors. As the link above men

[2020-04-22 22:53] RamonArguelles commented on #108
Hi @anton-khoryukov-zf, thanks for reporting! I've filed an internal issue (#26089016) for this so that we can take a look at it.

[2020-04-22 23:18] RamonArguelles commented on #113
Hi @FSchmidNT, thanks for reporting! I've filed an internal issue (#26089424) for this so that we can take a look at it. It is indeed a bug in the ASA SDK, hence why we aren't opening a pull request to change the sample code: the code snippet above is just a workaround while we fix the real underlying issue in the SDK.

[2020-04-22 23:25] RamonArguelles commented on #119
Hi @ginomessmer, thanks a lot for reporting! Looking at the discussion, this might be related to https://github.com/Azure/azure-spatial-anchors-samples/issues/108, or even perhaps a dupe. ASA SDK doesn't currently properly handle the situation when the provided AR Session is null. As @darax mentioned, please check it in your code. If you are still having troubles after ensuring the AR session isn'

[2020-04-22 23:40] RamonArguelles commented on #127
Hi @frsprojects, thanks a lot for reporting! Have you been able to double check the version of ASA SDK, Unity, AR Foundation & ARCore? As @mschofie mentioned, the value returned by RecommendedForCreateProgress can go up and down as you are scanning your environment, depending many factors, including the speed in which your device is moving. In the original sample code, since each step is performed

[2020-04-24 20:21] RamonArguelles commented on #128
Hi @Daniel-Tamborra and @Merichbier. Thanks a lot for reporting this issue. We just discovered, and fixed, and bug in our Azure Spatial Anchors service, that may have been the reason behind the issue you described. Could you try your scenario again, and let us know if it's indeed fixed for you? Thanks!

[2020-04-24 20:31] RamonArguelles commented on #132
Hi @vincentfretin , thanks for reporting! I've filed an internal issue (#26120953) for this so that we can take a look at it.

[2020-04-24 20:50] RamonArguelles commented on #134
Hi @Nanoodle & @vincentfretin, thanks a lot for reporting this problem. Could you confirm if you are still hitting it? We've recently fixed some issues on our Azure Spatial Anchor service that may have been related. Thanks!

[2020-04-24 21:07] RamonArguelles commented on #135
As @darax mentioned, thanks for the feedback, @FSchmidNT. I filed an internal feature request (#26121770) for this so that we can track it.

[2020-04-24 21:36] RamonArguelles commented on #141
Sorry @Mlt123, @craigktreasure is correct: we don't support running Azure Spatial Anchors within the Unity Editor. You need to deploy the code to an actual device and run from there.

[2020-04-24 21:36] #141 closed

[2020-04-24 21:47] RamonArguelles commented on #146
Hi @sublimeRich, thanks a lot for your feedback. I've filed an internal work item (#26122484) for this so that we can track it..

[2020-04-24 21:57] RamonArguelles commented on #154
Hi @AlekseiBo. Have you been able to try out the suggestion from @darax? Let jus know if you are still having dll issues if you have, so that we can try to dig further. Thanks.

[2020-04-24 22:05] RamonArguelles commented on #159
Thanks @tomkrikorian. Logs will be useful if you hit this again. One possibility is that you may be having Internet Connectivity issues. Or it could be related to https://github.com/Azure/azure-spatial-anchors-samples/issues/127: the value returned by RecommendedForCreateProgress can go up and down as you are scanning your environment, depending on many factors, including the speed in which your d

[2020-04-24 22:05] #159 closed

[2020-04-24 22:14] RamonArguelles commented on #161
Hi @arsi0001, thanks for reporting. We recently discovered and fixed a bug in our Azure Spatial Anchor service that may have been the reason behind the issue you are seeing. Can you try again to check if the issue is fixed for you now? Thanks!

[2020-04-24 22:19] RamonArguelles commented on #163
Hi @motionsmith, thanks a lot for reporting. I've filed an internal issue (#26123177) for this so that we can take a look at it.

[2020-04-25 09:35] vincentfretin commented on #134
Hi @RamonArguelles , I'm not currently working on the project anymore, so I won't be able to confirm it.

[2020-04-27 06:04] Merichbier commented on #128
Hi @RamonArguelles,
Updated ASA from 2.2.0 to 2.2.1 this morning and tested. I'm happy to confirm that you did fix it

[2020-04-27 07:22] arsi0001 commented on #161
Hi @RamonArguelles, thanks for fixing, now it works!

[2020-04-27 10:57] #161 closed

[2020-04-27 16:40] Nanoodle commented on #134
It has been a while since any such occurrence, but a large part of the focus is currently elsewhere so the usage of anchors has been low and thus there's also not been much opportunity to hit this issue. It was very "temperamental" in the first place after all.

I will keep you informed, whether I hit it or if after an increase in usage over time, I haven't.

Thanks for the update.

[2020-04-27 17:26] RamonArguelles commented on #134
Ok, thanks @vincentfretin and @Nanoodle! I'll close this issue for now, since we do believe it is now fixed on our side. That said, if you ever happen to hit it again, please feel free to either reopen, or open a brand new issue, so that we can take a look. Thanks!

[2020-04-27 17:26] #134 closed

[2020-04-27 17:35] #154 closed

[2020-04-27 17:35] #143 closed

[2020-04-27 17:35] #153 closed

[2020-04-27 17:35] #152 closed

[2020-04-28 04:46] lilfrimmy19 opened #164 "trying to connect spatial anchors app to Azure Cosmos DB"
I am trying to get the spatial anchors I create to save to a Cosmos DB I created through the persistent sharing of spatial anchors tutorial in the Microsoft docs. I notice some activity in the metrics section of the DB, but it does not look like anything is being written to the database. I made sure to copy the right connection string from the DB resource as well. Would the anchors I save to Azure

[2020-04-28 21:36] #164 closed

[2020-04-28 23:40] lilfrimmy19 opened #165 "connecting app to Azure Cosmos DB"
I was following the persistent sharing tutorial and I followed the steps in creating a Cosmos DB and  I added the connection string to the .json file in the Sharing Services folder, but when I create an anchor, it does not show up in the database account I created. Is it possible that I am missing a step?

[2020-04-30 12:51] InitusJames opened #166 "Multiple Error"
Cloned GIT, opened with Unity 2019.3.12f1

Multiple Errors (11) similar to the following.

Library\PackageCache\com.unity.xr.arsubsystems@2.2.0-preview.3\Runtime\ObjectTrackingSubsystem\XRObjectTrackingSubsystem.cs(121,37): error CS0506: 'XRObjectTrackingSubsystem.Destroy()': cannot override inherited member 'Subsystem.Destroy()' because it is not marked virtual, abstract, or override

[2020-05-04 16:26] craigktreasure commented on #166
Please see #149.

[2020-05-04 16:26] #166 closed

[2020-05-04 16:45] craigktreasure commented on #160
@patvin80 I'd suggest you consult the Xamarin experts on this one since you're now dipping directly into Xamarin ARCore\Sceneform territory. It's possible that you're hitting an issue in the Xamarin Sceneform bindings.

[2020-05-04 16:45] #160 closed

[2020-05-05 16:18] mschofie commented on #165
Unfortunately, I think this is the wrong place to ask Cosmos DB questions; we're not really that familiar with it. The Sharing Service is provided as an example of what can be possible in sharing Azure Spatial Anchors - how you store and share the id's on the back-end is up to you.

[2020-05-05 16:18] #165 closed

[2020-05-07 00:18] #127 closed

[2020-05-07 00:18] #119 closed

[2020-05-08 20:33] #128 closed

[2020-05-08 22:36] #158 closed

[2020-05-11 21:08] midopooler opened #167 "Move your device to capture more environment data, (canvas) stuck at 0%"
Hi, I tried running it on my pocophone. i did put the right API keys
But the ARReferencePoint counter is stuck at 0%
How can I tackle this?

[2020-05-12 08:49] makihiro commented on #120
same here. is there any insights?

[2020-05-12 11:28] shivaylamba commented on #167
Hi @midopooler You can try to look at this documentation : https://docs.unity3d.com/Packages/com.unity.xr.arfoundation@2.2/manual/reference-point-manager.html

[2020-05-12 13:38] midopooler commented on #167
![WhatsApp Image 2020-05-12 at 7 03 13 PM](https://user-images.githubusercontent.com/43686606/81698477-a9494780-9483-11ea-99ee-75aeb0da7ba7.jpeg)
Actually this is the issue I'm facing here. It is not capturing my environment even after considerable amount of scanning. It's stuck at 0%.

[2020-05-12 13:39] shivaylamba commented on #167
Oh okay, this seems to be a strange issue. @midopooler

[2020-05-12 13:40] shivaylamba commented on #167
@vriveras Could you help

[2020-05-12 13:51] tomkrikorian opened #168 "Delete an anchor by id without CloudSpatialAnchor / AnchorWatcher"
Hello,

My use case is as follow :
App A & App B use the same set of spatial anchors, if App A deletes an anchor i want to be able to tell App B to delete that anchor next time it's launched but without going through an AnchorWatcher / CloudSpatialAnchor.

Maybe i missed something but it seems not possible at the moment. Is there a way or is it planned to be able to delete an Anchor by providing a

[2020-05-12 19:46] RumiaSultanova opened #169 "Service unavailable or unspecified error found"
Hello.

Getting this exception when trying to save anchor. It was working well last few months, but not now.

Android build on Unity 19.3.3
ASA 2.2.1

I can't get what goes wrong. Hope you can help.

[code]