[2022-07-21 01:23] XiangyuL-Microsoft commented on #343
@sana2024

We just released a new version of SDK [2.13.0](https://github.com/Azure/azure-spatial-anchors-samples/releases/tag/v2.13.0).
Could you try this new version of SDK to see if the problem still persists please?
Thank you very much.

[2022-07-21 01:24] XiangyuL-Microsoft commented on #339
@Tolo789

We just released a new version of SDK [2.13.0](https://github.com/Azure/azure-spatial-anchors-samples/releases/tag/v2.13.0).
Could you try this new version of SDK to see if the problem still persists please?
Thank you very much.

[2022-07-21 07:00] the-mad commented on #346
Hello ! I tested it already and my issue is still there, as I said in my last comment.

[2022-07-21 08:50] Tolo789 commented on #339
Hi all, thank you for coming back to see if I still have the issue. Unluckily we dropped our usage of Azure Spatial Anchor so I can no longer test this out for you, feel free to close this ticket!

[2022-07-22 22:22] sergeiromanov opened #363 "Android NDK crash when WiFi is disabled"
The app crashes if the SDK sensor wifi is enabled but the device's wifi is disabled.

**Steps to reproduce the issue**
1. Device's WiFi must be disabled.
2. In the code during session creation unconditionally enable sensor wifi:
locationProvider->Sensors()->WifiEnabled(true);
3. When session is ready call GetNearbyAnchorIdsAsync()

**Result**
The app crashes. AndroidStudio fails to show any stack

[2022-07-25 23:06] darax commented on #363
thanks @sergeiromanov, I can reproduce this.

[2022-07-26 23:05] darax commented on #346
@the-mad thanks for following up.  There was definitely an issue fixed in 2.13 (the coarse reloc SensorFingerprint classes didn't have proper destructors in the iOS codebase, and the first stack corroborates), so this probably is separate but similar. I'll check to see what is still wrong. Before the fix I think I was able to crash the app without starting a watcher (step 4a), so I wasn't trying a

[2022-07-27 07:05] the-mad commented on #346
Hello @darax and thank you for your answer !
Let me know if you need some extra informations/tests from me 👌

[2022-08-03 15:22] MirageRTM opened #364 "IL2CPP azure storage table deprecated"
**Description**

Hi everyone ! I'm trying to deploy an app into an Hololens 2 headset. In MRTK2 I used to play with Microsoft.WindowsAzure.Storage.Table for retrieve object and update their status. Now with MRTK3 I wanted to play with the new Azure.Data.table library because Microsoft.WindowsAzure.Storage is officially deprecated.
With the new library (Azure.data.table), after the deployment and b

[2022-08-04 02:25] Varnauld commented on #364
Hello - thank you for submitting this issue. Tracking this issue (n#40768868) and will assign it shortly, thank you

[2022-08-04 17:05] davidkline-ms commented on #364
@Eytos, if you deploy an MRTK3 application without using azure.data.table, do you experience any issues?

Can you also post the details of the error?

Thanks!

[2022-08-05 15:47] MirageRTM commented on #364
Hi, thank for both of you answer. I work on MRTK3 and never had issues like that. Here is the error :
`ExecutionEngineException: Attempting to call method 'Azure.Monitor.Query.TypeBinder`1+BoundMemberInfo`1[[System.Collections.Generic.IDictionnary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0.0, Culture=neutra

[2022-08-05 19:48] davidkline-ms commented on #364
Not sure if this is going to work, but here is something you might try....

If you add a link.xml file referencing the azure dll you are using, it should prevent Unity's code stripper from removing any code from that library. You _might_ be experiencing an issue related to code stripping and runtime binding.

Please let us know so that we can document guidance and investigate with Unity as needed.

[2022-08-05 20:07] MirageRTM commented on #364
Good evening @davidkline-ms, I'm sorry, I forgot to mention that I had already done this by following this link : [https://docs.unity3d.com/Manual/PluginInspector.html](https://docs.unity3d.com/Manual/PluginInspector.html) .
Here are the contents of my link.xml :
[`<linker>
  <assembly fullname="Azure.Core" />
  <assembly fullname="Azure.Data.Tables" />
  <assembly fullname="Azure.Storage.Blobs" /

[2022-08-08 21:20] xueyuancao0218 commented on #353
For some reason, I suspended the project before. When I tried to rebuild the project today, I encountered some problems. Downloaded the project from github and I tried to open the Unity project. But the program crashed for some reasons that I feel really weird. The screenshot is attached. I don't quite understand why this would happen.
![Screenshot (8)](https://user-images.githubusercontent.com/82

[2022-08-09 20:40] xueyuancao0218 opened #365 "Demo State: Check Unity Config"
I tried to implement the unity demo on hololens2. Luckily, I could successfully implement it on the device. However, when I followed the tutorial, "select BasicDemo using the arrows, then press the Go! button to run the demo", the program would stuck at this stage. It says, "Demo State: Check Unity Config". I waited several minutes, and nothing happened. Is this supposed to be normal? Is so, what

[2022-08-10 09:28] sugram opened #366 "App Hang at SpatialAnchorManager_ProcessLatestFrame (iOS 15.6, ASA 2.13.0)"
**Description**

App hangs during ASA processing of the latest frame. The cause is unknown.

When no dsyms were provided the crash logs seemed to refer to Bluetooth beacon IDs being related to the app hang. The app has Bluetooth functionality disabled. With dsyms the trace shows only AzureSpatialAnchors __hidden calls.

`
            sensorProvider = new PlatformLocationProvider();
            sen

[2022-08-10 19:51] xueyuancao0218 commented on #365
I double checked the scripts. However, I didn't find any information about this message (Demo State: Check Unity Config). Could you please tell me where I can find this log?

Any other information would also be helpful!

[2022-08-10 20:36] XiangyuL-Microsoft commented on #365
This text is not in script, look at there: https://github.com/Azure/azure-spatial-anchors-samples/blob/914e32e1abfe64369eae9208d91070c23d8cd437/Unity/Assets/AzureSpatialAnchors.Examples/Scenes/AzureSpatialAnchorsBasicDemo.unity#L1336

[2022-08-10 20:40] xueyuancao0218 commented on #365
OK, I understand. But why this would appear? What should I do to fix this? Is there any advice?
 : )

[2022-08-11 21:02] xueyuancao0218 commented on #365
Situation update: I tried to find out why this would happen and wanted to debug it. I updated the Spatial Anchor Id, Key and Domain to every Scenes. After re-building it again, the words are still there (Demo State: Check Unity Config).

Basic demo: nothing changed
Nearby demo: nothing changed
Local Shared demo: although the words are still there (Demo State: Check Unity Config), there are other o

[2022-08-12 07:14] the-mad commented on #346
Hello @darax
I wanted to know how you see things concerning this issue. Will there be a fix for the v2.13 coming soon or will this be part of the next update ? How many time until the update ?

[2022-08-13 18:00] xueyuancao0218 commented on #365
The attachment is unityplayer.log file.

Any suggestion would be helpful
[UnityPlayer.log](https://github.com/Azure/azure-spatial-anchors-samples/files/9331948/UnityPlayer.log)
!

[2022-08-17 12:18] EVOsparkLP commented on #357
I tried version 2.13.0 and the issue does not occur anymore. Seems to be fixed, thanks.

[2022-08-17 12:18] #357 closed

[2022-08-17 12:48] EVOsparkLP opened #367 "GetAnchorProperties throws an exception when called with an invalid id"
**Description**

My app crashes when CloudManager.Session.GetAnchorProperties is called with an anchor ID that does not exist.
According to the docs this method can be used to get anchors that were not located before. In my case I want to get these anchors to delete them.

**Steps to reproduce the issue**

1. Use the ASA demo scene "AzureSpatialAnchorsBasicDemo"
2. In the AdvanceDemoAsync method a

[2022-08-18 17:20] SimonDarksideJ opened #368 "InvalidOperationException: Error: Failed to create an OpenXR NeighborhoodData Stream"
**Description**

We've been testing ASA on HoloLens with an Anchor system running, which has been fine.  Anchors are created and ID's are generated.

However, We recently started testing in the desired pattern of having multiple devices in the same physical location and using a single anchor to locate content to be shared between devices in the same physical location.

This results in the error:
[

[2022-08-19 20:03] XiangyuL-Microsoft commented on #365
Could you please provide more details information about:

1. Unity Editor version
2. OS version
3. Any other information could be helpful for reproducing the problem.

Thanks

[2022-08-24 11:56] sugram commented on #366
It has been a while.

Is this issue being investigated?
Is additional information required for investigation?
Not sure if such things exist, but could some kind of deobfuscation files be provided by ASA that would provide a better stack trace for the error?

[2022-08-24 20:30] xueyuancao0218 opened #369 "Create a file in Hololens/DirectX program"

[2022-08-24 20:31] xueyuancao0218 commented on #365
I used Unity 2019.4.40f1 to run this program.
OS is Win10.

[2022-08-24 20:35] XiangyuL-Microsoft commented on #365
What device are you running the Unity app? HoloLens 2? iPhone/iPad? Android Phone?

[2022-08-24 20:36] xueyuancao0218 commented on #365
It was Hololens2.

[2022-08-24 20:39] XiangyuL-Microsoft commented on #365
Have you update the OS on HL2 to most recent version?
Is it possible for you to use Unity and configure it by following this [page](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project?tabs=xr-plugin-framework%2Cunity-2020%2Cunity-package-mixed-reality-feature-tool%2CExtraConfigurationsHoloLens)?

[2022-08-24 20:54] xueyuancao0218 commented on #365
OK, I will try to do so.

On the other hand, I have another question. It's about the program in Hololens/DirectX.

I would like to create a file in Hololens and use this file to store the m_targetId. Here is the code that I use to store it. I made this modification in ViewController.cpp.

    ........
    m_titleText = L"cloud anchor saved with ID " + m_targetId;
    ofstream file("anchors.txt");

[2022-08-24 22:23] xueyuancao0218 commented on #365
Update: I followed the tutorial and finished implementing. The program was still not working as expected. When I tried to click on buttons as usual, the button is not responding.

[2022-08-29 17:04] darax commented on #346
hey @the-mad
Apologies for taking so long to get back to you.  I have been able to reproduce this in the sample; I'll work on root causing and see if there is a workaround.

[2022-08-29 20:45] XiangyuL-Microsoft commented on #365
Actually, you are working a UWP app, have you referenced this [doc](https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions)? I would recommend Windows.Storage other than C++ std::ios.

Besides, I would suggest that open a new issue to tracking the problem.

[2022-08-29 22:15] darax commented on #346
hello @the-mad,
I need to see what we can do about this to prevent the crash. I suspect what is happening is some ARKit state that the ASA runtime is using has been cleaned up, and memory is being corrupted. I was able to work around this in the sample by adding a call to  StopSession() before calling self.dismiss() in moveToMainMenu(). Could you implement the same workaround in your application?

[2022-08-30 07:01] the-mad commented on #346
Hello @darax thanks for reaching out !
If I understand correctly, the ASA Session must be stopped **before** ARKit is freed when dismissing the view.
Indeed, I our project (in Swift) the StopSession() is called in `deinit { ... }`.
I will see to integrate the workaround you have suggested and let you know if it works 👌

[2022-08-30 07:22] the-mad commented on #346
It's working like a charm !!! 🎉  Thank you for the intel ;)

[2022-08-30 16:50] darax commented on #346
@the-mad glad to hear.  This has been digging at the back of my mind for a month. :)

[2022-08-30 16:50] #346 closed

[2022-09-01 00:14] Varnauld commented on #367
Hello, thank you for submitting this issue. Assigned to @darax  (tracking ID [41155293])

[2022-09-01 02:06] Varnauld commented on #366
Hello, Apologies for the delay - Thank you for submitting this issue. Assigning to @XiangyuL-Microsoft (Tracking [41155744])

[2022-09-01 02:09] Varnauld commented on #368
Hello, Apologies for the delay - assigning to @darax (tracking [41155761]), thank you

[2022-09-01 02:10] Varnauld commented on #369
Hello @xueyuancao0218 - it looks like your description is missing, is there any help we can provide? thank you

[2022-09-01 02:20] Varnauld commented on #112
Hello @Silloty1 - we released 2.13.0 mid-July. Have you had the opportunity to test again? Thank you for any further insights you can provide. https://github.com/Azure/azure-spatial-anchors-samples/releases

[2022-09-01 02:23] Varnauld commented on #31
Hello - we released v2.13.0 mid-July https://github.com/Azure/azure-spatial-anchors-samples/releases - this includes AppCenter dependency removal from all platforms. Please let us know if anything further is required or if you have any feedback you would like to share. Thank you,

[2022-09-01 02:27] Varnauld commented on #337
Hello @TangarTomas - apologies for the delay. We believe we have addressed this in our release last July - could you confirm whether this is resolved please? Or alternatively, provide some further insights into the issues encountered,. Thank you
https://github.com/Azure/azure-spatial-anchors-samples/releases

[2022-09-01 02:28] #339 closed

[2022-09-01 10:56] EphTron commented on #345
Hello,
i have the same issue. I am able to place multiple anchors, retrieve the anchors and align my app with the detected anchors.
Nevertheless, in some cases when I move around my alignment with the anchors breaks. I assume this is caused through lost tracking, but I could not find any details on how to handle tracking loss.
A small example on tracking loss detection and the correct usage of res

[2022-09-01 17:10] Silloty1 commented on #112
Hello @Varnauld
I will test this and I will let you know

[2022-09-01 17:39] darax commented on #367
Hi @EVOsparkLP,
you should wrap the call in a try/catch. generally if an error occurs, a [CloudSpatialException](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.cloudspatialexception?view=spatialanchors-dotnet ) is thrown, which contains a [CloudSpatialErrorCode ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.cloudspatialerrorcode?view=spatia

[2022-09-02 03:14] 2868951949 commented on #161
Two days ago, my project was still working normally, but now I get the similar error information. Please help!!!

Two days ago, suddenly I get the error in afternoon:  Need an enabled ARSessionOrigin in the scene. I'm sure have the enable ARSessionOrigin in the scene, I follow the tutorial step by step (https://docs.microsoft.com/zh-cn/learn/modules/azure-spatial-anchors-tutorials/3-exercise-get-s

[2022-09-06 14:27] shyam-barange opened #370 "How to connect Anchors across multiple sessions ?"
**Description**

Trying to connect anchors across multiple sessions but not getting desired result. The newly added anchor’s pose value coming out wrong.
Followed instructions give in the below link but doesn’t know how to execute the same : https://docs.microsoft.com/en-gb/azure/spatial-anchors/concepts/anchor-relationships-way-finding

**Steps to reproduce the issue**

1. Create an anchor for ex

[2022-09-06 20:07] #369 closed

[2022-09-06 20:08] xueyuancao0218 commented on #369
I have solved this question. The problem is that I did not provide the full path of the file in code. Thanks for your help!

[2022-09-10 10:59] almoga296 opened #371 "Azure Spatial Anchor with Holographic remote"
**Describe the bug**
I've opened Azure account and enabling the spatial anchors service to build spatially aware mixed reality application.
Clone Azure Spatial Anchors [github](https://github.com/Azure/azure-spatial-anchors-samples) sample.
Can't run azure spatial anchors with holographic remoting (store edition) on windows standalone x64, probably because lack of dll.

**Error:**
DllNotFoundExcep

[2022-09-12 17:57] darax commented on #370
hi @shyam-barange
could you describe how the pose is wrong? IE, is it off by centimeters/close? Is it consistently in the same wrong place, or does the wrong pose place the anchor in different places, perhaps depending on where the application was started?

[2022-09-14 09:31] EmileDavidson opened #372 "session.start() gives and error"
**Description**

Getting an error while trying session.start(); catched exception ->
[code]

**Steps to reproduce the issue**
note. it happened in the sample scene once (haven't ran a sample scene often)

Not possible to reproduce since it's random sometimes it just works other times it doesn't I also put a try-catch around it so it doesn't stop the app and made it so I could try again sometimes i

[2022-09-14 16:59] Varnauld commented on #372
Hello - thank you for submitting this issue. Assigning to @XiangyuL-Microsoft (Tracking n#41322956)

[2022-09-14 17:05] Varnauld commented on #371
Hello - thank you for submitting this issue. Assigning to @XiangyuL-Microsoft (Tracking n#41323140), thanks!

[2022-09-15 11:57] TangarTomas commented on #337
It's resolved per [v2.13.0](https://github.com/Azure/azure-spatial-anchors-samples/releases/tag/v2.13.0), thank you.

[2022-09-15 11:57] #337 closed

[2022-09-16 08:05] EmileDavidson commented on #372
CreateSessionAsync() also gives an Error out of nowhere:

[code]

[2022-09-16 11:08] cheles commented on #371
@almoga296  ASA is not supported in Unity Editor, which above error might be related to. You need to switch your Unity build to UWP. https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/mrtk2/features/tools/holographic-remoting?view=mrtkunity-2022-05#connecting-to-the-hololens-with-wi-fi

[2022-09-19 01:54] ian-phoria commented on #305
I have just updated to SDK 2.13.0 and the problem appears to persist - but it doesn't occur all the time. ASA has been relatively stable on my Google Pixel devices for the past couple of months but I've received client reports today from the client using the same Samsung device above (Samsung Note 20 5G) having trouble creating spatial anchors.

They shared some logging with us:

- Sep 19, 2022, 1

[2022-09-20 18:32] snakex2000 opened #373 "Unreal sample needed for ASA to be posted, https://learn.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-azure-spatial-anchors"
Go to following URL:
   https://learn.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-azure-spatial-anchors

A clear and concise description of what the issue is.

**Steps to reproduce the issue**
1)   No sample on GitHub, cannot complete the walkthrough easily  and cannot search text since it is lot of pictures

**Additional context**
Forum posts on not able to find information ne

[2022-09-23 11:08] Silloty1 commented on #112
Hello @Varnauld

Just did some tests!
As far as I understand, the event is correctly triggered if anchors are found by Visual Information.
Somehow, if the watcher locate strategy is Any, as soon as one anchor will be recognized, the event will be triggered, and all other anchors will be found by relationship afterwards.

By default, our locate strategy is any, so I couldn't really get why the even

[2022-09-23 17:15] Varnauld commented on #112
Hi @Silloty1 thank you for sharing your update! I'm tagging @XiangyuL-Microsoft should you have any further follow up questions here, but it sounds like you were able to resolve your issue? thank you

[2022-09-30 11:03] Bharath-atheer commented on #351
@darax is there any update?.

[2022-10-01 01:42] Varnauld commented on #305
Thank you @ian-phoria for the update, sorry to hear issues are persisting. @XiangyuL-Microsoft will be following up shortly (tracking n# 37419057). thank you

[2022-10-01 01:48] Varnauld commented on #373
Hello, thank you for the feedback! It looks like my colleague Nathan made a request for [documentation update]([[url](https://github.com/MicrosoftDocs/mixed-reality/issues/655)]. If you have any further feedback you would like to submit to the team, please do share [here](https://feedback.azure.com/d365community/forum/f47d9b25-0725-ec11-b6e6-000d3a4f07b8?filter=top)

[2022-10-04 15:44] snakex2000 commented on #373
Thanks!!

Forums are getting some more Unreal questions & the completed sample would be great to help review + test with reports like this one:

https://learn.microsoft.com/en-us/answers/questions/1034019/using-azure-spatial-anchors-makes-project-crashed.html?childToView=1034978#answer-1034978

[2022-10-04 20:30] lmaxsmith opened #374 "Local serialization for lost connectivity?"
My app is used in is settings where connectivity is sparse. I want to share anchors when available, but store copies locally for instances when no connectivity is available.
First question: is this something that is possible by default and I just missed it?
Second question: When I tried to implement my own logic for it, ASA seemed to prevent it because it took over the AR Anchor Manager's behavior

[2022-10-04 22:15] Varnauld commented on #374
Hello, thank you for reaching out - tagging @XiangyuL-Microsoft to help here (tracking ID 41668537)

[2022-10-04 22:28] Varnauld commented on #373
Tagging @pamistel for visibility too, thank you for highlighting this

[2022-10-04 22:38] XiangyuL-Microsoft commented on #374
@lmaxsmith
To persistent the anchors, all of them should be stored in Azure. You can try to temporarily cache some anchors, but it is not a recommended solution for now by design. The recommended way is detecting network status and provide real-time function only when the network is available.

Could you please share with us about the detail how ASA prevent you implement your own logic? For exampl

[2022-10-04 22:41] fieldsJacksonG commented on #373
You can find a sample using Azure spatial anchors here:
https://github.com/microsoft/Microsoft-OpenXR-Unreal

The ASA for Unreal doc was mostly based on this sample

[2022-10-05 06:04] mrwellmann commented on #374
I haven't thought in depth about this but _local anchor serialization w/o network connectivity_ might also make it possible to do more easy or even automatic testing utilizing Unity Mars.

[2022-10-07 12:07] lightlessdays commented on #350
I got the same error. This is what I was doing wrong:
When I closed Unity, my keys got deleted, so go to the GameObject that contains SpatialAnchorManager script and re-enter your keys.
![image](https://user-images.githubusercontent.com/97734029/194549847-1c2ae2aa-95b2-4046-a03c-41a538faacc1.png)

[2022-10-07 23:32] Varnauld commented on #350
Thank you for reaching out - Tagging @darax  to provide some input here, thank you

[2022-10-13 11:52] jelmer3000 commented on #174
Hey, did you ever find a solution for this?
Or how can one provide GPS coordinates to Azure Spatial Anchors? IN the worst case scenario, I could type in GPS coordinates on the HL2 when creating anchors...

[2022-10-13 12:01] jelmer3000 opened #375 "Provide GPS coordinates manually?"
In order to overcome the problem with the HoloLens 2 not having GPS, I would like to provide GPS coordinates myself when placing anchors.

How can I provide my own GPS coordinates in code (in Unity) when saving an anchor?

[2022-10-14 16:10] Varnauld commented on #375
Thank you for submitting your question, tagging @XiangyuL-Microsoft (tracking n# 41794975)

[2022-10-14 21:32] XiangyuL-Microsoft commented on #375
@jelmer3000

An external GPS device can be associated with HoloLens. Handle the [UpdatedSensorFingerprintRequired](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.cloudspatialanchorsession.updatedsensorfingerprintrequired) event to submit [GeoLocation](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.spatialanchors.geolocation) readings if you are using Holo

[2022-10-15 13:10] yixun commented on #371
@almoga296, Hi I saw your answer about Unity support for Holographic remoting and Azure saptial anchor.  I am using UE5 to do Holographic remoting, do you know if UE5 support both Holographic remoting and Azure spatial anchor?
Thank you so much!

[2022-10-17 05:33] martinlzl opened #376 "Unity HoloLens 2 Watcher Debug"
Hi all,

I'm developing a simple shared experience application on the HoloLens 2 that involves sharing of anchor with Azure Spatial Anchor service in Unity.

The general creation of anchor and receiving identifier to search logic is working as intended. However, the logic on creating or locating an anchor with insufficient environment data is what I'm having troubles with. For creation of anchor,

[2022-10-17 05:46] martinlzl commented on #376
Sorry all,

On further digging, I found a [documentation](https://learn.microsoft.com/en-in/azure/spatial-anchors/how-tos/create-locate-anchors-unity#provide-feedback-to-the-user) that explains what I needed. Closing this issue.

[2022-10-17 05:46] #376 closed

[2022-10-19 15:16] cheles commented on #371
@yixun  initial question was in regards of Unity/ASA/HRemoting, where yours is Unreal/ASA/HRemoting. would you mind opening a new Github issue with your question, so any answer to it be helpful for other developers?

[2022-10-21 18:27] thomaswester opened #377 ""Could not establish Pose Query Processor Stream" Error"
**Description**

Starting October 12, 2022 we are seeing the following error when trying to locate anchors on Hololens2, anchors are not able to be found after this.

` ProcessPoseQueryStreamingEvents - OnError: gRPC error code [1] - msg [Could not establish Pose Query Processor Stream] - ReqCV [r89o1ltbRyq72H9j4vc4NA] - ResCV []`

Anchor location had been working reliable over the last 12 months.

[2022-10-23 15:36] jelmerS2 commented on #287
I'm also having this issue. iOS returns "no beacons found" while in an environment with many becaons of which the UUIDs I added to the CoarseRelocSettings. The app did ask for bluetooth permissions which I gave.

[2022-10-24 11:12] cheles commented on #377
@thomaswester would you mind opening a Microsoft developer support case here: https://developer.microsoft.com/en-us/windows/support/?tabs=Contact-us and use Mixed Reality Dev topic? I am interested in following this internally and I might need some information about your HL2 and subscription.

[2022-10-24 17:42] thomaswester commented on #377
@cheles Thank you. See support request 2210240030001181.

[2022-10-24 17:42] #377 closed

[2022-10-24 21:52] mabinthecodemaven opened #378 "Spatial anchor exception"
I am suddenly having issue with this after having it work for several weeks. Here is the log:

Microsoft.Azure.SpatialAnchors.CloudSpatialException
  at Microsoft.Azure.SpatialAnchors.NativeLibraryHelpers.CheckStatus (System.IntPtr handle, Microsoft.Azure.SpatialAnchors.status value) [0x00000] in <00000000000000000000000000000000>:0
  at Microsoft.Azure.SpatialAnchors.CloudSpatialAnchorSession+<>c

[2022-10-25 21:18] AaronTaube commented on #370
I'm experiencing something similar. My use-case is exiting the session, reconnecting and relocating the anchor by ID and having it be in a location either slightly off with a new rotation, or sometimes supposedly locating the anchor completely behind me and no where near the original location.

[2022-10-26 20:46] Varnauld commented on #373
Thanks @fieldsJacksonG for the update here. @snakex2000 I will close this issue out, but if you have any follow-up questions, do let us know,
thank you,

[2022-10-26 20:46] #373 closed

[2022-10-26 21:00] darax commented on #378
hi @mabinthecodemaven  is there any other information in the log?  I can see that creating a spatial anchor seems to be failing, but not sure why.

[2022-10-27 00:33] BlackLi-J opened #379 "AnchorModuleScript"
**Description**
 private void CloudManager_AnchorLocated(object sender, AnchorLocatedEventArgs args)
    {
        QueueOnUpdate(new Action(() => Debug.Log($"Anchor recognized as a possible Azure anchor")));

        if (args.Status == LocateAnchorStatus.Located || args.Status == LocateAnchorStatus.AlreadyTracked)
        {
            currentCloudAnchor = args.Anchor;

            QueueOnUpdate((

[2022-10-27 17:25] mabinthecodemaven commented on #378
That was the entire log.

[2022-10-28 01:32] Varnauld commented on #287
@XiangyuL-Microsoft could you look into this issue please? thank you!

[2022-10-28 01:33] Varnauld commented on #379
Hello, thank you for submitting this issue. @darax would you be available to review please?

[2022-10-28 16:50] kookoo9999 commented on #353
I have very same problem that indicates null object when I clicked Start Session Button as I run this sample project on Hololens2. If you solve the problem, Can I know your solution??
My environment is
OS : win10
Unity : 2020.3.24f1
ASA : 2.13 (failed at 2.11 & 2.10)
OpenXR : 1.3.1

[2022-10-31 23:43] DinethD-VM opened #380 "Lagging on iOS 16.1"
Trying to test the provided samples and running into heavy lag on iOS 16.1 soon as it starts capturing the environment.

Is this a known issue and if there is any solution to this?

Tested on
- iPad Pro 5th gen running iPadOS 16.1
- Unity 2020.3.1f1
- Azure Spatial Anchors SDK Core v2.13.0
- Azure Spatial Anchors SDK for Android v2.13.0
- Azure Spatial Anchors SDK for iOS v2.13.0
- AR Foundation v

[2022-11-01 15:17] snakex2000 commented on #380
Thanks for filing this report.  Adding the comment from the forum too stating this is working prior without lag with iOS 15.6 on the same iPad.

[2022-11-02 16:29] mrwellmann commented on #380
There is an in progress issue with iOS 16 and ARKit XR Plugin see https://github.com/Unity-Technologies/arfoundation-samples/issues/988 and https://issuetracker.unity3d.com/issues/ios-fps-in-the-player-is-very-low-when-using-xrcamerasubsystem-dot-trygetlatestframe.

Our solution for now is 4.2.3 without multi-threaded rendering as this does not issues.

[2022-11-03 08:28] DinethD-VM commented on #380
Many thanks. That worked.

[2022-11-05 02:06] Varnauld commented on #343
Hello @sana2024 - wanted to confirm whether we can close this issue or if you have any follow-up questions? Thank you!

[2022-11-05 02:10] Varnauld commented on #329
@tomkrikorian Wanted to check in with regards to this issue - did that update help (if so, we can close this issue). Otherwise, please let us know if you have any follow up questions or concerns, thank you!

[2022-11-05 02:23] Varnauld commented on #360
Hello @Connor-Kerwin - were you able to resolve this with the update in July? If not, would you have some further feedback you could share please? Alternatively, if the issue is resolved, may I close it? thank you

[2022-11-05 02:34] Varnauld commented on #356
Hello @WikkidEdd - did the last update in July resolve the issues you were seeing? If yes, we will go ahead and close this but if you have any further questions or concerns, please let us know. Thank you

[2022-11-05 02:37] Varnauld commented on #355
Hello @WikkidEdd - similarly for this issue, was the update in July helpful? If not, please let us know along with any additional details that may be helpful for us to investigate further, thank you

[2022-11-05 02:44] Varnauld commented on #371
@almoga296 Did the guidance provided by @cheles resolve your issue ? (if yes we can close this but I did want to check whether you had any further questions for us. Thank you!

[2022-11-05 02:48] #371 closed

[2022-11-05 02:49] Varnauld commented on #374
Hello @lmaxsmith - following up on this issue, were you able to resolve or do you have any follow up questions?
@XiangyuL-Microsoft  mentioned that you might have a feature request to share with the team, if so, please do share [here](https://feedback.azure.com/d365community/forum/f47d9b25-0725-ec11-b6e6-000d3a4f07b8)
thank you!

[2022-11-05 02:52] Varnauld commented on #375
Hello @jelmer3000 - were you able to resolve this issue? If so, ok to close or do you have any follow up questions or feedback for our teams? thank you!

[2022-11-05 02:57] Varnauld commented on #380
Thank you for the awareness @mrwellmann!

(@XiangyuL-Microsoft tracking for this item is n#42109628)

[2022-11-05 03:19] Varnauld commented on #364
@MirageRTM were you able to resolve this or would you need some further support from @davidkline-ms ? thank you

[2022-11-05 03:25] Varnauld commented on #342
Hello @zhang391239 we haven't heard back on this issue for some time so will go ahead and close this issue. If you have any follow-up questions, please do open a new issue, thank you!

[2022-11-05 03:25] #342 closed

[2022-11-05 03:32] MirageRTM commented on #364
Good morning, I workaround the issue by converting tables I needed into collection of objects and serialize it all in json files. I haven't had the opportunity to work with azure data tables so I couldn't say if the bug persists.

[2022-11-05 03:33] Varnauld commented on #359
@t5ujiri We haven't heard back in a while on this issue so I will go ahead and close. If you can share some further information on the issues you still see if any,  please re-open a new issue providing as much details as you can per the guidance from @XiangyuL-Microsoft  above. thank you!

[2022-11-05 03:33] #359 closed

[2022-11-05 03:36] Varnauld commented on #352
@Bindrr-Main - are you still experiencing this issue today? thank you

[2022-11-05 03:39] #31 closed

[2022-11-05 03:45] Varnauld commented on #354
Hi @mrwellmann @SimonDarksideJ - I think this was resolved with the last update this summer but want to make sure you don't have any further questions before we close this issue. Thanks!

[2022-11-05 03:51] Varnauld commented on #363
@sergeiromanov I believe you were able to resolve this with our Customer Support team? If so, may we close this issue? Do let us know if you have any follow-up questions. Thank you

[2022-11-05 03:57] Varnauld commented on #364
I will close it now - if you do have the opportunity to try again and run into that same bug, please do let us know (we can start a new thread) thank you! Have a great weekend

[2022-11-05 03:57] #364 closed

[2022-11-05 04:00] Varnauld commented on #370
[tracking number for this issue - 41268444]

[2022-11-05 04:07] Varnauld commented on #378
[tracking number for this issue - (42109957)]

[2022-11-05 04:08] Varnauld commented on #379
(tracking n# for this issue - 42109963)

[2022-11-06 10:39] sergeiromanov commented on #363
The issue is not resolved. The above scenario will still crash. So at the moment I'm WifiEnabled(false) is wifi is off. However this setting can't be changed during the session (or it will crash). So the app can't ask the user to turn on wifi and continue functioning without reload.

[2022-11-07 08:36] mrwellmann commented on #354
@Varnauld I think there is still some work to do here
- We are using Unity 2021 LTS with AR Foundation 4.2.3 for iOS and Android successfully. &#x2705;
- The [Dokumentation ](https://learn.microsoft.com/de-de/azure/spatial-anchors/how-tos/setup-unity-project?tabs=xr-plugin-framework%2Cunity-2020%2Cunity-package-web-ui%2CExtraConfigurationsHoloLens) is sill outdated.
- Can't say anything about the

[2022-11-10 03:23] Varnauld commented on #363
@sergeiromanov can you follow-up on this thread please? https://learn.microsoft.com/en-us/answers/questions/934556/azure-spatial-anchors-android-ndk-lib-fails-to-loa.html (I've also let the team know). Thank you!

[2022-11-10 03:25] Varnauld commented on #354
Thank you - tagging @darax for the documentation update

[2022-11-10 10:43] sergeiromanov commented on #363
@Varnauld this is a different issue. I did comment and accepted the answer on that thread.

[2022-11-11 03:56] Varnauld commented on #363
Apologies, and thank you for clarifying. Will follow up shortly, thank you

[2022-11-11 04:30] ikto-art opened #381 "Azure Anchors not working on UWP x64 OpenXR Remoting Build"
**Description**

I can't use the SpatialAnchorManager script in Unity when I try to use it in a build, after establishing a connection to a HoloLens 2 with OpenXR remoting.
[code]

**Steps to reproduce the issue**

Basic project which uses the Mixed Reality OpenXR 2.8.1 remoting runtime and MRTK 2.8.2 on Unity 2020.3.41 with UWP build.
When running built player and calling SpatialAnchorManager.Cre

[2022-11-12 05:58] ikto-art commented on #381
I also tried today to ignore the validation check in SpatialAnchorManager.cs but got this error:
`System.InvalidOperationException: Azure Spatial Anchors requires xrConvertWin32PerformanceCounterToTimeKHR, xrTryGetPerceptionAnchorFromSpatialAnchorMSFT, xrCreateSpatialAnchorFromPerceptionAnchorMSFT, xrCreateSpatialAnchorMSFT, and xrReadSpatialAnchorNeighborhoodDataMSFT extensions avaialble.`

[2022-11-12 06:03] ikto-art commented on #381
I also tried ignoring the validation checks in SpatialAnchorManager.cs and got this error from ASA:
`System.InvalidOperationException: Azure Spatial Anchors requires xrConvertWin32PerformanceCounterToTimeKHR, xrTryGetPerceptionAnchorFromSpatialAnchorMSFT, xrCreateSpatialAnchorFromPerceptionAnchorMSFT, xrCreateSpatialAnchorMSFT, and xrReadSpatialAnchorNeighborhoodDataMSFT extensions avaialble.`

[2022-11-18 11:35] Wr4th100 commented on #378
I also got the same issue but my log is like 100+ lines. Local Anchor is created but the Azure Spatial anchor doesn't. I followed the [Use Azure Spatial Anchors to anchor objects in the real world](https://learn.microsoft.com/en-us/training/modules/azure-spatial-anchors-tutorials/) tutorial and got stuck with this.

Here is my log:

[code]

Please someone help :(

[2022-11-18 18:24] dfields-msft commented on #381
@ikto-art your observations are right on track - OpenXR Remoting 2.8.1 indeed has the necessary platform support for ASA to work, but the ASA SDK still depends on a runtime-specific extension that's only present in the non-Remoting runtime. Once that dependency is removed, the ASA SDK should work with OpenXR Remoting 2.8.1 and higher.

[2022-11-21 12:21] LexDeKogel commented on #230
I'm still having this same issue, we are just working on a single Unity project so I don't know if gradle could somehow be overwritten. It always hangs on CreateSessionAsync without giving errors and I don't understand why.
My dependencies in the main graddle look like this

    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation('com.squareup.okhttp3:okhttp:[3.11.0]')

[2022-11-21 15:50] jelmerS2 opened #382 "BT status: NoBeaconsFound"
I'm developing an iOS app and need to use iBeacons because of the complexity of the building we are developing for.
However, I can't get it to work and am wondering if there is something wrong with the SDK.

Everything else works, I can create and relocalize anchors with just location, the problem is that there are far to many false positives (e.g. anchors appearing in wrong locations).

Unity: 20

[2022-11-22 04:00] Varnauld commented on #230
Hello @LexDeKogel could you open a new issue for this please? thank you!

[2022-11-22 08:49] cheles commented on #380
@Varnauld @XiangyuL-Microsoft  https://github.com/Unity-Technologies/arfoundation-samples/issues/988 has been marked as Resolved with fixes in AR Foundation/ARKit packages 4.13, 4.2.7, 5.0.3 as covered here https://github.com/Unity-Technologies/arfoundation-samples/issues/988
<5.0 versions are designed to be used in 2020.3 LTS so I've tested our sample with 4.2.7.
I can't see any camera jitter or

[2022-11-22 10:27] LexDeKogel opened #383 "CreateSessionAsync hangs indefinitely on Android but works on iOS"
**Description**

I was asked to create a new issue but it's close to the same as this https://github.com/Azure/azure-spatial-anchors-samples/issues/230

I have tried the sample app and everything seems to work as it should, when I tried to add Azure Anchors to the project we are working on however I ran into the issue that CreateSessionAsync hangs indefinitely without giving any kind of error.

I

[2022-11-22 16:04] #380 closed

[2022-11-22 22:37] thisiszy opened #384 "Can't select any button in ASA BasicDemo"
I follow [this tutorial](https://learn.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens?tabs=azure-portal) and compiled the ASA BasicDemo in this repository successfully. When I open the app in HoloLens 2, I can see the button and welcome page, however, I can't press any botton to trigger the next step.

Windows version: 22H2 19045.2251
Device: HoloLens 2
Unity vers

[2022-11-23 15:00] mrwellmann opened #385 "Can't find release notes for 2.13.3"
I'm missing something or are there just no release notes for [2.13.3](https://dev.azure.com/aipmr/MixedReality-Unity-Packages/_artifacts/feed/Unity-packages/Npm/com.microsoft.azure.spatial-anchors-sdk.core/overview/2.13.3)?

[2022-11-23 15:44] mrwellmann opened #386 "Update to AR Foundation 5.x"
Do you have upgrading ASA to support AR Foundation 5.x on the road map?
If yes it this something we can expect in Q1 or Q2 of 2023?

[2022-11-23 18:26] thejoshuafazel opened #387 "Coarse Relocation Crash - Android"
**Description**

Trying out Geolocation for Coarse Relocation and encountering a crash when enabling the sensors. Tried it out on two different projects, the first one being the Coarse Relocation Demo Example from this repository and the second one being a similar code to the example but with only Geolocation enabled.
Building only for android.

**Steps to reproduce the issue**

Sample Application

[2022-11-24 01:27] Varnauld commented on #383
Assigning to @darax (tracking n#42358280)

[2022-11-24 01:31] Varnauld commented on #384
Assigning to @pamistel  tracking n#42358297

[2022-11-24 01:37] Varnauld commented on #387
Assigning to @darax  (tracking n#42358353)

[2022-11-25 17:58] sergeiromanov commented on #387
check if this is related https://github.com/Azure/azure-spatial-anchors-samples/issues/363
I don't now about unity but in android ndk you have to be careful with how you configure location provider sensors.

[2022-11-25 18:12] thejoshuafazel commented on #387
@sergeiromanov Went through that issue before logging this one.
My wifi, bluetooth and gps are ON before running the application.

[2022-11-26 06:49] shoukailiang opened #388 "android build error（It was good before）"
**Description**

I cloned this project and opened it under unity2020.3.24. There was no error. But when I packed. apk, errors occurred. I don't understand why

**Steps to reproduce the issue**

**Screenshots**

![image](https://user-images.githubusercontent.com/24668909/204076149-f9f7eaee-aefd-42a6-bb37-cdfd4e90ea3f.png)
![image](https://user-images.githubusercontent.com/24668909/204076155-942cb39

[2022-11-27 10:59] ikto-art commented on #381
Thank you for that information. Do you know approximately when that might happen?
Also, when you say the remoting runtime has the necessary platform support you mean users of that runtime have the access to export anchors or is it a private access for now?
I wanted to try the XRAnchorTransferBatch class before replying to your comment but didn't have the time yet, I'll try it as soon as possible.

[2022-11-28 12:50] SimonDarksideJ opened #389 "AR Foundation 5.0+ support"
**Description**

Currently, Azure Spatial Anchors is only supported under ARFoundation 4 which is being replaced with V5 in Unity 2022.

To continue operation in Unity 2022, Azure SPatial Anchors needs to be updated to support ARFoundation 5+

**Steps to reproduce the issue**

If the issue occurs in one of the ASA sample apps, please detail the steps required to reproduce it. Otherwise, provide de

[2022-11-28 18:10] darax commented on #378
@mabinthecodemaven @Wr4th100
 There should be more information in the log, like messages from Unity and such.  Have you tried the sample hosted on this github repository?

[2022-11-28 18:35] darax commented on #389
Hi @SimonDarksideJ,
To get compiling with ARFoundation5 we need to add a reference to Unity.XR.CoreUtils to the ASA Asmdef. Until we have a release that does this, there are a few ways you can do this:
- after Importing Azure Spatial Anchors with the MixedRealityFeatureTool, and launching unity, the ASMDef files can be edited in unity's package cache. This isn't the best option since unity will ov

[2022-11-28 18:45] mrwellmann commented on #386
Closing this ticket is now a duplicate of https://github.com/Azure/azure-spatial-anchors-samples/issues/389

[2022-11-28 18:45] #386 closed

[2022-11-28 18:51] darax commented on #387
@thejoshuafazel  Looking through https://forum.unity.com/threads/gps-not-work-well-on-android-12.1212534/ this sounds like a known issue.

Can you try Unity >= 2020.3.31f1?

[2022-11-28 20:02] thejoshuafazel commented on #387
@darax Tried the same project with unity 2020.3.42f1 and the crash still occurs.

Additional Information: While messing around in code, I tried asking for the location access before starting the ASA session and it works fine but as soon as the ASA session starts the app crashes.

[2022-11-28 20:56] mabinthecodemaven commented on #378
The thing is I had it working, and I made no changes to my application whatsoever. I even tried redeploying the original build file(not something that can even be edited), and it still doesn't work anymore. I am thus 100% confident that the problem is not on my end. That is the entire error log, the message on Unity wasn't anything unique.

[2022-11-29 02:50] Varnauld commented on #388
Hello, apologies for the delay, assigning to @XiangyuL-Microsoft  to follow up (tracking number 42409858)

[2022-11-29 18:17] darax commented on #378
@mabinthecodemaven  The unity log has some important information:
The version of unity being used
The platform you are running on (droid, ios, windows)
Messages that might seem irrelevant, but might mean something to me.
If the service was successfully contacted, the log has an entry we can use to see what happened service side.

Even though nothing changed on your end, I'll need this to investiga

[2022-11-29 19:45] mabinthecodemaven commented on #378
I don't quite understand though. I am obviously not creating the anchor on the computer. I am attempting to create the anchor on the hololens, which is not running unity. The only way I was able to get that error log that I showed you was by editing my program to send the error code string that the hololens received from azure, to a computer over my game server. Therefore any message that unity ad

[2022-11-29 19:51] mabinthecodemaven commented on #378
I can re edit my program to produce the log again, it will take a bit of time though.

[2022-11-29 19:52] darax commented on #387
In logcat I see this:
2022-11-29 11:42:30.275 7061-7088/com.microsoft.azure.spatialanchors.examples.unity.helloar A/s.unity.helloa: java_vm_ext.cc:579] JNI DETECTED ERROR IN APPLICATION: JNI AllocObject called with pending exception java.lang.SecurityException: Need android.permission.**BLUETOOTH_SCAN** permission for AttributionSource { uid = 10412, packageName = com.microsoft.azure.spatialanchor

[2022-11-29 19:56] thejoshuafazel commented on #387
Do you mean that either we dont ask for bluetooth location permission or the bluetooth_scan should be added to the android manifest?

[2022-11-29 20:09] darax commented on #387
Yes. I'm halfway through building without a change now to make sure I'm still reproducing this. After I confirm I'll try the workarounds. Hopefully adding the bluetooth_scan permission to the manifest works.

[2022-11-29 22:20] darax commented on #387
@thejoshuafazel
I didn't see a crash when I rebuilt, but I was using the unity 2022.2 beta when I did this ( most of my time was spent futzing with input. :)). It was failing to complete the demo.
to Assets/Plugins/Android/AndroidManifest.xml  I added
`<uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>`
to Assets/AzureSpatialAnchors.Examples/Scripts/SensorPermissionsHelper I added

[2022-11-30 19:52] thejoshuafazel commented on #387
@darax

Can you tell me the package versions you used for unity 2022.2 beta?

Getting the following errors when opening the project with unity 2022.2 beta:

[code]

![image](https://user-images.githubusercontent.com/30416177/204894183-3ce6d35b-a4a7-4068-be48-5001f5a23ce3.png)

XR Core v2.1.0 is installed
AR Foundation v5.0.3 is installed

[2022-11-30 22:26] thejoshuafazel commented on #387
In the meantime, I looked through the logcat errors

The fatal error is

[code]